.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.imgdiv img {
    width: 100%;
    height: auto;
}

.imgdiv .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #72F10A;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.imgdiv .btn:hover {
    background-color: #A4DBA1;
}

.btn-selected{
    position: absolute;
    top: 70%;
    left: 50%;
    height: 50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: url(/image/btn.png) no-repeat;
    cursor:pointer;
    border: none;
    width: 100%;
    max-width: 400px;

}
.checkImg{
    size: 300px 100px;
}