<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <ul class="nav nav-justified">
              <li>
                  <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Post</a>
              </li>
              <li>
                  <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate List</a>
              </li>
              <li>
                  <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Report</a>
              </li>
              <li>
                  <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Physical Test Report</a>
              </li>
              <li>
                  <a routerLink="/admin/create/center" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Center</a>
              </li>
              <li>
                  <a routerLink="/admin/job/marks" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Candidate Marks </a>
              </li>
              <li>
                  <a (click)="logout()" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Logout</a>
              </li>
          </ul>
      </div>
  </div>
  </div>

  <div class="container-fluid" *ngIf="!showUsers">
<form #myForm="ngForm" (ngSubmit)="setGrouNameAndPost()">
   <div class="col-sm-offset-4 col-sm-4" style="margin-top:5px; border:solid #BCF1BC 2px; border-radius: 5px;">

        <div class="form-group"  style="background-color:#BCF1BC;padding:10px; margin-left:-4%;margin-right:-4%">
            <h4> Create New Group Member  </h4>
        </div>
       <div class="form-group">
           <label for="groupname">Group Name</label>
           <input type="tex" id="groupname" class="form-control" placeholder="Enter Board Master name" name="boadmasterName" [(ngModel)]="member.boadmasterName" #boadmasterName="ngModel" required />
       </div>
       <div class="form-group">
        <label for="postname"> select Post Name</label>
        <!-- <input type="tex" class="form-control" placeholder="Enter Post name" name="boadmaster"/> -->
        <select class="form-control" id="postname" name="post" [(ngModel)]="member.post" #post="ngModel" (change)="onChangePost($event.target.value)">
                <option value="0" disabled selected>Choose your option</option>
                <option *ngFor="let post of postList" value="{{post.id}}">{{post.postName}}</option>
                
        </select>
       </div>
       <div class="form-group">
        <input type="submit" class="btn btn-success btn-block"  value="Next"/>
       </div>
   </div>
</form>
  </div>

  <div class="container-fluid" *ngIf=" showUsers">
    
        <div class="row" style="text-align:center;padding-top:4px;margin-top:5px; background-color:darkorange">
           <div class="col-sm-10 h4"> {{currentGroup}} ( {{currentPost}} )</div>
           <div class="col-sm-2"> <div class="row form-group" >
                <label class="col-sm-6" style="text-align:right;"> Show user </label>
                <select class="form-control col-sm-2" style="width:60px;" (change)="onChange($event.target.value)">
                        <!-- <option value="" disabled selected>Choose your option</option> -->
                        <option value="12">1</option>
                        <option value="6">2</option>
                        <option value="4">3</option>
                        <option value="3" selected>4</option>
                        <option value="2">6</option>              
                 </select>
        
           </div></div>
        </div>
       <div class="row border imgdiv" style="padding:2px;margin-top:5px; text-align:center">
           <div class="col-sm-{{userRow}}" *ngFor="let user of userList  | paginate: { itemsPerPage: paginationSize, currentPage: p3, id: 'userId' };let i=index">
               
            <img src="../../assets/images/blank.png" alt="..." class="img-thumbnail"> 
            <input type="button"  class="btn btn-success" name="{{user.login}}" value="SELECT" style="color:#941919" (click)="selectuser($event,user)"/> 
            <!-- <button *ngIf="!btntrue" class="btn" (click)="selectuser(user)" ><img src="../../assets/images/check.png" style="height:30px;width:50%"/></button> -->
            <input type="tex" style="text-align:center" class="form-control" placeholder="{{user.firstName}} {{user.lastName}}" disabled/>
           </div>
        
       </div>
       <div class="form-group  col-sm-12"  style="text-align:center">
            <pagination-controls (pageChange)="p3 = $event" id='userId'></pagination-controls>
        </div>

       <button class="btn btn-success" (click)="saveAlldetails()" *ngIf="saveorUpdateShow">Submit</button>
       <button class="btn btn-success" (click)="updateMemberdetails()" *ngIf="!saveorUpdateShow">Update</button>
       <button  class="btn btn-default" (click)="goBack()">Back</button>
      </div>

      <hr>
      <div class="container-fluid" *ngIf="!showUsers">
                    <div class="col-sm-6">
                            <div class="row border" style="text-align:center">
                                    <h4>All Board Group List</h4>
                                </div>
                            <div class="row">
                            <table class="table table-striped table-bordered  ">
                                    <tr>
                                        <th> S.N.</th>
                                        <th> Group Name</th>
                                        <th> Post name</th>
                                        <th> Post Description</th>
                                        <th> Action</th>
                                    </tr>
                                    <tr *ngFor="let group of boardGroupList | paginate: { itemsPerPage: 5, currentPage: p1, id: 'first' };let i=index">
                                        <td>{{group.id}}</td>
                                        <td>{{group.name}}</td>
                                        <td>{{group.jobId.postName}}</td>
                                        <td>{{group.jobId.postProfile}}</td>
                                        <td>
                                            <span class="glyphicon glyphicon-plus-sign" style="color:blue" (click)="addNewBoardMember(group)"></span>
                                            <span class="glyphicon glyphicon-eye-open" (click)="getBoardMemberDetails(group)" style="color:green"></span>
                                            <!-- <button class="btn btn-default" (click)="getBoardMemberDetails(group)"> Details</button> -->
                                        </td>
                                        
                                    </tr>
                            </table>
                            <div class="form-group  col-sm-12"  style="text-align:center">
                                    <pagination-controls (pageChange)="p1 = $event" id='first'></pagination-controls>
                                </div>
                        </div>
                        </div>
                <div class="col-sm-6">
                        <div class="row" style="text-align:center">
                                <h4> {{selectGroup}} </h4>
                            </div>
                                <div class="row">
                                    <table class="table table-striped table-bordered">
                                            <tr>
                                                <th> S.N.</th>
                                                <th>  Name</th>
                                                <th> Email Id </th>
                                                
                                                <th> Action</th>
                                            </tr>
                                            <tr *ngFor="let member of groupMemberList | paginate: { itemsPerPage: 5, currentPage: p2,id: 'second' }; let j = index">
                                                <td>{{member.id}}</td>
                                                <td>{{member.userId.firstName}} {{member.userId.lastName}}</td>
                                                <td>{{member.userId.email}}</td>
                                            
                                                <td>
                                                     <span class="glyphicon glyphicon-remove-sign" (click)="removememberfromBoard(member)" style="color:red"></span>
                                                    <!-- <button class="btn btn-default" (click)="getBoardMemberDetails()"> Details</button> -->
                                                </td>
                                                
                                            </tr>
                                            <!-- <tr>
                                                    <pagination-controls (pageChange)="p1 = $e"></pagination-controls>
                                            </tr> -->
                                    </table>
                                    <div class="form-group  col-sm-12"  style="text-align:center">
                                            <pagination-controls (pageChange)="p2 = $event" id='second'></pagination-controls>
                                    </div>
                                </div>
                    
                </div>
                
           

        </div>

        
    

