<div class="row">
    <div class="col-sm-offset-1 col-sm-10" class="one">
        <div class = "panel panel-primary">
            <div class = "panel-heading">
                <h3 class = "panel-title" align="center"><b>Admit Card</b></h3>
            </div>
        <div class = "panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <form class="form-horizontal"  (submit)="downloadadmitcard()">
                    
                    <div class="form-group">
                            <label class="control-label col-sm-3" for="name">Recruitment Zone: </label>
                                <div class="col-sm-6">
                                    <select [(ngModel)]="recruitZone" name="zone" class="form-control" #zone="ngModel">
                                        <option  [value]="0">Select Marital Status</option>
                                        <option *ngFor="let zone of recruitmentzone" [value]="zone.name">{{zone.name}}</option>
                                    </select>
                                </div>
                    </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="name">Roll No: </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"  [(ngModel)]="rollNumber" id="name"  name="name">
                                </div>
                        </div>
                        
                    <div class="form-group">
                            <label class="control-label col-sm-3" for="name">Candidate Name: </label>
                                <div class="col-sm-6">
                                    <input type="name" class="form-control" id="name"  [(ngModel)]="candidateName" name="name">
                                </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-sm-3" for="name">Registration Id: </label>
                                <div class="col-sm-6">
                                    <input type="name" class="form-control" [(ngModel)]="registrationId" id="name"  name="name">
                                </div>
                    </div>
                    
                    <div class="form-group">  
                            <label class="control-label col-sm-3" for="Contact No">Date of birth: </label>
                                <div class="col-sm-6">
                                    <input type="Date of birth" class="form-control" [(ngModel)]="dob" id="Contact No" name="Date of birth">
                                </div>
                    </div>
                    
                    <div class="form-group">
                            <label class="control-label col-sm-3" for="name">Category: </label>
                                <div class="col-sm-6">
                                    <input type="name" class="form-control" [(ngModel)]="caste" id="name" name="name">
                                </div>
                    </div> 
                    


                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Centre: </label>
                        <div class="col-sm-6">
                            <!-- <textarea  [(ngModel)]="examCentre" class="form-control" rows="5"></textarea>	 -->
                            <input type="name" class="form-control" [(ngModel)]="examCentre" id="name"  name="name">
                        </div>	  
                    </div>
                    
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="post_name">Reporting Time: </label>
                        
                     
                        <div class="col-sm-6 form-inline">
                        <label>From:</label>
                         <input type="text" size="6" class="form-control" [(ngModel)]="reportingFrom" id="name"  name="name">
                        
                        <label>To:</label>
                        
                        <input type="text" size="6" class="form-control" [(ngModel)]="reportingTo" id="name"  name="name">

                        
                      </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Communication Address: </label>
                        <div class="col-sm-6">
                            <!-- <textarea  [(ngModel)]="address" class="form-control" rows="5"></textarea>	 -->
                            <input type="text" size="6" class="form-control" [(ngModel)]="address" id="name"  name="name">

                        </div>	  
                    </div>
                
             
                        <div class="form-group-inline" style="text-align:center;">
                            <button class="btn btn-danger" style=" box-shadow: 6px 6px 3px LightGrey;">Download Admit Card</button>
                        </div>
                    </form>
                     </div>
                </div>
        </div>
</div>
</div>
</div>	