<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <li>
                    <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Post</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate List</a>
                </li>
                <li>
                    <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Report</a>
                </li>
                <li>
                    <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Physical Test Report</a>
                </li>
                <li>
                    <a routerLink="/admin/create/center" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Center</a>
                </li>
                <li>
                    <a routerLink="/admin/job/marks" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Candidate Marks </a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/scanner" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Scanner</a>
                  </li>
                <li>
                    <a (click)="logout()" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Logout</a>
                </li>
            </ul>
        </div>
    </div>



    <div class="row-fluid">
        <div class="col-sm-12 border">
            <div class="font">
                
                    CREATE CENTER
                
                
            </div>
            <br>
            <form class="form-horizontal" (ngSubmit)="myForm.form.valid && createCenter()" #myForm="ngForm" nonvalidate>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                <div class="row">
                    <div style="text-align: center;" *ngIf="successField">
                            <h3 class="successmsg">
                                Center created successfully!
                                </h3>
                    </div>
                    <div class="table-responsive">

                        <table class="table table-striped" style="text-align:center;">

                            <thead>
                                <tr>

                                    <th class="inputsm col-xs-1">State Name</th>
                                    <th class="inputsm col-xs-1">City Name</th>
                                    <th class="inputsm col-xs-1">Center Name</th>
                                    <th class="inputsm col-xs-1">Address</th>
                                    <th class="inputsm col-xs-1">Capacity</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && user.stateName==0 }">
                                            <select [(ngModel)]="user.stateName" name="state" class="form-control input-sm" (change)="getCity(user.stateName)" required>
                                                <option [disabled]="true" [value]="0">Select State</option>
                                                <option *ngFor="let stat of states" [value]="stat.name">{{stat.name}}</option>
                                            </select>
                                            <div *ngIf="user.stateName == 0">
                                                <div *ngIf="myForm.submitted" class="help-block">Please Select State.</div>
                                            </div>
                                        </div>

                                       
                                    </td>

                                    <td>
                                        <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && user.cityName == 0 }">
                                            <select [(ngModel)]="user.cityName" name="city" class="form-control input-sm" #city="ngModel" required>
                                                <option [disabled]="true" [value]="0">Select City</option>
                                                <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                                            </select>
                                            <div *ngIf="user.cityName == 0">
                                                <div *ngIf="myForm.submitted" class="help-block">Please Select City.</div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                            <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && !centername.valid }">
                                        <input type="text" class="form-control input-sm" placeholder="Center Name" name="centername" maxlength="50" [(ngModel)]="user.centerName"
                                            #centername="ngModel" required>
                                        <div *ngIf="centername.invalid && myForm.submitted" class="help-block">
                                            <div *ngIf="centername.errors.required">
                                                Please Enter Center Name.
                                            </div>
                                            </div>
                                        </div>
                                    </td>


                                    <td>
                                            <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && !address.valid }">
                                        <input type="text" class="form-control input-sm" placeholder="Address" name="address" maxlength="50" [(ngModel)]="user.centerAddress"
                                            #address="ngModel" required>
                                        <div *ngIf="address.invalid && myForm.submitted" class="help-block">
                                            <div *ngIf="address.errors.required">
                                                Please Enter Address .
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                            <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && !seats.valid }">   
                                        <input type="text" class="form-control input-sm" placeholder="Available Seats" name="seats" maxlength="50" [(ngModel)]="user.availableSeats"
                                            #seats="ngModel" required>
                                        <div *ngIf="seats.invalid && myForm.submitted" class="help-block">
                                            <div *ngIf="seats.errors.required">
                                                Please Enter Available Seats.
                                            </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group" style="text-align:center;">
                    <div class="col-sm-12">
                        <button class="btn btnc btnc btn-success" style="margin-bottom:10px;">Save
                        </button>

                    </div>
                    <div style="text-align: center;" *ngIf="authenticationError">
                            <h3 class="errormsg">Something went wrong. Please try again!</h3>
                        </div>
                </div>
            </form>
            
            <hr class="horizontal_row" />
            <div style="text-align:center;" *ngIf="deleteField">
                    <h3 class="successmsg">Center Deleted successfully!</h3>
                </div>
            <form class="form-horizontal">
                    <div class="row">
                            <div class="row" *ngIf="noCenterCreated">
                                    
                                 <div class="col-sm-offset-4 col-sm-4 ">
                                    
                                    
                                     <img src="../../../assets/images/DataNotFound.jpg" />
                                 </div>
                             </div>
                          
                   
                    <div class=" col-sm-offset-2 col-sm-8 col-sm-offset-2 table-responsive">
                        <table class="table table-sm table-striped table-bordered"  *ngIf="!noCenterCreated">
                         <thead>
                            <tr>
                                <th>State Name</th>
                                <th>City Name</th>
                                <th>Center Name</th>
                                <th>Address</th>
                                <th>Capicity</th>
                                <th>Action</th>
                            </tr>
                         </thead>

                            <tbody *ngIf="!noCenterCreated">
                                <tr *ngFor="let center of  centers | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">
                                    <td>
                                        {{center.stateName}}
                                    </td>
                                    <td>
                                        {{center.cityName}}
                                    </td>
                                    <td>
                                        {{center.centerName}}
                                    </td>
                                    <td>
                                        {{center.centerAddress}}
                                    </td>
                                    <td>
                                        {{center.availableSeats}}
                                    </td>
                                    <td>
                                        <a class="glyphicon glyphicon-pencil clickPoint" data-toggle="tooltip" title="Add" style="color:green" (click)="editPost(template, center)"></a> &nbsp;
                                        <a class="glyphicon glyphicon-trash clickPoint" data-toggle="tooltip" title="Delete" style="color:red" (click)="deleteCenter(center)"></a> &nbsp;

                                    </td>
                                </tr>
                              
                            </tbody>
                           
                            <!-- <tbody *ngIf="centers.length < 1">
                                There is no center available!
                            </tbody> -->

                        </table>
                    </div>
                                <div class="form-group col-sm-12"  style="text-align:center" *ngIf="!noCenterCreated">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>
                            
                       
                            <div class="form-group col-sm-12" style="text-align:center;margin-left:15px;" *ngIf="!noCenterCreated">
                                <button class="btn btn-info" (click)="createCriteria()" style="margin-bottom:10px;">Allocate Candidates
                                </button>

                           
                        </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Center Update</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="form-group">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th  *ngIf="!successEdit" style="text-align:center;">Center Name</th>
                    <th  *ngIf="!successEdit" style="text-align:center;">Center Address</th>
                    <th  *ngIf="!successEdit" style="text-align:center;">Available Seats</th>
                 
                  </tr>
                </thead>
        <td class="col-sm-4" *ngIf="!successEdit">
            <input type="text"  class="form-control input-sm" placeholder="Center Name" name="cname" maxlength="50" [(ngModel)]="centersName.centerName">
        </td>

        <td class="col-sm-4"  *ngIf="!successEdit">
            <input type="text"  class="form-control input-sm" placeholder="Center Address" name="caddress" maxlength="50" [(ngModel)]="centersName.centerAddress">
        </td>
        <td class="col-sm-2"  *ngIf="!successEdit">
            <input type="text"  class="form-control input-sm" placeholder="Available Seats" name="availableSeat" maxlength="50" [(ngModel)]="centersName.availableSeats">
        </td>
        <div *ngIf="successEdit" style="text-align:center;">
                <h3 class="successmsg">Center updated successfully !</h3>
            </div>
            </table>
    </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="successEdit" (click)="saveEditPost()">Save</button>
        <button type="button" class="btn btn-default" (click)="closeModal()">Cancel</button>
    </div>

</ng-template>