<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8" style="margin-top: 10%;">
      <div class="alert alert-success fade in" style="text-align: center">
        <strong>Registration Successfully</strong>
        <br>
        <strong>Your RegistrationId And Password Sent on Your Registered Email Id</strong>
      </div>
      <div class="form-group row" style="text-align: center">
        <a routerLink="/home" class="btn btn-warning btn-sm">Home</a>
        <a routerLink="/candidate/login" class="btn btn-success btn-sm">Login</a>
      </div>

    </div>
  </div>
</div>