.input-sm {
    color: black;
    font-weight: 600;
    height: 28px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
    font-size: 13px;
    font-stretch: condensed;
}
.font{
    font-family: initial;
    border-bottom:1px solid FireBrick;
    font-style: initial;
    font-weight: bold;
    font-size:1.3em;
    padding-left: 20px;
    margin-top:10px;
  }
  .border{
    border:1px solid #ccc !important;
    border-radius: 25px;
    margin-top:10px;
  
  }