<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-justified">
          <li>
            <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Post</a>
          </li>
          <li>
            <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate List</a>
          </li>
          <li>
            <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Report</a>
          </li>
          <li>
            <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Physical Test Report</a>
          </li>
          <li>
            <a routerLink="/admin/create/center" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Center</a>
          </li>
          <li>
            <a routerLink="/admin/job/marks" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Marks</a>
          </li>
          <li>
            <a routerLink="/admin/candidate/scanner" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Scanner</a>
          </li>
          <li>
            <a (click)="logout()" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-sm-12 border">
        <div class="font">
          MARKS UPDATE
          <br>
        </div>
        <br>
        
        <div class="row" *ngIf="!noContent">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 table-responsive">
            <table class="table table-sm table-striped table-bordered">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Reg.No</th>
                 
                  <th>Name</th>
                  <th>Father Name</th>
                  <th>Caste</th>
                  <th>D.O.B</th>
                  <th>Obtain Marks</th>
                 
  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lists of shortlistCandidate | paginate: { itemsPerPage: 5, currentPage: p }; let i = index; let first = first; let last = last;">
                 <td>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="{{i}}"  name="nameCheck{{i}}" (change)="changeCheck($event, i)" >

                  </label>
                  </td>
  
                  <td>{{lists.registrationId}}</td>
                 
                  <td>{{lists.firstName}}
                    <span *ngIf="lists.middleName !='undefined'">{{lists.middleName}}</span>
                    <span *ngIf="lists.lastName !='undefined'"> {{lists.lastName}}</span>
                  </td>
                  <td>{{lists.fatherName}}</td>
                  <td>{{lists.category}}</td>
                  <td>{{lists.dateOfBirth | date:'dd/MM/yyyy'}}</td>
  
  
                  <td>
                    <input type="text" style="width:80px;" class="form-control input-sm" name="marks{{i}}"
                    #marks="ngModel" [(ngModel)]="lists.candidatemarks" minlength="1" maxlength="5"  />
                  </td>
               
                </tr>
  
              </tbody>
            </table>
  
            <div class="form-group" style="text-align:center;margin-right:50px;">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
  
  
            <!--<button (click)="shortlist()" class="btn btn-success center" data-placement="bottom" title="Details">Shortlist Candidate</button>-->
            <div class="form-group" style="text-align:center;margin-bottom:10px;">
              <button class="btn btn-warning"  (click)="saveMarks()">Update Marks</button>
            </div>
        
            <!-- <div class="form-group" style="text-align:center;">
                <div class="col-sm-12">
                  <button class="btn btn-success" style="margin-bottom:10px;">ADD POST&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </div>
              </div>
       -->
      
  
  
            <div class="row">
  
              <div style="text-align: center;" *ngIf="marksMessage">
                <h3 class="successmsg">
                  Marks updated successfully!
                </h3>
              </div>
            </div>
            <div *ngIf="alreadySave > 0">
              <div *ngFor="let al of alreadySave">
                <li>{{al.registrationId}}</li>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row" *ngIf="noContent">
          <hr style="background-color:black;height:2px">
          <div class="col-sm-offset-5 col-sm-4 notContent h3">
  
  
            <img src="../../../assets/images/DataNotFound.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>