label{
    line-height: 1.0;
    font-size: 13px;
    font-stretch: ultra-condensed;
    
    
}
.border{
    border:1px solid #ccc !important;
    border-radius: 25px;
}
.font{
    font-family: initial;
    border-bottom:1px solid FireBrick;
    font-style: initial;
    font-weight: bold;
    font-size:1.3em;
    padding-left: 10px;
}
.radio-inline .radio-align{
    margin-top: auto;
    vertical-align: super;
}
.checkbox-inline, .radio-inline{
    padding-left: 20px;
    vertical-align: super;
}