<div class="container">
  
    <hr style="border: 1px solid DarkRed" />​
    
    <div class="row">
       
        <div class="col-sm-offset-3 col-sm-6">
            <div class="panel panel-default" style="border-radius:25px;border-color:firebrick;">
                <div class="font">
                    
                        RESULT
                    
                </div>

                <div class="panel-body">
  
            <form class="form-horizontal" #resultForm="ngForm" (ngSubmit)="resultForm.form.valid && serachResult(result.register)" nonvalidate>
                <div class="form-group">
                    <label class="inputsm col-xs-4">Registration No: </label>
                    <div class="col-sm-5" [ngClass]="{ 'has-error': resultForm.submitted && !fname.valid }">
                        <input type="text" class="form-control input-sm" name="fname" maxlength="30" placeholder="Enter registration number" [(ngModel)]="result.register" #fname="ngModel" required>
                        <!-- <div *ngIf="resultForm.controls.nameControl.invalid">
                            <div class="help-block" *ngIf="resultForm.controls.nameControl.errors.required && !submitted">Required</div>
                        </div> -->
                        <div *ngIf="resultForm.submitted && !fname.valid" class="help-block">
                       
                          <div *ngIf="fname.errors.required">
                              Please Enter Registration No.
                          </div>
                          <div *ngIf="fname.errors.pattern">
                              Invalid No.
                          </div>
                      </div> 
                    
                      </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="inputsm col-xs-4">Date Of Birth: </label>
                    <div class="col-sm-5" [ngClass]="{ 'has-error': resultForm.submitted && !dob.valid }">
                        <!-- <input type="text" class="form-control" name="dob" maxlength="15" placeholder="Please enter your date of birth" [(ngModel)]="result.dob" #dob="ngModel" required> -->
                        <!-- <div *ngIf="resultForm.controls.dobControl.invalid">
                            <div class="help-block" *ngIf="resultForm.controls.dobControl.errors.required && !submitted">Required</div>
                        </div> -->
                        <input type="text" class="form-control input-sm" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" name="dob" #dob="ngModel" [minDate]="minDateDob" [maxDate]="maxDateDob"
                        [(ngModel)]="result.dob"  bsDatepicker #dp="bsDatepicker" required>

                        <div *ngIf="resultForm.submitted && !dob.valid" class="help-block">Date of Birth is required</div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="inputssm col-xs-4">Father Name: </label>
                    <div class="col-sm-5" [ngClass]="{ 'has-error': resultForm.submitted && !fatherName.valid }">
                        <input type="text" class="form-control input-sm" name="fatherName" maxlength="30" placeholder="Enter Father name" [(ngModel)]="result.fatherName" #fatherName="ngModel" required/>
                        <!-- <div *ngIf="resultForm.controls.fatherNameControl.invalid">
                            <div class="help-block" *ngIf="resultForm.controls.fatherNameControl.errors.required && !submitted">Required</div>
                        </div> -->
                        <div *ngIf="resultForm.submitted && !fatherName.valid" class="help-block">
                              <div *ngIf="fatherName.errors.required">
                                      Please Enter Father Name.
                                  </div>
                                  <div *ngIf="fatherName.errors.pattern">
                                      Invalid Name.
                                  </div>
                              </div> 
                    </div>
                </div>
                <h3 style="text-align:center;">
                    <button class="btn btn-danger">Check Result</button> </h3>
            </form>
        </div>
    </div>
</div>
</div>
</div>