<div class="container">
  <hr style="border: 1px solid DarkRed" />​
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6" *ngIf="!successDoc">

      <div class="panel panel-default" style="border-radius: 25px;border-color:  firebrick;">
      
         <div class="font">
           
           REGISTARTION
           
         </div>
       
        <div class="panel-body">

          <form class="form-horizontal" name="registrationForm" (ngSubmit)="registrationForm.form.valid && adminRegistration()" #registrationForm="ngForm"
            nonvalidate>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="form-group">

              <label class="inputsm col-xs-3" style="padding-left:30px;">FirstName:</label>
              <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && !firstName.valid }">
                <input type="text" maxlength="30" class="form-control input-sm" placeholder="Enter First Name" name="firstName" #firstName="ngModel"
                  [(ngModel)]="admin.firstName" pattern="^[a-zA-Z ]*$" required>
                <div *ngIf="firstName.invalid && registrationForm.submitted" class="help-block">
                  <div *ngIf="firstName.errors.required">
                    Please Enter First Name.
                  </div>
                  <div *ngIf="firstName.errors.pattern">
                    Invalid Name.
                  </div>
                </div>

              </div>

            </div>
            <div class="form-group">
              <label class="inputsm col-xs-3" for="LastName" style="padding-left:30px;">LastName:</label>
              <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && !lastName.valid }">
                <input type="text" class="form-control input-sm" maxlength="30" placeholder="Enter Last Name" name="lastName" #lastName="ngModel"
                  [(ngModel)]="admin.lastName" pattern="^[a-zA-Z ]*$" required>
                <div *ngIf="lastName.invalid && registrationForm.submitted" class="help-block">
                  <div *ngIf="lastName.errors.required">
                    Please Enter Last Name.
                  </div>
                  <div *ngIf="lastName.errors.pattern">
                    Invalid Name.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="inputsm col-xs-3" style="padding-left:30px;">Zone:</label>
              <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && admin.zone == 0}">
                <select [(ngModel)]="admin.zone" name="zone" #zone="ngModel" class="form-control input-sm" required>
                  <option [disabled]="true" [value]="0">Select Zone</option>
                  <option *ngFor="let zon of zones" [value]="zon.name">{{zon.name}}</option>
                </select>
                <div *ngIf="admin.zone == 0">
                  <div *ngIf="registrationForm.submitted" class="help-block">
                    Please Select Zone.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="inputsm col-xs-3" style="padding-left:30px;">Role:</label>
              <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && admin.authorities == 0}">
                <select multiple [(ngModel)]="admin.authorities" name="role" #role="ngModel" class="form-control input-sm" required>
                  <!-- <option [disabled]="true" [value]="0">Select Role</option> -->
                  <option *ngFor="let rol of roles" [value]="rol.value">{{rol.name}}</option>
                </select>
                <div *ngIf="admin.authorities == 0">
                  <div *ngIf="registrationForm.submitted" class="help-block">
                    Please Select Role.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="inputsm col-xs-3" style="padding-left:30px;">Email:</label>
              <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && !email.valid}">
                <input type="email" class="form-control input-sm" id="email" placeholder="Enter Email" name="email" #email="ngModel" [(ngModel)]="admin.email"
                  maxlength="30" pattern="[a-z0-9!#$%&'*+=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                  (change)="emailCheck(admin.email)" required>
                <div *ngIf="email.invalid && registrationForm.submitted" class="help-block">
                  <div *ngIf="email.errors.required">
                    Please Enter Email.
                  </div>
                  <div *ngIf="email.errors.pattern && !email.errors.minlength">
                    Invalid Email.
                  </div>
                </div>
                <div *ngIf="emailExists" class="help-block">
                  Email already exists! Please login.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="inputsm col-xs-3" style="padding-left:30px;">Password:</label>
              <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && !pwd.valid}">
                <input type="password" class="form-control input-sm" maxlength="20" placeholder="Enter password" name="pwd" #pwd="ngModel"
                  [(ngModel)]="admin.password" required>
                <div *ngIf="pwd.invalid && registrationForm.submitted" class="help-block">
                  <div *ngIf="pwd.errors.required">
                    Please Enter Password.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" align="center">

              <button type="submit" class="btn btn-success">Submit</button>

            </div>

          </form>


        </div>
      </div>
    </div>
  </div>
  <div *ngIf="successDoc" style="text-align: center;">
    <h3 class="successmsg">
      Registration successful! & Your Email ID is your User Id .
      <br>
      <br>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-5">

          <a routerLink="/admin/login" class="btn btn-primary" role="button">Login</a>
        </div>
      </div>
    </h3>
  </div>

</div>