label{
    font-size: 13px;
    margin-top: 7px;
    font-stretch: condensed;
 
    
}

.input-sm {
    color: black;
    font-weight: 600;
    height: 28px;
}
.font
{
    font-family: serif;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid firebrick;
    padding-top:10px;
    padding-bottom:10px;
   
}