<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-justified">
        <li>
          <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Post</a>
        </li>
        <li>
          <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate List</a>
        </li>
        <li>
          <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Report</a>
        </li>
        <li>
          <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Physical Test Report</a>
        </li>
        <li>
          <a routerLink="/admin/create/center" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Center</a>
        </li>
        <li>
          <a routerLink="/admin/job/marks" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Candidate Marks </a>
        </li>
        <li>
          <a routerLink="/admin/candidate/scanner" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Scanner</a>
        </li>
        <li>
          <a (click)="logout()" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <br>
    <br>
    <div class="col-sm-6">

      <div class="panel panel-default" style="border-radius: 25px;border-color:  firebrick;">

        <div class="font">

          Scanner

        </div>

        <div class="panel-body">
          <form class="form-horizontal">
            <div class="row">
              <div class="col-sm-6" *ngIf="this.deviceconnection =='false'">
                  <button class="btn btn-danger btn-block" style="margin-bottom:10px;">Device DisConnected </button>
              </div>
              <div class="col-sm-6" *ngIf="this.deviceconnection =='true'">
                  <button class="btn btn-success btn-block" style="margin-bottom:10px;">Device Connected</button>
              </div>
            </div>
          <div class="row">
            <div class="form-inline">
                <div class="form-group"style="margin-left:15px;margin-bottom:10px;" >
                    <label>Enter Registration ID : </label>
                   <input type="text" class="form-control" name="registrationId" #registrationId="ngModel" [(ngModel)]="admin.registrationId" placeholder="Enter Registration ID"> 
                   
                  </div>
                  
            </div>
            <div class="form-group" *ngIf="this.canditions==false" style="text-align: center">
                 <label style="color:crimson;">Please Enter RegistrationId</label>
              </div>
              <div class="form-group" *ngIf="fingerPrintInfo.status == 'NOTEXIST'" style="text-align: center">
                  <label style="color:crimson;">Please Enter Valid RegistrationId</label>
               </div>
              
          </div>
            <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
            <div class="row">

             
              <div class="col-sm-5" style="border:1px solid #ccc !important;height:250px;margin-right:10px;margin-left:10px;padding-top:20px;">
                   <img *ngIf="fingerPrintInfo.registrationId !=null" src="../../../assets/images/{{fingerPrintInfo.registrationId}}/{{fingerPrintInfo.fingerImage}}" style="width:200px;height:200px;"/> 
                  
                   <img  *ngIf="fingerPrintInfo.registrationId ==null" src="../../../assets/images/temp/fingerphoto.jpg" style="width:200px;height:200px;"/>
              </div>

              <div class="col-sm-3" style="padding-right:10px;">
                <div class="form-group">
                  <button class="btn btn-success btn-block" style="margin-bottom:10px;" (click)=startCapture()>Start Capture</button>
                  <!-- <button class="btn btn-success btn-block" style="margin-bottom:10px;" (click)=autoCapture()>Auto Capture</button> -->
                  <button class="btn btn-success btn-block" style="margin-bottom:10px;" (click)=matchIso()>Verification1</button>
                  <button class="btn btn-success btn-block" style="margin-bottom:10px;" (click)=matchAnsi()>Verification2</button>
                  <button class="btn btn-success btn-block" style="margin-bottom:10px;" (click)=getDetails()>GetDetail</button>
                  <button class="btn btn-success btn-block" style="margin-bottom:10px;" (click)=stopCapture()>Stop Capture</button>
                  

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
     <!--user informetions -->
    <div class="col-sm-6">
        <div class="panel panel-default" style="border-radius: 25px;border-color:  firebrick;">

            <div class="font">
    
              Candidate Informetions
    
            </div>
    
            <div class="panel-body">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="col-sm-6" style="border:1px solid #ccc !important;">
                          <img  *ngIf="fingerPrintInfo.registrationId ==null" src="../../../assets/images/temp/fingerphoto.jpg" style="width:200px;height:200px;"/>
                         
                      </div>
                      <div class="col-sm-6" style="border:1px solid #ccc !important;">
                          <!-- <img src="../../../assets/images/{{fingerPrintInfo.registrationId}}/FingerImage.bmp" style="width:240px;height:280px;"/> -->
                          <img  *ngIf="fingerPrintInfo.registrationId !=null" src="../../../assets/images/{{fingerPrintInfo.registrationId}}/{{fingerPrintInfo.fingerImage}}" style="width:200px;height:200px;"/>
                          <img  *ngIf="fingerPrintInfo.registrationId ==null" src="../../../assets/images/temp/fingerphoto.jpg" style="width:200px;height:200px;"/>
                        </div>                     
                       
                      </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <br>
                        <table class="table table-bordered">
                           <tr style="background-color: aqua;">
                             <th>Registration ID </th>
                              <th>Name </th> 
                               <th>Father's Name </th> 
                               <th>Category </th>
                                 <th>Post Name </th>
                            
                           </tr>
                           <tr>
                               <td>{{fingerPrintInfo.registrationId}}</td>
                                <td>{{fingerPrintInfo.personalDetails.firstName}} {{fingerPrintInfo.personalDetails.middleName}} {{fingerPrintInfotemp.personalDetails.lastName}}</td> 
                               <td>{{fingerPrintInfo.personalDetails.fathername}}</td>
                               <td>{{fingerPrintInfo.personalDetails.category}}</td>
                               <td>{{fingerPrintInfo.personalDetails.jobDetails.postName}}</td>
                             </tr>
                             
                            
                        </table>
                     </div>
                     <div class="row" style="text-align:center;">
                     <h3> {{fingerPrintInfo.status}}</h3>
                     </div>
                </div>
           
               
            
          </div>
      

  </div>
 
</div>
</div>
</div>

