<div class="container">
  <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-default" role="navigation" style="background-color:DarkRed;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a routerLink="/home"><b>HOME</b></a></li>
              <li><a routerLink="/about"><b>ABOUT US</b></a></li>
              <li><a routerLink="/candidate/result"><b>RESULT</b></a></li>
  
              <li class="dropdown" dropdown>
                <a routerLink="/contact" dropdownToggle class="dropdown-toggle">
                    <b>RECRUITMENT ZONE</b>
                    <span class="caret"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu" style="background-color:DarkRed;">
                    <li>
                        <a routerLink="/contact">
                            <b>PUNE</b>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/contact">
                            <b>TEZPUR</b>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/contact">
                            <b>RISHIKESH</b>
                        </a>
                    </li>
                </ul>
            </li>
  
              <li><a routerLink="/contact"><b>CONTACT US</b></a></li>
              <li><a routerLink="/admin/login"><b>ADMIN LOGIN</b></a></li>
  
            </ul>
          </div>
        </nav>
      </div>
    </div>
  
  </div>
  
  
  <div class="container" style="padding-top:20px;">
      <div class="container">
          <div class="row">
              <div class="col-sm-offset-4 col-sm-4">
                  <strong> <pre style="text-align:center;">Ritu Dimri:543786546</pre>
       <pre style="text-align:center;">Danish:543786546</pre>
       <pre style="text-align:center;">Ragunath:543786546</pre>
       <pre style="text-align:center;">Dheeraj:543786546</pre></strong>
              </div>
          </div>
      </div>
  
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <footer>
          <div class="row">
  
              <!-- <h5 align="center"><b>Powered By:&nbsp&nbsp<a href="http://www.ysssolutions.net/" style="background-color:#ffffa0; color:red"> YSS IT SERVICES & SOLUTIONS PVT LTD</a>&nbsp&nbsp C@2017</b>
                  <h5> -->
                      <h5 align="center">
          <b>Powered By:
            <a href="http://www.ysssolutions.net/" style="background-color:#ffffa0; color:red"> YSS IT SERVICES & SOLUTIONS PVT LTD</a> C@2017 
            </b>
        </h5>
          </div>
      </footer>
  </div> 