<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <li>
                    <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Post</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate List</a>
                </li>
                <li>
                    <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Report</a>
                </li>
                <li>
                    <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Physical Test Report</a>
                </li>
                <li>
                    <a routerLink="/admin/create/center" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Center</a>
                </li>
                <li>
                    <a routerLink="/admin/job/marks" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Candidate Marks </a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/scanner" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Scanner</a>
                  </li>
                <li>
                    <a (click)="logout()" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Logout</a>
                </li>
            </ul>
        </div>
    </div>



    <div class="row-fluid">
        <div class="col-sm-12 border">
            <div class="font">
                
                <br>
            </div>
            <form class="form-horizontal" (ngSubmit)="myForm.form.valid &&  centerAlloction()" #myForm="ngForm" nonvalidate>
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                <div class="row">
                    <div style="text-align: center;" *ngIf="successField">
                        <h3 class="successmsg">
                            Center Allocation successfully!
                        </h3>
                    </div>
                       <div style="text-align: center;" *ngIf="authenticationError">
                        <h3 class="errormsg">Something went wrong. Please try again!</h3>
                    </div>
                    <div class="table-responsive">

                        <table class="table table-sm table-hover" style="text-align:center;">

                            <thead>
                                <tr>

                                    <th style="text-align:center;">Zone Name</th>
                                    <th style="text-align:center;">Center Name</th>
                                    <th style="text-align:center;">Registration From</th>
                                    <th style="text-align:center;">Registration To</th>
                                    <th style="text-align:center;">Date</th>
                                    <th style="text-align:center;">Time</th>
                                    <th style="text-align:center;">Duaration</th>
                                    <th style="text-align:center;">Total Count</th>


                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                     <td>
                                        <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && user.zoneName == 0 }">
                                                <select [(ngModel)]="user.zoneName" name="zone" #zone="ngModel" class="form-control input-sm" required>
                                                    <option [disabled]="true" [value]="0">Select Zone</option>
                                                    <option *ngFor="let zo of zones" [value]="zo.zone">{{zo.zone}}</option>
                                                </select>
                                            <div *ngIf="user.zoneName == 0">
                                                    <div *ngIf="myForm.submitted" class="help-block">Please Select Zone.</div>
                                            </div>

                                        </div>

                                      
                                    </td>

                                    <td>
                                        <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && user.centerName == 0 }">
                                            <select name="center"  #center="ngModel" [(ngModel)]="user.centerName"  class="form-control input-sm" required>
                                                <option [disabled]="true"  [value]="0">Select Center</option>
                                                <option *ngFor="let stat of centerNames" [value]="stat.centerName">{{stat.centerName}}, {{stat.centerAddress}}</option>
                                            </select>
                                            <div *ngIf="user.centerName == 0">
                                                <div *ngIf="myForm.submitted" class="help-block">Please Select Center.</div>
                                            </div>
                                        </div>
                                        
                                    </td>

                                    <td>
                                        <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && user.registrationIdFrom == 0 }">
                                            <select name="idfrom"   #idfrom="ngModel" [(ngModel)]="user.registrationIdFrom" class="form-control input-sm" required>
                                                <option  [disabled]="true" [value]="0">Select Reg.From</option>
                                                <option *ngFor="let cand of candidates" [value]="cand.id">{{cand.id}}</option>
                                            </select>
                                            <div *ngIf="user.registrationIdFrom == 0">
                                                <div *ngIf="myForm.submitted" class="help-block">Please Select Registration Id.</div>
                                            </div>
                                        </div>
                                    </td>


                                    <td>
                                        <!-- <input type="text" name="registrationIdTo" [(ngModel)]="user.registrationIdTo" class="form-control" placeholder="Registration From"> -->
                                        <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && user.registrationIdTo == 0 }">
                                            <select name="idto" #idto="ngModel" [(ngModel)]="user.registrationIdTo" class="form-control input-sm" (change)="totalCounts()" required>
                                                <option  [disabled]="true" [value]="0">Select Reg.To</option>
                                                <option *ngFor="let cand of candidates" [value]="cand.id">{{cand.id}}</option>
                                            </select>
                                            <div *ngIf="user.registrationIdTo == 0">
                                                <div *ngIf="myForm.submitted" class="help-block">Please Select Registration Id.</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && !examDate.valid }">
                                            <input type="text" size="7" class="form-control input-sm" name="examDate"  #examDate="ngModel"  [(ngModel)]="user.examDate" [minDate]="minDateRangeFrom"
                                                [maxDate]="maxDateRangeTo" [bsConfig]="bsConfig" bsDatepicker #dp="bsDatepicker"
                                                placeholder="mm/dd/yyyy" required/>
                                            <div *ngIf="examDate.invalid && myForm.submitted" class="help-block">
                                                <div *ngIf="examDate.errors.required">
                                                    Please Enter Exam Date.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && !examTime.valid }">
                                            <input type="text" size="7" class="form-control input-sm" name="examTime"  #examTime="ngModel" [(ngModel)]="user.examTime"  placeholder="Exam Time"
                                                required/>
                                            <div *ngIf="examTime.invalid && myForm.submitted" class="help-block">
                                                <div *ngIf="examTime.errors.required">
                                                    Please Enter Exam Time.
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12" style="padding-left:0px;" [ngClass]="{ 'has-error': myForm.submitted && !duration.valid }">
                                            <input type="text" size="9" class="form-control input-sm" name="duration"  #duration="ngModel" [(ngModel)]="user.duration"  placeholder="Exam Duration"
                                                required/>
                                            <div *ngIf="duration.invalid && myForm.submitted" class="help-block">
                                                <div *ngIf="duration.errors.required">
                                                    Please Enter Exam Duration.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{end}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group" style="text-align:center;">
                    <div class="col-sm-12">
                        <button class="btn btnc btnc btn-success" style="margin-bottom:10px;">Save
                        </button>

                    </div>
                    <div style="text-align: center;" *ngIf="authenticationError">
                            <h3 class="errormsg">Something went wrong. Please try again!</h3>
                        </div>
                </div>
            </form>
            <hr class="horizontal_row" />
            <form class="form-horizontal">
                    <div class="row">
                            <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 table-responsive">
                                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                                    <table class="table table-sm table-striped table-bordered">
                            
                                        <thead>
                                            <tr>
                                                <th>Zone Name</th>
                                                <th>Center Name</th>
                                                <th>Registration From</th>
                                                <th>Registration To</th>
                                                <th>Exam Date</th>
                                                <th>Exam Time</th>
                                                <th>Duration</th>
                            
                            
                            
                                            </tr>
                                        </thead>
                            
                                        <tbody>
                            
                                            <tr *ngFor="let allocation of  centerAllocationAll | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;" >
                            
                                                <td>
                                                    {{allocation.zoneName}}
                                                </td>
                            
                                                <td>
                                                    {{allocation.centerName}}
                                                </td>
                                                <td>
                                                    {{allocation.registrationIdFrom}}
                                                </td>
                                                <td>
                                                    {{allocation.registrationIdTo}}
                                                </td>
                                                <td>
                                                    {{allocation.examDate | date:'dd/MM/yyyy'}}
                                                </td>
                                                <td>
                                                    {{allocation.examTime}}
                                                </td>
                                                <td>
                                                    {{allocation.duration}}
                                                </td>
                            
                            
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                                
                                        <div class="form-group col-sm-12" style="text-align:center">
                                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                        </div>
                                    
                            
                            
                            </div>
                            </form>
        </div>

    </div>
   
   
    