.font{
    font-family: initial;
    border-bottom:1px solid FireBrick;
    font-style: initial;
    font-weight: bold;
    font-size:1.3em;
    padding-left: 20px;
    margin-top:10px;
  }
  .border{
    border:1px solid #ccc !important;
    border-radius: 25px;
    margin-top:10px;
  
  }