<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <!--<li>
                  <a routerLink="/candidate/login/preview" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Basic Detail</a>
              </li>
              <li>
                  <a routerLink="/candidate/login/preview" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Upload Photo & Signature</a>
              </li>-->
                <li>
                    <a routerLink="/candidate/preview" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Preview</a>
                </li>
                <li>
                    <a routerLink="/candidate/payment" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Payment</a>
                </li>
                <li>
                    <a (click)="logout()" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-sm-12" style=" border:1px solid #ccc !important;border-radius:25px; margin-top:10px;">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="font" style="font-family:initial;
                border-bottom:1px solid FireBrick;
                font-style: initial;
                font-weight: bold;
                font-size:1.3em;
                padding-left: 20px;
                margin-top:10px;">
                PREVIEW
                <br>
            </div>
            <form>

                <div *ngIf="marqueeFlag">
                    <b>
                        <marquee style="cursor: pointer;" direction=left scrolldelay="120" onmouseover="this.stop();" onmouseout="this.start();">
                            <a (click)="generateAdmitCard()">Download Admit Card</a>
                        </marquee>
                    </b>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="table table-bordered table-hover">
                            <table class="table">
                                <thead style="font-family: initial; font-size: 1.0em;">
                                    <tr>
                                        <th>Registration No:</th>
                                        <td>{{personals.registrationId}}</td>
                                    </tr>
                                    <tr>
                                        <th>Post Name:</th>
                                        <td>{{personals.jobDetails.postName}}</td>
                                    </tr>

                                    <tr>
                                        <th>Recruitment Zone:</th>
                                        <td>{{personals.recruitmentZone}}</td>
                                    </tr>

                                    <tr>
                                        <th>First Name:</th>
                                        <td>{{personals.firstName}}</td>
                                    </tr>

                                    <tr>
                                        <td *ngIf="personals.middleName !='undefined' && personals.middleName === undefined ">Middle Name:</td>
                                        <td *ngIf="personals.middleName !='undefined' && personals.middleName === undefined ">{{personals.middleName}}</td>
                                    </tr>

                                    <tr>
                                        <td *ngIf="personals.lastName !='undefined' && personals.lastName === undefined ">Last Name:</td>
                                        <td *ngIf="personals.lastName !='undefined' && personals.lastName === undefined ">{{personals.lastName}}</td>
                                    </tr>

                                    <tr>
                                        <th>Father's Name </th>
                                        <td>{{personals.fatherName}}</td>
                                    </tr>

                                    <tr>
                                        <th>Mother's Name</th>
                                        <td>{{personals.motherName}}</td>
                                    </tr>

                                    <tr>
                                        <th>Category</th>
                                        <td>{{personals.category}}</td>
                                    </tr>

                                    <tr>
                                        <th>DOB </th>
                                        <td>{{personals.dateOfBirth | date:'dd-MM-yyyy'}}</td>
                                    </tr>

                                    <tr>
                                        <th>Mobile Number </th>
                                        <td>{{personals.mobileNumber}}</td>
                                    </tr>

                                    <tr>
                                        <th>Email</th>
                                        <td>{{personals.emailAddress}}</td>
                                    </tr>

                                    <tr>
                                        <th>Nationality</th>
                                        <td>{{personals.nationality}}</td>
                                    </tr>

                                    <tr>
                                        <th>Aadhaar Card:</th>
                                        <td *ngIf="personals.aadhaarCard === true">Yes</td>
                                        <td *ngIf="personals.aadhaarCard === false">No</td>

                                    </tr>

                                    <tr>
                                        <th>Aadhaar No.:</th>
                                        <td *ngIf="personals.aadhaarCard === true">{{personals.aadhaarNumber}}</td>
                                        <td *ngIf="personals.aadhaarCard === false">No</td>

                                    </tr>

                                    <tr>
                                        <th>Marital Status: </th>
                                        <td>{{personals.maritalStatus}}</td>
                                    </tr>

                                    <tr>
                                        <th>Minority community:</th>
                                        <td *ngIf="personals.belongCommunity === true">Yes</td>
                                        <td *ngIf="personals.belongCommunity === false">No</td>

                                    </tr>
                                    <tr>
                                        <th>Community:</th>
                                        <td *ngIf="personals.belongCommunity === true">{{personals.communityName}}</td>
                                        <td *ngIf="personals.belongCommunity === false">No</td>

                                    </tr>

                                    <tr>
                                        <th>Height(Cm.):</th>
                                        <td>{{personals.candidateHeight}}</td>

                                    </tr>
                                    <tr>
                                        <th>Weight(Kg.):</th>
                                        <td>{{personals.candidateWeight}}</td>

                                    </tr>

                                    <tr>
                                        <th>Blood Group:</th>
                                        <td>{{personals.bloodGroup}}</td>

                                    </tr>
                                    <tr>
                                        <th>EyeSight:</th>
                                        <td>{{personals.eyeSight}}</td>

                                    </tr>

                                    <tr>
                                        <th>Permanent Address</th>
                                        <td>{{personals.permanentAddress}}, {{personals.permanentCity}}, {{personals.permanentState}},
                                            {{personals.permanentPincode}}
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <tr>
                            <td>
                                <img src="../../../assets/images/{{personals.registrationId}}/{{personals.certificate.browsePhoto}}" style="width:200px;height:200px; margin-bottom: 20px; margin-left: 50px;">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="../../../assets/images/{{personals.registrationId}}/{{personals.certificate.browseSignature}}" style="width:200px;height:50px; margin-bottom: 20px; margin-left: 50px;">
                            </td>
                        </tr>


                        <div class="table-responsive table table-bordered table-hover" style="margin: 20px;">
                            <table class="table">
                                <thead style="font-family: initial; font-size: 1.0em;">
                                    <tr>
                                        <th>Postal Address: </th>
                                        <td>{{personals.postalAddress}}, {{personals.postalCity}}, {{personals.postalState}},
                                            {{personals.postalPincode}}</td>
                                    </tr>


                                    <tr>
                                        <th>Payment</th>
                                        <td *ngIf="personals.payment === true">Yes</td>
                                        <td *ngIf="personals.payment === false">No</td>
                                    </tr>
                                    <tr>
                                        <th>Son/Daughter Ex-serviceman:</th>
                                        <td *ngIf="personals.sonDaughterExservice === true">Yes</td>
                                        <td *ngIf="personals.sonDaughterExservice === false">No</td>

                                    </tr>
                                    <tr *ngIf="personals.sonDaughterExservice === true">
                                        <th>Army No:</th>
                                        <td>{{personals.armyNumber}}</td>

                                    </tr>

                                    <tr *ngIf="personals.sonDaughterExservice === true">
                                        <th>Rank:</th>
                                        <td>{{personals.armyRank}}</td>

                                    </tr>
                                    <tr>
                                        <th>Son/Daughter serving/retired GREF per:</th>
                                        <td *ngIf="personals.sonDaughterGref === true">Yes</td>
                                        <td *ngIf="personals.sonDaughterGref === false">No</td>

                                    </tr>
                                    <tr *ngIf="personals.sonDaughterGref === true">
                                        <th>GS NO.:</th>
                                        <td>{{personals.sonDaughterNumber}}</td>
                                    </tr>
                                    <tr *ngIf="personals.sonDaughterGref === true">
                                        <th>Rank:</th>
                                        <td>{{personals.sonDaughterRank}}</td>

                                    </tr>
                                    <tr *ngIf="personals.sonDaughterGref === true">
                                        <th>Name:</th>
                                        <td>{{personals.sonDaughterName}}</td>
                                    </tr>

                                    <tr>
                                        <th>Brother/Sister serving in GREF/Army:</th>
                                        <td *ngIf="personals.brotherSisterGref === true">Yes</td>
                                        <td *ngIf="personals.brotherSisterGref === false">No</td>

                                    </tr>
                                    <tr *ngIf="personals.brotherSisterGref === true">
                                        <th>Army/GS No:</th>
                                        <td>{{personals.brotherSisterNumber}}</td>

                                    </tr>
                                    <tr *ngIf="personals.brotherSisterGref === true">
                                        <th>Rank:</th>
                                        <td>{{personals.brotherSisterRank}}</td>

                                    </tr>
                                    <tr *ngIf="personals.brotherSisterGref === true">
                                        <th>Name:</th>
                                        <td> {{personals.brotherSisterName}}</td>

                                    </tr>

                                    <tr>
                                        <th>Central Government:</th>
                                        <td *ngIf="personals.centralGovt === true">Yes</td>
                                        <td *ngIf="personals.centralGovt === false">No</td>

                                    </tr>
                                    <tr *ngIf="personals.centralGovt === true">
                                        <th>Served From:</th>
                                        <td>{{personals.servedFrom | date:'dd-MM-yyyy'}}</td>

                                    </tr>
                                    <tr *ngIf="personals.centralGovt === true">
                                        <th>Served To:</th>
                                        <td>{{personals.servedTo | date:'dd-MM-yyyy'}}</td>

                                    </tr>

                                    <tr>
                                        <th>Armed Force:</th>
                                        <td *ngIf="personals.armedForce === true">Yes</td>
                                        <td *ngIf="personals.armedForce === false">No</td>

                                    </tr>
                                    <tr *ngIf="personals.armedForce === true">
                                        <th>Served From:</th>
                                        <td>{{personals.armedFrom | date:'dd-MM-yyyy'}}</td>

                                    </tr>
                                    <tr *ngIf="personals.armedForce === true">
                                        <th>Served To:</th>
                                        <td>{{personals.armedTo | date:'dd-MM-yyyy'}}</td>

                                    </tr>
                                    <tr *ngIf="personals.armedForce === true">
                                        <th>Army No:</th>
                                        <td>{{personals.armedarmyNumber}}</td>

                                    </tr>


                                    <tr>
                                        <th>Employee/Ex-Employee of GREF/BRO:</th>
                                        <td *ngIf="personals.empExGref === true">Yes</td>
                                        <td *ngIf="personals.empExGref === false">No</td>

                                    </tr>
                                    <tr *ngIf="personals.empExGref === true">
                                        <th>Served From:</th>
                                        <td>{{personals.servedBroFrom | date:'dd-MM-yyyy'}}</td>

                                    </tr>
                                    <tr *ngIf="personals.empExGref === true">
                                        <th>Served To:</th>
                                        <td>{{personals.servedBroTo | date:'dd-MM-yyyy'}}</td>

                                    </tr>
                                    <tr *ngIf="personals.empExGref === true">
                                        <th>Gs No:</th>
                                        <td>{{personals.gsNumber}}</td>

                                    </tr>
                                </thead>
                            </table>
                        </div>




                    </div>

                </div>
                <div class="row" style="padding-left:20px;">
                    <div class="font" style="font-family: initial; font-weight: bold;font-size: 1.3em;padding-left: 8px">
                        High School
                    </div>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.essential.highYear != '0' ">Year Of Passing</th>
                                    <th *ngIf="personals.essential.highBoard != '0' ">Board</th>
                                    <th *ngIf="personals.essential.highInstitution != 'null' ">Institution</th>
                                    <th *ngIf="personals.essential.highSpecialization != 'null' ">Specialization</th>
                                    <th *ngIf="personals.essential.highCourseType != '0' ">Course Type</th>
                                    <th *ngIf="personals.essential.highTotalMarks != '0' ">Total Marks</th>
                                    <th *ngIf="personals.essential.highObtainMarks != '0' ">Obtained Marks</th>
                                    <th *ngIf="personals.essential.highPercentage != '0' ">Percentage</th>
                                    <th *ngIf="personals.essential.highGrade != 'undefined' && personals.essential.highGrade === undefined ">Grade</th>
                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.essential.highYear != '0' ">{{personals.essential.highYear}}</td>
                                    <td *ngIf="personals.essential.highBoard != '0' ">{{personals.essential.highBoard}}</td>
                                    <td *ngIf="personals.essential.highInstitution != 'null' ">{{personals.essential.highInstitution}}</td>
                                    <td *ngIf="personals.essential.highSpecialization != 'null' ">{{personals.essential.highSpecialization}}</td>
                                    <td *ngIf="personals.essential.highCourseType != '0' ">{{personals.essential.highCourseType}}</td>
                                    <td *ngIf="personals.essential.highTotalMarks != '0' ">{{personals.essential.highTotalMarks}}</td>
                                    <td *ngIf="personals.essential.highObtainMarks != '0' ">{{personals.essential.highObtainMarks}}</td>
                                    <td *ngIf="personals.essential.highPercentage != '0' ">{{personals.essential.highPercentage}}</td>
                                    <td *ngIf="personals.essential.highGrade != 'undefined' && personals.essential.highGrade === undefined ">{{personals.essential.highGrade}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr *ngIf="!interNull">
                <div class="row" style="padding-left:20px;" *ngIf="!interNull">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        InterMediate
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.essential.interYear != '0' ">Year Of Passing</th>
                                    <th *ngIf="personals.essential.interBoard != '0' ">Board</th>
                                    <th *ngIf="personals.essential.interInstitution != 'null' ">Institution</th>
                                    <th *ngIf="personals.essential.interSpecialization != 'null' ">Specialization</th>
                                    <th *ngIf="personals.essential.interCourseType != '0' ">Course Type</th>
                                    <th *ngIf="personals.essential.interTotalMarks != '0' ">Total Marks</th>
                                    <th *ngIf="personals.essential.interObtainMarks != '0' ">Obtained Marks</th>
                                    <th *ngIf="personals.essential.interPercentage != '0' ">Percentage</th>
                                    <th *ngIf="personals.essential.interGrade != 'undefined' && personals.essential.interGrade === undefined ">Grade</th>
                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.essential.interYear != '0' ">{{personals.essential.interYear}}</td>
                                    <td *ngIf="personals.essential.interBoard != '0' ">{{personals.essential.interBoard}}</td>
                                    <td *ngIf="personals.essential.interInstitution != 'null' ">{{personals.essential.interInstitution}}</td>
                                    <td *ngIf="personals.essential.interSpecialization != 'null' ">{{personals.essential.interSpecialization}}</td>
                                    <td *ngIf="personals.essential.interCourseType != '0' ">{{personals.essential.interCourseType}}</td>
                                    <td *ngIf="personals.essential.interTotalMarks != '0' ">{{personals.essential.interTotalMarks}}</td>
                                    <td *ngIf="personals.essential.interObtainMarks != '0' ">{{personals.essential.interObtainMarks}}</td>
                                    <td *ngIf="personals.essential.interPercentage != '0' ">{{personals.essential.interPercentage}}</td>
                                    <td *ngIf="personals.essential.interGrade != 'undefined' && personals.essential.interGrade === undefined ">{{personals.essential.interGrade}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr *ngIf="personals.essential.hindiTyping != '0' ">
                <div class="row" style="padding-left:20px;" *ngIf="personals.essential.hindiTyping != '0' ">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        Typing
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.essential.hindiTyping != '0' ">Speed in Hindi</th>
                                    <th *ngIf="personals.essential.englishTyping != '0' ">Speed in English</th>

                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.essential.hindiTyping != '0' ">{{personals.essential.hindiTyping}}</td>
                                    <td *ngIf="personals.essential.englishTyping != '0' ">{{personals.essential.englishTyping}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr *ngIf="personals.essential.hindiStenography != '0' ">
                <div class="row" style="padding-left:20px;" *ngIf="personals.essential.hindiStenography != '0' ">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        StenoGrapher
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.essential.hindiStenography != '0' ">Speed in Hindi</th>
                                    <th *ngIf="personals.essential.englishStenography != '0' ">Speed in English</th>

                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.essential.hindiStenography != '0' ">{{personals.essential.hindiStenography}}</td>
                                    <td *ngIf="personals.essential.englishStenography != '0' ">{{personals.essential.englishStenography}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <hr *ngIf="!ugNull">
                <div class="row" style="padding-left:20px;" *ngIf="!ugNull">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        Graduation
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.graduation.ugCourse != '0' ">Course</th>
                                    <th *ngIf="personals.graduation.ugPassingYear != '0' ">Year of Passing</th>
                                    <th *ngIf="personals.graduation.ugUniversity != '0' ">University</th>
                                    <th *ngIf="personals.graduation.ugInstitution != 'null' ">Institution</th>
                                    <th *ngIf="personals.graduation.ugSpecialization != 'null' ">Specialization</th>
                                    <th *ngIf="personals.graduation.ugCourseType != '0' ">Course Type</th>
                                    <th *ngIf="personals.graduation.ugTotalMarks != '0' ">Total Marks</th>
                                    <th *ngIf="personals.graduation.ugObtainMarks != '0' ">Obtained Marks</th>
                                    <th *ngIf="personals.graduation.ugPercentage != '0' ">Percentage</th>

                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.graduation.ugCourse != '0' ">{{personals.graduation.ugCourse}}</td>
                                    <td *ngIf="personals.graduation.ugPassingYear != '0' ">{{personals.graduation.ugPassingYear}}</td>
                                    <td *ngIf="personals.graduation.ugUniversity != '0' ">{{personals.graduation.ugUniversity}}</td>
                                    <td *ngIf="personals.graduation.ugInstitution != 'null' ">{{personals.graduation.ugInstitution}}</td>
                                    <td *ngIf="personals.graduation.ugSpecialization != 'null' ">{{personals.graduation.ugSpecialization}}</td>
                                    <td *ngIf="personals.graduation.ugCourseType != '0' ">{{personals.graduation.ugCourseType}}</td>
                                    <td *ngIf="personals.graduation.ugTotalMarks != '0' ">{{personals.graduation.ugTotalMarks}}</td>
                                    <td *ngIf="personals.graduation.ugObtainMarks != '0' ">{{personals.graduation.ugObtainMarks}}</td>
                                    <td *ngIf="personals.graduation.ugPercentage != '0' ">{{personals.graduation.ugPercentage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr *ngIf="!ugNull">
                <div class="row" style="padding-left:20px;" *ngIf="!ugNull">
                    <h4>
                        <u>
                            <b>Graduation</b>
                        </u>
                    </h4>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.graduation.ugCourse != '0' ">Course</th>
                                    <th *ngIf="personals.graduation.ugPassingYear != '0' ">Year of Passing</th>
                                    <th *ngIf="personals.graduation.ugUniversity != '0' ">University</th>
                                    <th *ngIf="personals.graduation.ugInstitution != 'null' ">Institution</th>
                                    <th *ngIf="personals.graduation.ugSpecialization != 'null' ">Specialization</th>
                                    <th *ngIf="personals.graduation.ugCourseType != '0' ">Course Type</th>
                                    <th *ngIf="personals.graduation.ugTotalMarks != '0' ">Total Marks</th>
                                    <th *ngIf="personals.graduation.ugObtainMarks != '0' ">Obtained Marks</th>
                                    <th *ngIf="personals.graduation.ugPercentage != '0' ">Percentage</th>

                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.graduation.ugCourse != '0' ">{{personals.graduation.ugCourse}}</td>
                                    <td *ngIf="personals.graduation.ugPassingYear != '0' ">{{personals.graduation.ugPassingYear}}</td>
                                    <td *ngIf="personals.graduation.ugUniversity != '0' ">{{personals.graduation.ugUniversity}}</td>
                                    <td *ngIf="personals.graduation.ugInstitution != 'null' ">{{personals.graduation.ugInstitution}}</td>
                                    <td *ngIf="personals.graduation.ugSpecialization != 'null' ">{{personals.graduation.ugSpecialization}}</td>
                                    <td *ngIf="personals.graduation.ugCourseType != '0' ">{{personals.graduation.ugCourseType}}</td>
                                    <td *ngIf="personals.graduation.ugTotalMarks != '0' ">{{personals.graduation.ugTotalMarks}}</td>
                                    <td *ngIf="personals.graduation.ugObtainMarks != '0' ">{{personals.graduation.ugObtainMarks}}</td>
                                    <td *ngIf="personals.graduation.ugPercentage != '0' ">{{personals.graduation.ugPercentage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr *ngIf="!pgNull">
                <div class="row" style="padding-left:20px;" *ngIf="!pgNull">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        Post Graduation
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.graduation.pgCourse != '0' ">Course</th>
                                    <th *ngIf="personals.graduation.pgPassingYear != '0' ">Year of Passing</th>
                                    <th *ngIf="personals.graduation.pgUniversity != '0' ">University</th>
                                    <th *ngIf="personals.graduation.pgInstitution != 'null' ">Institution</th>
                                    <th *ngIf="personals.graduation.pgSpecialization != 'null' ">Specialization</th>
                                    <th *ngIf="personals.graduation.pgCourseType != '0' ">Course Type</th>
                                    <th *ngIf="personals.graduation.pgTotalMarks != '0' ">Total Marks</th>
                                    <th *ngIf="personals.graduation.pgObtainMarks != '0' ">Obtained Marks</th>
                                    <th *ngIf="personals.graduation.pgPercentage != '0' ">Percentage</th>




                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.graduation.pgCourse != '0' ">{{personals.graduation.pgCourse}}</td>
                                    <td *ngIf="personals.graduation.pgPassingYear != '0' ">{{personals.graduation.pgPassingYear}}</td>
                                    <td *ngIf="personals.graduation.pgUniversity != '0' ">{{personals.graduation.pgUniversity}}</td>
                                    <td *ngIf="personals.graduation.pgInstitution != 'null' ">{{personals.graduation.pgInstitution}}</td>
                                    <td *ngIf="personals.graduation.pgSpecialization != 'null' ">{{personals.graduation.pgSpecialization}}</td>
                                    <td *ngIf="personals.graduation.pgCourseType != '0' ">{{personals.graduation.pgCourseType}}</td>
                                    <td *ngIf="personals.graduation.pgTotalMarks != '0' ">{{personals.graduation.pgTotalMarks}}</td>
                                    <td *ngIf="personals.graduation.pgObtainMarks != '0' ">{{personals.graduation.pgObtainMarks}}</td>
                                    <td *ngIf="personals.graduation.pgPercentage != '0' ">{{personals.graduation.pgPercentage}}</td>
                                </tr>
                            </tbody>



                        </table>
                    </div>
                </div>
                <hr *ngIf="!diplomaNull">
                <div class="row" style="padding-left:20px;" *ngIf="!diplomaNull">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        Diploma
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.technical.diplomaBranch != '0' ">Branch</th>
                                    <th *ngIf="personals.technical.diplomaYear != '0' ">Year of Passing</th>
                                    <th *ngIf="personals.technical.diplomaUniversity != '0' ">University</th>
                                    <th *ngIf="personals.technical.diplomaInstitution != 'null' ">Institution</th>
                                    <th *ngIf="personals.technical.diplomaSpecialization != 'null' ">Specialization</th>
                                    <th *ngIf="personals.technical.diplomaCourseType != '0' ">Course Type</th>
                                    <th *ngIf="personals.technical.diplomaTotalMarks != '0' ">Total Marks</th>
                                    <th *ngIf="personals.technical.diplomaObtainMarks != '0' ">Obtained Marks</th>
                                    <th *ngIf="personals.technical.diplomaPercentage != '0' ">Percentage</th>

                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.technical.diplomaBranch != '0' ">{{personals.technical.diplomaBranch}}</td>
                                    <td *ngIf="personals.technical.diplomaYear != '0' ">{{personals.technical.diplomaYear}}</td>
                                    <td *ngIf="personals.technical.diplomaUniversity != '0' ">{{personals.technical.diplomaUniversity}}</td>
                                    <td *ngIf="personals.technical.diplomaInstitution != 'null' ">{{personals.technical.diplomaInstitution}}</td>
                                    <td *ngIf="personals.technical.diplomaSpecialization != 'null' ">{{personals.technical.diplomaSpecialization}}</td>
                                    <td *ngIf="personals.technical.diplomaCourseType != '0' ">{{personals.technical.diplomaCourseType}}</td>
                                    <td *ngIf="personals.technical.diplomaTotalMarks != '0' ">{{personals.technical.diplomaTotalMarks}}</td>
                                    <td *ngIf="personals.technical.diplomaObtainMarks != '0' ">{{personals.technical.diplomaObtainMarks}}</td>
                                    <td *ngIf="personals.technical.diplomaPercentage != '0' ">{{personals.technical.diplomaPercentage}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <hr *ngIf="!degreeNull">
                <div class="row" style="padding-left:20px;" *ngIf="!degreeNull">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        Degree
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">


                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.technical.degreeBranch != '0' ">Branch</th>
                                    <th *ngIf="personals.technical.degreeYear != '0' ">Year of Passing</th>
                                    <th *ngIf="personals.technical.degreeUniversity != '0' ">University</th>
                                    <th *ngIf="personals.technical.degreeInstitution != 'null' ">Institute</th>
                                    <th *ngIf="personals.technical.degreeSpecialization != 'null' ">Specialization</th>
                                    <th *ngIf="personals.technical.degreeCourseType != '0' ">Course Type</th>
                                    <th *ngIf="personals.technical.degreeTotalMarks != '0' ">Total Marks</th>
                                    <th *ngIf="personals.technical.degreeMarksObtain != '0' ">Obtained Marks</th>
                                    <th *ngIf="personals.technical.degreePercentage != '0' ">Percentage</th>

                                </tr>
                            

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.technical.degreeBranch != '0' ">{{personals.technical.degreeBranch}}</td>
                                    <td *ngIf="personals.technical.degreeYear != '0' ">{{personals.technical.degreeYear}}</td>
                                    <td *ngIf="personals.technical.degreeUniversity != '0' ">{{personals.technical.degreeUniversity}}</td>
                                    <td *ngIf="personals.technical.degreeInstitution != 'null' ">{{personals.technical.degreeInstitution}}</td>
                                    <td *ngIf="personals.technical.degreeSpecialization != 'null' ">{{personals.technical.degreeSpecialization}}</td>
                                    <td *ngIf="personals.technical.degreeCourseType != '0' ">{{personals.technical.degreeCourseType}}</td>
                                    <td *ngIf="personals.technical.degreeTotalMarks != '0' ">{{personals.technical.degreeTotalMarks}}</td>
                                    <td *ngIf="personals.technical.degreeMarksObtain != '0' ">{{personals.technical.degreeMarksObtain}}</td>
                                    <td *ngIf="personals.technical.degreePercentage != '0' ">{{personals.technical.degreePercentage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr *ngIf="!itiNull">
                <div class="row" style="padding-left:20px;" *ngIf="!itiNull">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        ITI
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.technical.itiBranch != '0' ">Branch</th>
                                    <th *ngIf="personals.technical.itiYear != '0' ">Year of Passing</th>
                                    <th *ngIf="personals.technical.itiInstitution != 'null' ">Institution</th>
                                    <th *ngIf="personals.technical.itiUniversity != '0' ">University</th>
                                    <th *ngIf="personals.technical.itiSpecialization != 'null' ">Specialization</th>
                                    <th *ngIf="personals.technical.itiCourseType != '0' ">Course Type</th>
                                    <th *ngIf="personals.technical.itiTotalMarks != '0' ">Total Marks</th>
                                    <th *ngIf="personals.technical.itiMarksObtain != '0' ">Obtained Marks</th>
                                    <th *ngIf="personals.technical.itiPercentage != '0' ">Percentage</th>

                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.technical.itiBranch != '0' ">{{personals.technical.itiBranch}}</td>
                                    <td *ngIf="personals.technical.itiYear != '0' ">{{personals.technical.itiYear}}</td>
                                    <td *ngIf="personals.technical.itiUniversity != '0' ">{{personals.technical.itiUniversity}}</td>
                                    <td *ngIf="personals.technical.itiInstitution != 'null' ">{{personals.technical.itiInstitution}}</td>
                                    <td *ngIf="personals.technical.itiSpecialization != 'null' ">{{personals.technical.itiSpecialization}}</td>
                                    <td *ngIf="personals.technical.itiCourseType != '0' ">{{personals.technical.itiCourseType}}</td>
                                    <td *ngIf="personals.technical.itiTotalMarks != '0' ">{{personals.technical.itiTotalMarks}}</td>
                                    <td *ngIf="personals.technical.itiMarksObtain != '0' ">{{personals.technical.itiMarksObtain}}</td>
                                    <td *ngIf="personals.technical.itiPercentage != '0' ">{{personals.technical.itiPercentage}}</td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                </div>

                <hr *ngIf="!companyNull">
                <div class="row" style="padding-left:20px;" *ngIf="!companyNull">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        Experience
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th *ngIf="personals.experience.companyName != 'null' ">Company Name</th>
                                    <th *ngIf="personals.experience.cinNumber != 'undefined' && personals.experience.cinNumber === undefined ">Cin Number</th>
                                    <th *ngIf="personals.experience.regtinNumber != 'undefined' && personals.experience.regtinNumber === undefined ">Registration/Tin Number</th>
                                    <th *ngIf="personals.experience.employmentFrom != 'null' ">Employement From</th>
                                    <th *ngIf="personals.experience.employmentTo != 'null' ">Employement To</th>
                                    <th *ngIf="personals.experience.workNature != 'null' ">Work Nature</th>
                                    <th *ngIf="personals.experience.monthlySalary != '0' ">Monthly Salary</th>
                                    <th *ngIf="personals.experience.temporaryPermanent != 'null' ">Temprory/permanent</th>
                                </tr>


                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr>
                                    <td *ngIf="personals.experience.companyName != 'null' ">{{personals.experience.companyName}}</td>
                                    <td *ngIf="personals.experience.cinNumber != 'undefined' && personals.experience.cinNumber === undefined ">{{personals.experience.cinNumber}}</td>
                                    <td *ngIf="personals.experience.regtinNumber != 'undefined' && personals.experience.regtinNumber === undefined ">{{personals.experience.regtinNumber}}</td>
                                    <td *ngIf="personals.experience.employmentFrom != 'null' ">{{personals.experience.employmentFrom | date:'dd-MM-yyyy' }}</td>
                                    <td *ngIf="personals.experience.employmentTo != 'null' ">{{personals.experience.employmentTo | date:'dd-MM-yyyy'}}</td>
                                    <td *ngIf="personals.experience.workNature != 'null' ">{{personals.experience.workNature}}</td>
                                    <td *ngIf="personals.experience.monthlySalary != '0' ">{{personals.experience.monthlySalary}}</td>
                                    <td *ngIf="personals.experience.temporaryPermanent != 'null' ">{{personals.experience.temporaryPermanent}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr *ngIf="!lmvNull || !hgmvNull || !rrNull || !oegNull">
                <div class="row" style="padding-left:20px;" *ngIf="!lmvNull || !hgmvNull || !rrNull || !oegNull">
                    <div class="font" style=" font-family: initial; font-size: 1.1em;">
                        Driving Details
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table bordered table-hover">
                            <thead style="font-family: initial; font-size: 1.1em;">
                                <tr>
                                    <th></th>
                                    <th>Licence No</th>
                                    <th>Date of Issue</th>
                                    <th>Validity Upto</th>
                                    <th>Issuing Authority</th>
                                </tr>
                            </thead>

                            <tbody style="font-family: initial; font-size: 1.0em;">
                                <tr *ngIf=!lmvNull>
                                    <th>LMV</th>
                                    <td *ngIf="personals.driving.licenceNumberLmv != 'undefined' && personals.driving.licenceNumberLmv === undefined ">{{personals.driving.licenceNumberLmv}}</td>
                                    <td *ngIf="personals.driving.issueDateLmv != 'null' ">{{personals.driving.issueDateLmv | date:'dd-MM-yyyy'}}</td>
                                    <td *ngIf="personals.driving.validUptoLmv != 'null' ">{{personals.driving.validUptoLmv | date:'dd-MM-yyyy'}}</td>
                                    <td *ngIf="personals.driving.issuingAuthorityLmv != 'null' ">{{personals.driving.issuingAuthorityLmv}}</td>
                                </tr>
                                <tr *ngIf=!hgmvNull>
                                    <th>HMV</th>
                                    <td *ngIf="personals.driving.licenceNumberHgmv != 'null' ">{{personals.driving.licenceNumberHgmv}}</td>
                                    <td *ngIf="personals.driving.issueDateHgmv != 'null' ">{{personals.driving.issueDateHgmv | date:'dd-MM-yyyy'}}</td>
                                    <td *ngIf="personals.driving.validUptoHgmv != 'null' ">{{personals.driving.validUptoHgmv | date:'dd-MM-yyyy'}}</td>
                                    <td *ngIf="personals.driving.issuingAuthorityHlmv != 'null' ">{{personals.driving.issuingAuthorityHlmv}}</td>
                                </tr>
                                <tr *ngIf=!rrNull>
                                    <th>RoadRoller</th>
                                    <td *ngIf="personals.driving.licenceNumberRoad != 'null' ">{{personals.driving.licenceNumberRoad}}</td>
                                    <td *ngIf="personals.driving.issueDateRoad != 'null' ">{{personals.driving.issueDateRoad | date:'dd-MM-yyyy'}}</td>
                                    <td *ngIf="personals.driving.validUptoRoad != 'null' ">{{personals.driving.validUptoRoad | date:'dd-MM-yyyy'}}</td>
                                    <td *ngIf="personals.driving.issuingAuthorityRoad != 'null' ">{{personals.driving.issuingAuthorityRoad}}</td>
                                </tr>
                                <tr *ngIf=!oegNull>
                                    <th>Loader/Excavator</th>
                                    <td *ngIf="personals.driving.licenceNumberOeg != 'null' ">{{personals.driving.licenceNumberOeg}}</td>
                                    <td *ngIf="personals.driving.issueDateOeg != 'null' ">{{personals.driving.issueDateOeg | date:'dd-MM-yyyy'}}</td>
                                    <td *ngIf="personals.driving.validUptoOeg != 'null' ">{{personals.driving.validUptoOeg | date:'dd-MM-yyyy'}}</td>
                                    <td *ngIf="personals.driving.issuingAuthorityOeg != 'null' ">{{personals.driving.issuingAuthorityOeg}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <div class="row" style="text-align:center;">
                  <div class="col-sm-12">
                      <label>Photo</label>
                      <img style="border:1px solid black;" hspace="20" class="img-rounded c_pic" alt="photo" width="200" height="200"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label>Signature</label>
                      <img style="border:1px solid black;" hspace="20" class="img-rounded s_pic" alt="signature" width="150" height="150">
                  </div>
              </div> -->

                <div class="row" style="text-align:center;font-family: initial; font-size: 1.1em;">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="declare" checked>I hereby declare that all the information furnished above are true, complete and correct to the
                            best of my knowledge and belief and that in the event of any information being found false or
                            incorrect or ineligibility being detected before or after the examination / allotment, action
                            can be taken against me by the Commissioner for Entrance Examinations.</label>
                    </div>
                </div>
                <div class="form-group" style="text-align:center;">
                    <div class="col-sm-12">
                        <button class="btn btn-success" style="margin-bottom:10px; box-shadow: 6px 6px 3px LightGrey;" (click)="myprint()"> Print&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>