<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-default" role="navigation" style="background-color:DarkRed;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a routerLink="/home">
                <b>HOME</b>
              </a>
            </li>
            <li>
              <a routerLink="/about">
                <b>ABOUT US</b>
              </a>
            </li>
            <li>
              <a routerLink="/candidate/result">
                <b>RESULT</b>
              </a>
            </li>

            <li class="dropdown" dropdown>
              <a routerLink="/apply" dropdownToggle class="dropdown-toggle">
                <b>RECRUITMENT ZONE</b>
                <span class="caret"></span>
              </a>
              <ul *dropdownMenu class="dropdown-menu" style="background-color:DarkRed;">
                <li>
                  <a routerLink="/home">
                    <b>PUNE</b>
                  </a>
                </li>
                <li>
                  <a routerLink="/home">
                    <b>TEZPUR</b>
                  </a>
                </li>
                <li>
                  <a routerLink="/home">
                    <b>RISHIKESH</b>
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a routerLink="/contact">
                <b>CONTACT US</b>
              </a>
            </li>
            <li>
              <a routerLink="/admin/login">
                <b>ADMIN LOGIN</b>
              </a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row" *ngIf="noActiveJobs">

    <div class="col-sm-offset-4 col-sm-4 ">


      <img src="../../../assets/images/DataNotFound.jpg" />
    </div>
  </div>
  <div class="row" *ngIf="!noActiveJobs">
    <div class="col-sm-offset-3 col-sm-6">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">
            <b>Apply For Various Post</b>
          </h3>
        </div>


        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped" >

              <thead>
                <tr>
                  <th>Sr.No.</th>
                  <th>Post Name</th>
                  <th>Notification</th>
                  <th>Registration</th>
                </tr>

              </thead>

              <tbody>

                <tr *ngFor="let jobs of activeJobs | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">
                  <td>{{i+1}}</td>
                  <td>
                    <b>{{jobs.postName}}</b>
                  </td>

                  <td *ngIf="jobs.postDetailsDocument == null">NA</td>

                  <td *ngIf="jobs.postDetailsDocument != null">
                    <!-- <a (click)="showDoc()">
                      <b>
                        <img src="{{imagePath}}">
                      </b>
                    </a> -->
                    <a href="../../assets/images/{{jobs.id}}/{{jobs.postDetailsDocument}}" target="_blank">Document Link</a>
                  </td>
                  <td>

                    <a (click)="applyJob(jobs)" style="cursor: pointer;">
                      <b>Apply Online</b>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="4" style="text-align:center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>