<app-candidate-list-modal></app-candidate-list-modal>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <li>
                    <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Post</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate List</a>
                </li>
                <li>
                    <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Report</a>
                </li>
                <li>
                    <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Physical Test Report</a>
                </li>
                <li>
                    <a routerLink="/admin/create/center" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Center</a>
                </li>
                <li>
                    <a routerLink="/admin/job/marks" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Candidate Marks </a>
                </li>
                <li>
                    <a (click)="logout()" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Logout</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
        <div class="col-sm-12" style="border:1px solid black; margin-top:10px;">
            <div class="row">
                <h5 style="font-size:1.3em; border-bottom:3px solid Crimson; padding-left:30px ;">
                    <b>Candidate Details</b>
                    <a (click)="getCandidateList()" data-toggle="tooltip" title="Refresh">
                        <span class="glyphicon glyphicon-refresh" style="cursor: pointer;"></span>
                    </a>
                </h5>
                <h4 class="text-center">
                    <strong>
                        <u>Total Count : {{candidateList.length}}</u>
                    </strong>
                </h4>
            </div>
            <br>

            <div>
                <form class="form-inline" (submit)="applyFilter()">
                    <div class="row" style="text-align:center;">
                        <div class="col-sm-12">
                            <div class="col-sm-12 form-inline">
                                <div class="row">
                                    <div class="col-sm-2">
                                        By Reg Id
                                        <input type="text" size="10" class="form-control input-sm" [(ngModel)]="filter.registrationId" placeholder="Registartion Id"
                                            name="registerId" />
                                    </div>

                                    <div class="col-sm-2">
                                        By FirstName
                                        <input type="text" size="10" class="form-control input-sm" [(ngModel)]="filter.candidateName" placeholder="FirstName" name="cname"
                                        />
                                    </div>

                                    <div class="col-sm-2">
                                        By Post
                                        <input type="text" size="10" class="form-control input-sm" [(ngModel)]="filter.postName" placeholder="Post Name" name="pname"
                                        />
                                    </div>

                                    <div class="col-sm-2">
                                        By Percentage
                                        <input type="text" size="10" class="form-control input-sm" [(ngModel)]="filter.percentage" placeholder="Percentage" name="percentage"
                                        />
                                    </div>

                                    <div class="col-sm-2">
                                        By Category
                                        <select class="form-control input-sm" [(ngModel)]="filter.category" name="category">
                                            <option [disabled]="true" [value]="null">Select Category</option>
                                            <option *ngFor="let name of categories" [value]="name.category">{{name.category}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        By Education
                                        <select class="form-control input-sm" [(ngModel)]="filter.qualification" name="qualification">
                                            <option [disabled]="true" [value]="null">Select Course</option>
                                            <option *ngFor="let course of courses;" [value]="course">{{course}}</option>

                                        </select>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>

                                            <th> By Id
                                                <input type="text" size="10" class="form-control input-sm" [(ngModel)]="filter.registrationId" placeholder="Registartion Id"
                                                    name="registerId" />
                                            </th>
                                            <th> By FirstName
                                                <input type="text" size="10" class="form-control input-sm" [(ngModel)]="filter.candidateName" placeholder="FirstName" name="cname"
                                                />
                                            </th>
                                            <th>By Post
                                                <input type="text" size="10" class="form-control input-sm" [(ngModel)]="filter.postName" placeholder="Post Name" name="pname"
                                                />
                                            </th>
                                            <th>By Percentage
                                                <input type="text" size="10" class="form-control input-sm" [(ngModel)]="filter.percentage" placeholder="Percentage" name="percentage"
                                                />
                                            </th>
                                            <th>By Caste
                                                <select class="form-control input-sm" [(ngModel)]="filter.category" name="category">
                                                    <option [disabled]="true" [value]="null">Select Category</option>
                                                    <option *ngFor="let name of categories" [value]="name.category">{{name.category}}</option>
                                                </select>
                                            </th>
                                            <th>By Education
                                                <select class="form-control input-sm" [(ngModel)]="filter.qualification" name="qualification">
                                                    <option [disabled]="true" [value]="null">Select Course</option>
                                                    <option *ngFor="let course of courses;" [value]="course">{{course}}</option>

                                                </select>
                                            </th>

                                            <th>By Grade
                                                <select class="form-control input-sm">
                                                    <option value="">Select Grade</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                    <option value="D">D</option>
                                                    <option value="E">E</option>
                                                </select>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div> -->

                            <div class="col-sm-12 form-inline">
                                <div class="row">
                                    <div class="col-sm-2">
                                        By Grade
                                        <select class="form-control input-sm">
                                            <option value="">Select Grade</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>
                                            <option value="E">E</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" [(ngModel)]="filter.nccb" name="nccCert">
                                            <b>Ncc C</b>
                                        </label>
                                    </div>

                                    <div class="col-sm-1">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" [(ngModel)]="filter.nccc" name="ncbCert">
                                            <b>Ncc B</b>
                                        </label>
                                    </div>

                                    <div class="col-sm-1">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" [(ngModel)]="filter.disable" name="disablit">
                                            <b>Disability</b>
                                        </label>
                                    </div>
                                    <div class="col-sm-1">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" [(ngModel)]="filter.nonindian" name="nindian">
                                            <b>Non Indian</b>
                                        </label>
                                    </div>

                                    <div class="col-sm-1">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" [(ngModel)]="filter.sportsman" name="sports">
                                            <b>Sportsman</b>
                                        </label>
                                    </div>

                                    <div class="col-sm-1">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" [(ngModel)]="filter.age" name="age">
                                            <b> Age </b>
                                        </label>
                                    </div>

                                    <div class="col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" [(ngModel)]="filter.brosister" name="barmy">
                                            <b>Brother/Sister Served in GREF/Army</b>
                                        </label>
                                    </div>

                                    <div class="col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" [(ngModel)]="filter.sondaughterEsm" name="esm">
                                            <b>Son/Daughter. of ESM</b>
                                        </label>
                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-12 form-inline">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" [(ngModel)]="filter.centrakgov" name="cgovt">
                                            <b>Working/Ex. in Central Govt</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.nccb" name="nccCert">
                                                    <b>Ncc C</b>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.nccc" name="ncbCert">
                                                    <b>Ncc B</b>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.disable" name="disablit">
                                                    <b>Disability</b>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.nonindian" name="nindian">
                                                    <b>Non-Indian</b>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.sportsman" name="sports">
                                                    <b>Sportsman</b>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.age" name="age">
                                                    <b> Age </b>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.brosister" name="barmy">
                                                    <b>Brother/Sister Served in GREF/Army</b>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.sondaughterEsm" name="esm">
                                                    <b>Son/Daughter. of ESM</b>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.sondaughterGref" name="serret">
                                                    <b>Son/Daughter. of Served/Retired GREF</b>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" [(ngModel)]="filter.centrakgov" name="cgovt">
                                                    <b>Working/Ex. in Central Govt</b>


                                                </label>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div> -->


                            <!-- <label>Search By</label>
                            <div class="form-group">
                                <input type="text" size="8" class="form-control" [(ngModel)]="filter.registrationId" placeholder="Reg. id" name="registerId"
                                />
                            </div> &nbsp;
                            <div class="form-group">
                                <input type="text" size="8" class="form-control" [(ngModel)]="filter.candidateName" placeholder="Cand. Name" name="cname"
                                />
                            </div>&nbsp;
                            <div class="form-group">
                                <input type="text" size="8" class="form-control" [(ngModel)]="filter.postName" placeholder="Cand Post" name="pname" />
                            </div>
                            &nbsp;&nbsp;
                            <div class="form-group">
                                <label>Caste</label>
                                <select class="form-control" [(ngModel)]="filter.category" name="category">
                                        <option [disabled]="true" [value]="null">Select Category</option>
                                    <option *ngFor="let name of categories" [value]="name.category">{{name.category}}</option>
                                </select>
                            </div>
                            &nbsp; &nbsp;
                            <div class="form-group">
                                <label>Edu</label>
                                <select class="form-control" [(ngModel)]="filter.qualification" name="qualification">
                                    <option [disabled]="true" [value]="null">Select Course</option>
                                    <option *ngFor="let course of courses;" [value]="course">{{course}}</option>

                                </select>
                            </div>
                            &nbsp; &nbsp;
                            <div class="form-group">
                                <label>Per</label>
                                <div class="form-group">
                                    <input type="text" size="8" class="form-control" [(ngModel)]="filter.percentage" placeholder="Cand % " name="percentage"
                                    />
                                </div>
                            </div>
                            &nbsp; &nbsp;
                            <div class="form-group">
                                <label>Grade</label>
                                <select class="form-control">
                                    <option value="">Select</option>
                                    <option value="A"> A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                    <!-- <br>
                    <div class="row">
                        <div class="col-sm-12 form-inline" style="text-align:center;">
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.nccb" name="nccCert">
                                <b>NccC</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.nccc" name="ncbCert">
                                <b>NccB</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.disable" name="disablit">
                                <b>Disability</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.nonindian" name="nindian">
                                <b>Non-Indian</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.sportsman" name="sports">
                                <b>Sportsman</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.sondaughterEsm" name="esm">
                                <b>Son/Daug. of Esm</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.sondaughterGref" name="serret">
                                <b>Son/Daug. of ser/ret GREF</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.brosister" name="barmy">
                                <b>Bro/Sis ser. in GREF/Army</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.centrakgov" name="cgovt">
                                <b>Working/Ex. in ctrl govt</b>


                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.age" name="age">
                                <b> Age </b>
                            </label>&nbsp;&nbsp;
                        </div>
                    </div> -->
                    <br>

                    <div class="row">
                        <div class="form-group-inline">
                            <div class="col-sm-12" style="text-align:center;">
                                <button class="btn btn-info ">Search</button>
                                <button class="btn btn-warning " (click)="reset()">Reset</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div style="text-align: center;" *ngIf="shortlistMessage">
                            <h3 class="successmsg">
                                Candidates successfully shortlisted !
                            </h3>
                        </div>
                    </div>
                    <div *ngIf="alreadyShortlisted > 0">
                        <div *ngFor="let al of alreadyShortlisted">
                            <li>{{al.registrationId}}</li>
                        </div>
                    </div>


                </form>
            </div>
            <br>

            <form class="form-inline" (submit)="shortlist()">
                <div class="row" *ngIf="!noContent">
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                    <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Reg. No</th>
                                    <th>Post</th>
                                    <th>Name</th>
                                    <th>Caste</th>
                                    <th>D.O.B</th>
                                    <th>Age</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let lists of candidateList | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">
                                    <td>{{lists.registrationId}}</td>
                                    <td>{{lists.jobDetails.postName}}</td>
                                    <td>{{lists.firstName}}
                                        <span *ngIf="lists.middleName !='undefined' && lists.middleName !== undefined ">{{lists.middleName}}</span>
                                        <span *ngIf="lists.lastName !='undefined' && lists.lastName !== undefined"> {{lists.lastName}}</span>
                                    </td>
                                    <td>{{lists.category}}</td>
                                    <td>{{lists.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                                    <td>{{lists.age }}</td>

                                    <!-- <th>{{lists.nationality}}</th> -->

                                    <!-- <td><a href="#"><span data-toggle="tooltip" title="Search" class="glyphicon glyphicon-search"></span></a></td> -->
                                    <td>
                                        <a (click)="openModal(lists)" class="btn btn-success" data-placement="bottom" title="Details">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                        <!-- <a (click)="createPdf(lists)" class="btn btn-success" data-placement="bottom" title="Details">AdmitCard
                                                <span class="glyphicon glyphicon-send"></span>
                                        </a> -->
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                        <div class="col-sm-offset-3 col-sm-8">
                            <div class="form-group" style="text-align:center;">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>

                            <br>
                            <!--<button (click)="shortlist()" class="btn btn-success center" data-placement="bottom" title="Details">Shortlist Candidate</button>-->
                            <div class="form-group" style="text-align:center;margin-left:60px;margin-bottom:5px;">
                                <button class="btn btn-success">Shortlist Candidate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row" *ngIf="noContent">
                <hr style="background-color:black;height:2px">
                <div class="col-sm-offset-4 col-sm-4 notContent h3">
                    <!-- {{message}} -->

                    <img src="../../../assets/images/DataNotFound.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>