<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:center;">Candidate Details</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true" data-toggle="tooltip" title="Close">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <tabset>
                        <tab heading="Personal Information">
                            <div class="row">
                                <div col-sm-12>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="../../../assets/images/{{popupvalues.registrationId}}/{{certificate.browsePhoto}}" style="border:1px solid black;"
                                                            hspace="20" class="img-rounded c_pic" alt="photo" width="200" height="200">
                                                    </td>
                                                    <td>
                                                        <img src="../../../assets/images/{{popupvalues.registrationId}}/{{certificate.browseSignature}}" style="border:1px solid black;"
                                                            hspace="20" class="img-rounded s_pic" alt="signature" width="150"
                                                            height="150">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Fee(Amount)</td>
                                                    <td *ngIf="popupvalues.payment === false">Unpaid</td>
                                                    <td *ngIf="popupvalues.payment === true">Paid</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="table">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>Registration No</th>
                                                <td>{{popupvalues.registrationId}}</td>
                                            </tr>

                                            <tr>
                                                <th>Post Name</th>
                                                <td>{{jobDetails.postName}}</td>
                                            </tr>

                                            <tr>
                                                <th>Recruitment Zone</th>
                                                <td>{{popupvalues.recruitmentZone}}</td>
                                            </tr>

                                            <tr>
                                                <th>Candidate Name</th>
                                                <td>{{popupvalues.firstName}}
                                                    <span *ngIf="popupvalues.middleName != 'undefined' ">{{popupvalues.middleName}} </span>
                                                    <span *ngIf="popupvalues.lastName != 'undefined' ">
                                                        {{popupvalues.lastName}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Father's Name</th>
                                                <td>{{popupvalues.fatherName}}</td>

                                            </tr>

                                            <tr>
                                                <th>Mother's Name</th>
                                                <td>{{popupvalues.motherName}}</td>
                                            </tr>

                                            <tr>
                                                <th>Category</th>
                                                <td>{{popupvalues.category}} &nbsp;&nbsp;
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.categoryCertificate}}" data-toggle="tooltip"
                                                        *ngIf="popupvalues.categoryCertificate !== null" title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.categoryCertificate}}" download data-toggle="tooltip"
                                                        *ngIf="popupvalues.categoryCertificate !== null" title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>

                                            </tr>
                                            <tr>
                                                <th>Date Of Birth</th>
                                                <td>{{popupvalues.dateOfBirth | date:'dd-MM-yyyy'}}</td>
                                            </tr>

                                            <tr>
                                                <th>Gender</th>
                                                <td>{{popupvalues.gender}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="table">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>Mobile No</th>
                                                <td>{{popupvalues.mobileNumber}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email Id</th>
                                                <td>{{popupvalues.emailAddress}}</td>
                                            </tr>

                                            <tr>
                                                <th>Nationality</th>
                                                <td>{{popupvalues.nationality}}</td>
                                            </tr>

                                            <tr>
                                                <th>Aadhaar Card</th>
                                                <td *ngIf="popupvalues.aadhaarCard === true">Yes &nbsp; &nbsp;
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.aadharCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp; &nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.aadharCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                                <td *ngIf="popupvalues.aadhaarCard === false">No</td>


                                            </tr>

                                            <tr *ngIf="popupvalues.aadhaarCard === true">
                                                <th>Aadhaar No</th>
                                                <td *ngIf="popupvalues.aadhaarCard === true">{{popupvalues.aadhaarNumber}}</td>
                                                <td *ngIf="popupvalues.aadhaarCard === false">No</td>

                                            </tr>

                                            <tr>
                                                <th>Marital Status</th>
                                                <td>{{popupvalues.maritalStatus}}</td>
                                            </tr>

                                            <tr>
                                                <th>Minority Community</th>
                                                <td *ngIf="popupvalues.belongCommunity === true">Yes</td>
                                                <td *ngIf="popupvalues.belongCommunity === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.belongCommunity === true">
                                                <th>Community</th>
                                                <td *ngIf="popupvalues.belongCommunity === true">{{popupvalues.communityName}}</td>
                                                <td *ngIf="popupvalues.belongCommunity === false">No</td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>Candidate Height</th>
                                                <td>{{popupvalues.candidateHeight}} cm</td>
                                            </tr>

                                            <tr>
                                                <th>Candidate Weight</th>
                                                <td>{{popupvalues.candidateWeight}} cm</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>Blood Group</th>
                                                <td>{{popupvalues.bloodGroup}}</td>
                                            </tr>

                                            <tr>
                                                <th>Eye Sight</th>
                                                <td>{{popupvalues.eyeSight}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <u>
                                                <th style="padding-left: .2cm;">Permanent Address</th>
                                            </u>
                                            <tr>
                                                <th>Address</th>
                                                <td>{{popupvalues.permanentAddress}}</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>{{popupvalues.permanentCity}}</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>{{popupvalues.permanentState}}</td>
                                            </tr>
                                            <tr>
                                                <th>Pincode</th>
                                                <td>{{popupvalues.permanentPincode}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <u>
                                                <th style="padding-left: .2cm;">Postal Address</th>
                                            </u>
                                            <tr>
                                                <th>Address</th>
                                                <td>{{popupvalues.permanentAddress}}</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>{{popupvalues.postalCity}}</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>{{popupvalues.postalState}}</td>
                                            </tr>
                                            <tr>
                                                <th>Pincode</th>
                                                <td>{{popupvalues.postalPincode}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>Ex-Service Man Of Armed Force</th>
                                                <td *ngIf="popupvalues.armedForce === true">Yes</td>
                                                <td *ngIf="popupvalues.armedForce === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.armedForce===true">
                                                <th>Served Date(From-To)</th>
                                                <td *ngIf="popupvalues.armedForce === true">{{popupvalues.armedFrom | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="popupvalues.armedForce === true">{{popupvalues.armedTo | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="popupvalues.armedForce === false">No</td>

                                            </tr>

                                            <tr *ngIf="popupvalues.armedForce===true">
                                                <th>Army No</th>
                                                <td *ngIf="popupvalues.armedForce === true">{{popupvalues.armedarmyNumber}}</td>
                                                <td *ngIf="popupvalues.armedForce === false">No</td>

                                            </tr>

                                            <tr *ngIf="popupvalues.armedForce===true">
                                                <th>Certificate</th>

                                                <td>

                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.armeddisCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.armeddisCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>


                                                <td>
                                                    <!-- <a href="" data-toggle="tooltip" title="Download">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </a> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Emp/Ex-Emp of GREF/BRO</th>
                                                <td *ngIf="popupvalues.empExGref === true">Yes</td>
                                                <td *ngIf="popupvalues.empExGref === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.empExGref === true">
                                                <th>Served Date(From-To)</th>
                                                <td *ngIf="popupvalues.empExGref === true">{{popupvalues.servedBroFrom | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="popupvalues.empExGref === true">{{popupvalues.servedBroTo | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="popupvalues.empExGref === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.empExGref === true">
                                                <th>GS Number</th>
                                                <td *ngIf="popupvalues.empExGref === true">{{popupvalues.gsNumber}}</td>
                                                <td *ngIf="popupvalues.empExGref === false">No</td>

                                            </tr>

                                            <tr>
                                                <th>Son/Dau Serving/Retired GREF</th>
                                                <td *ngIf="popupvalues.sonDaughterGref === true">Yes</td>
                                                <td *ngIf="popupvalues.sonDaughterGref === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.sonDaughterGref === true">
                                                <th>GS Number</th>
                                                <td *ngIf="popupvalues.sonDaughterGref === true">{{popupvalues.sonDaughterNumber}}</td>
                                                <td *ngIf="popupvalues.sonDaughterGref === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.sonDaughterGref === true">
                                                <th>Rank</th>
                                                <td *ngIf="popupvalues.sonDaughterGref === true">{{popupvalues.sonDaughterRank}}</td>
                                                <td *ngIf="popupvalues.sonDaughterGref === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.sonDaughterGref === true">
                                                <th>Name</th>
                                                <td *ngIf="popupvalues.sonDaughterGref === true">{{popupvalues.sonDaughterName}}</td>
                                                <td *ngIf="popupvalues.sonDaughterGref === false">No</td>

                                            </tr>

                                            <tr>
                                                <th>NCC B</th>
                                                <td *ngIf="popupvalues.nccB === true">Yes</td>
                                                <td *ngIf="popupvalues.nccB === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.nccB === true">
                                                <th>NCC B Certificate</th>

                                                <td>

                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.nccbCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.nccbCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>


                                                <!-- <td>
                                                      <a href="" data-toggle="tooltip" title="Download">
                                                          <span class="glyphicon glyphicon-download-alt"></span>
                                                      </a>
                                                  </td> -->
                                            </tr>

                                        </table>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>Working/Ex-Staff of Central Govt</th>
                                                <td *ngIf="popupvalues.sonDaughterExservice === true">Yes</td>
                                                <td *ngIf="popupvalues.sonDaughterExservice === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.sonDaughterExservice === true">
                                                <th>Served Date(From-To)</th>
                                                <td *ngIf="popupvalues.centralGovt === true">{{popupvalues.servedFrom | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="popupvalues.centralGovt === true">{{popupvalues.servedTo | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="popupvalues.centralGovt === false">No</td>

                                            </tr>

                                            <tr *ngIf="popupvalues.sonDaughterExservice === true">
                                                <th>Certificate</th>

                                                <td>

                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.centralnocCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.centralnocCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>



                                                </td>


                                                <!-- <td>
                                <a href="" data-toggle="tooltip" title="Download">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </a>
                            </td> -->
                                            </tr>
                                            <tr>
                                                <th>Son/Dau. Ex-serviceman</th>
                                                <td *ngIf="popupvalues.sonDaughterExservice === true">Yes</td>
                                                <td *ngIf="popupvalues.sonDaughterExservice === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.sonDaughterExservice === true">
                                                <th>Army No</th>
                                                <td *ngIf="popupvalues.sonDaughterExservice === true">{{popupvalues.armyNumber}}</td>
                                                <td *ngIf="popupvalues.sonDaughterExservice === false">No</td>

                                            </tr>

                                            <tr *ngIf="popupvalues.sonDaughterExservice === true">
                                                <th>Rank</th>
                                                <td *ngIf="popupvalues.sonDaughterExservice === true">{{popupvalues.armyRank}}</td>
                                                <td *ngIf="popupvalues.sonDaughterExservice === false">No</td>

                                            </tr>
                                            <tr>
                                                <th>Brot/Sis serving in GREF/Army</th>
                                                <td *ngIf="popupvalues.brotherSisterGref === true">Yes</td>
                                                <td *ngIf="popupvalues.brotherSisterGref === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.brotherSisterGref === true">
                                                <th>Army/GS No</th>
                                                <td *ngIf="popupvalues.brotherSisterGref === true">{{popupvalues.brotherSisterNumber}}</td>
                                                <td *ngIf="popupvalues.brotherSisterGref === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.brotherSisterGref === true">
                                                <th>Rank</th>
                                                <td *ngIf="popupvalues.brotherSisterGref === true">{{popupvalues.brotherSisterRank}}</td>
                                                <td *ngIf="popupvalues.brotherSisterGref === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.brotherSisterGref === true">
                                                <th>Name</th>
                                                <td *ngIf="popupvalues.brotherSisterGref === true">{{popupvalues.brotherSisterName}}</td>
                                                <td *ngIf="popupvalues.brotherSisterGref === false">No</td>

                                            </tr>


                                            <tr>
                                                <th>NCC C</th>
                                                <td *ngIf="popupvalues.nccC === true">Yes</td>
                                                <td *ngIf="popupvalues.nccC === false">No</td>

                                            </tr>
                                            <tr *ngIf="popupvalues.nccC === true">
                                                <th>NCC C Certificate</th>

                                                <td>
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.nccCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.nccCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                                <!-- <td>
                                                  <a href="" data-toggle="tooltip" title="Download">
                                                      <span class="glyphicon glyphicon-download-alt"></span>
                                                  </a>
                                              </td> -->
                                            </tr>

                                            <tr>
                                                <th>Sportsman</th>
                                                <td *ngIf="popupvalues.sportsman === true">Yes</td>
                                                <td *ngIf="popupvalues.sportsman === false">No</td>

                                            </tr>
                                            <tr td *ngIf="popupvalues.sportsman === true">
                                                <th>Sportsman Certificate:</th>

                                                <td>
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.sportCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.sportCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                                <!-- <td>
                                                      <a href="" data-toggle="tooltip" title="Download">
                                                          <span class="glyphicon glyphicon-download-alt"></span>
                                                      </a>
                                                  </td> -->
                                            </tr>



                                        </table>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Qualification">

                            <div class="row">
                                <u class="education">High School</u>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th *ngIf="highSchool.highYear != '0' ">Passing Year</th>
                                                <th *ngIf="highSchool.highBoard != 'null' ">Board</th>
                                                <th *ngIf="highSchool.highInstitution != 'null' ">Institute</th>
                                                <th *ngIf="highSchool.highSpecialization != 'null' ">Specialization</th>
                                                <th *ngIf="highSchool.highCourseType != '0' ">Course Type</th>
                                                <th *ngIf="highSchool.highTotalMarks != '0' ">Total Marks</th>
                                                <th *ngIf="highSchool.highObtainMarks != '0' ">Obtain Marks</th>
                                                <th *ngIf="highSchool.highPercentage != '0' ">Percent</th>
                                                <th *ngIf="highSchool.highGrade != 'undefined' && highSchool.highGrade === undefined ">Grade </th>
                                                <th *ngIf="highSchool.highCertificate != null ">Document</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td *ngIf="highSchool.highYear != '0' ">{{highSchool.highYear}}</td>
                                                <td *ngIf="highSchool.highBoard != 'null' ">{{highSchool.highBoard}}</td>
                                                <td *ngIf="highSchool.highInstitution != 'null' ">{{highSchool.highInstitution}}</td>
                                                <td *ngIf="highSchool.highSpecialization != 'null' ">{{highSchool.highSpecialization}}</td>
                                                <td *ngIf="highSchool.highCourseType != '0' ">{{highSchool.highCourseType}}</td>
                                                <td *ngIf="highSchool.highTotalMarks != '0' ">{{highSchool.highTotalMarks}}</td>
                                                <td *ngIf="highSchool.highObtainMarks != '0' ">{{highSchool.highObtainMarks}}</td>
                                                <td *ngIf="highSchool.highPercentage != '0' ">{{highSchool.highPercentage}}%</td>
                                                <td *ngIf="highSchool.highGrade != 'undefined' && highSchool.highGrade === undefined ">{{highSchool.highGrade}} </td>
                                                <td *ngIf="highSchool.highCertificate != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{highSchool.highCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{highSchool.highCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row" *ngIf="nullInter">

                                <u class="education">Intermediate</u>

                                <div class="table-responsive" *ngIf="nullInter">
                                    <table class="table table-bordered table-hover" *ngIf="nullInter">
                                        <thead>
                                            <tr>
                                                <th *ngIf="highSchool.interYear != '0' ">Passing Year</th>
                                                <th *ngIf="highSchool.interBoard != '0' ">Board</th>
                                                <th *ngIf="highSchool.interInstitution != 'null' ">Institute</th>
                                                <th *ngIf="highSchool.interSpecialization != 'null' ">Specialization</th>
                                                <th *ngIf="highSchool.interCourseType != '0' ">Course Type</th>
                                                <th *ngIf="highSchool.interTotalMarks != '0' ">Total Marks</th>
                                                <th *ngIf="highSchool.interObtainMarks != '0' ">Obtain Marks</th>
                                                <th *ngIf="highSchool.interPercentage != '0' ">Percent</th>
                                                <th *ngIf="highSchool.interGrade != 'undefined' && highSchool.interGrade === undefined ">Grade </th>
                                                <th *ngIf="highSchool.interCertificate != null ">Document</th>
                                                <th *ngIf="highSchool.additionalCertificate != null ">Additional Certificate</th>
                                            </tr>
                                        </thead>

                                        <tbody *ngIf="nullInter">
                                            <tr>
                                                <td *ngIf="highSchool.interYear !='0' ">{{highSchool.interYear}}</td>
                                                <td *ngIf="highSchool.interBoard != '0' ">{{highSchool.interBoard}}</td>
                                                <td *ngIf="highSchool.interInstitution != 'null' ">{{highSchool.interInstitution}}</td>
                                                <td *ngIf="highSchool.interSpecialization != 'null' ">{{highSchool.interSpecialization}}</td>
                                                <td *ngIf="highSchool.interCourseType != '0' ">{{highSchool.interCourseType}}</td>
                                                <td *ngIf="highSchool.interTotalMarks !='0'">{{highSchool.interTotalMarks}}</td>
                                                <td *ngIf="highSchool.interObtainMarks !='0'">{{highSchool.interObtainMarks}}</td>
                                                <td *ngIf="highSchool.interPercentage !='0'">{{highSchool.interPercentage}}%</td>
                                                <td *ngIf="highSchool.interGrade != 'undefined' && highSchool.interGrade === undefined ">{{highSchool.interGrade}} </td>
                                                <td *ngIf="highSchool.interCertificate != null">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{interSchool.interCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{interSchool.interCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                                <td *ngIf="highSchool.additionalCertificate != null">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{interSchool.additionalCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{interSchool.additionalCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row" *ngIf="highSchool.hindiTyping !='0' ">

                                <u class="education">Typing</u>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th *ngIf="highSchool.hindiTyping != '0' ">Speed in Hindi</th>
                                                <th *ngIf="highSchool.englishTyping != '0' ">Speed in English</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td *ngIf="highSchool.hindiTyping !='0' ">{{highSchool.hindiTyping}}</td>
                                                <td *ngIf="highSchool.englishTyping != '0' ">{{highSchool.englishTyping}}</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row" *ngIf="highSchool.hindiStenography != '0' ">

                                <u class="education">Stenographer</u>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th *ngIf="highSchool.hindiStenography != '0' ">Speed in Hindi</th>
                                                <th *ngIf="highSchool.englishStenography != '0' ">Speed in English</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td *ngIf="highSchool.hindiStenography !='0' ">{{highSchool.hindiStenography}}</td>
                                                <td *ngIf="highSchool.englishStenography != '0' ">{{highSchool.englishStenography}}</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row" *ngIf="nullGraduation">

                                <u *ngIf="nullGraduation" class="education">Graduation</u>

                                <div class="table-responsive" *ngIf="nullGraduation">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <!-- <th *ngIf="graduation.ugCourse">Course</th>
                                                <th>Passed</th>
                                                <th *ngIf="graduation.ugInstitution != 'null' ">Institution</th>
                                                <th>University</th>
                                                <th>Special</th>
                                                <th>Total Marks</th>
                                                <th>Obtain Marks</th>
                                                <th *ngIf="graduation.ugPercentage">Percent</th>
                                                <th *ngIf="graduation.ugCourseType">Course Type</th>
                                                <th>Document</th> -->
                                                <th *ngIf="graduation.ugCourse != '0' ">Course</th>
                                                <th *ngIf="graduation.ugPassingYear != '0' ">Passing Year</th>
                                                <th *ngIf="graduation.ugUniversity != '0' ">University</th>
                                                <th *ngIf="graduation.ugInstitution != 'null' ">Institution</th>
                                                <th *ngIf="graduation.ugSpecialization != 'null' ">Specialization</th>
                                                <th *ngIf="graduation.ugCourseType != '0' ">Course Type</th>
                                                <th *ngIf="graduation.ugTotalMarks != '0' ">Total Marks</th>
                                                <th *ngIf="graduation.ugObtainMarks != '0' ">Obtain Marks</th>
                                                <th *ngIf="graduation.ugPercentage != '0' ">Percent</th>
                                                <th *ngIf="graduation.ugCertificate != null ">Document</th>

                                            </tr>
                                        </thead>

                                        <tbody *ngIf="nullGraduation">
                                            <tr>
                                                <!-- <td *ngIf="graduation.ugCourse !='0'">{{graduation.ugCourse}}</td>
                                                <td>{{graduation.ugPassingYear}}</td>
                                                <td *ngIf="graduation.ugInstitution != 'null' ">{{graduation.ugInstitution}}</td>
                                                <td>{{graduation.ugUniversity}}</td>
                                                <td>{{graduation.ugSpecialization}}</td>
                                                <td>{{graduation.ugTotalMarks}}</td>
                                                <td>{{graduation.ugObtainMarks}}</td>
                                                <td *ngIf="graduation.ugPercentage">{{graduation.ugPercentage}}</td>
                                                <td *ngIf="graduation.ugCourseType">{{graduation.ugCourseType}}</td>  -->
                                                <td *ngIf="graduation.ugCourse != '0' ">{{graduation.ugCourse}}</td>
                                                <td *ngIf="graduation.ugPassingYear != '0' ">{{graduation.ugPassingYear}}</td>
                                                <td *ngIf="graduation.ugUniversity != '0' ">{{graduation.ugUniversity}}</td>
                                                <td *ngIf="graduation.ugInstitution != 'null' ">{{graduation.ugInstitution}}</td>
                                                <td *ngIf="graduation.ugSpecialization != 'null' ">{{graduation.ugSpecialization}}</td>
                                                <td *ngIf="graduation.ugUniversity != '0' ">{{graduation.ugUniversity}}</td>
                                                <td *ngIf="graduation.ugCourseType != '0' ">{{graduation.ugCourseType}}</td>
                                                <td *ngIf="graduation.ugTotalMarks != '0' ">{{graduation.ugTotalMarks}}</td>
                                                <td *ngIf="graduation.ugObtainMarks != '0' ">{{graduation.ugObtainMarks}}</td>
                                                <td *ngIf="graduation.ugPercentage != '0' ">{{graduation.ugPercentage}}%</td>
                                                <td *ngIf="graduation.ugCertificate != null ">

                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{graduation.ugCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{graduation.ugCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row" *ngIf="nullPgGraduation">

                                <u *ngIf="nullPgGraduation" class="education">Post Graduation</u>

                                <div class="table-responsive" *ngIf="nullPgGraduation">
                                    <table class="table table-bordered table-hover" *ngIf="nullPgGraduation">
                                        <thead>
                                            <tr>
                                                <th *ngIf="graduation.pgCourse != '0' ">Course</th>
                                                <th *ngIf="graduation.pgPassingYear != '0' ">Passing Year</th>
                                                <th *ngIf="graduation.pgUniversity != '0' ">University</th>
                                                <th *ngIf="graduation.pgInstitution != 'null' ">Institution</th>
                                                <th *ngIf="graduation.pgSpecialization != 'null' ">Specialization</th>
                                                <th *ngIf="graduation.pgCourseType != '0' ">Course Type</th>
                                                <th *ngIf="graduation.pgTotalMarks != '0' ">Total Marks</th>
                                                <th *ngIf="graduation.pgObtainMarks != '0' ">Obtain Marks</th>
                                                <th *ngIf="graduation.pgPercentage != '0' ">Percent</th>
                                                <th *ngIf="graduation.pgCertificate != null ">Document</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td *ngIf="graduation.pgCourse != '0' ">{{graduation.pgCourse}}</td>
                                                <td *ngIf="graduation.pgPassingYear != '0' ">{{graduation.pgPassingYear}}</td>
                                                <td *ngIf="graduation.pgUniversity != '0' ">{{graduation.pgUniversity}}</td>
                                                <td *ngIf="graduation.pgInstitution != 'null' ">{{graduation.pgInstitution}}</td>
                                                <td *ngIf="graduation.pgSpecialization != 'null' ">{{graduation.pgSpecialization}}</td>
                                                <td *ngIf="graduation.pgCourseType != '0' ">{{graduation.pgCourseType}}</td>
                                                <td *ngIf="graduation.pgTotalMarks != '0' ">{{graduation.pgTotalMarks}}</td>
                                                <td *ngIf="graduation.pgObtainMarks != '0' ">{{graduation.pgObtainMarks}}</td>
                                                <td *ngIf="graduation.pgPercentage != '0' ">{{graduation.pgPercentage}}%</td>
                                                <td *ngIf="graduation.pgCertificate != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{graduation.pgCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{graduation.pgCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row" *ngIf="nullDiploma">

                                <u *ngIf="nullDiploma" class="education">Diploma</u>

                                <div class="table-responsive" *ngIf="nullDiploma">
                                    <table class="table table-bordered table-hover" *ngIf="nullDiploma">
                                        <thead>
                                            <tr>
                                                <!-- <th>Diploma</th>
                                                <th>Passed</th>
                                                <th>Institute</th>
                                                <th>University</th>
                                                <th>Special</th>
                                                <th>Total Marks</th>
                                                <th>Obtain Marks</th>
                                                <th>Percent</th>
                                                <th>Course</th>
                                                <th>Document</th> -->
                                                <th *ngIf="technical.diplomaBranch != '0' ">Branch</th>
                                                <th *ngIf="technical.diplomaYear != '0' ">Passing Year</th>
                                                <th *ngIf="technical.diplomaUniversity != '0' ">University</th>
                                                <th *ngIf="technical.diplomaInstitution != 'null' ">Institution</th>
                                                <th *ngIf="technical.diplomaSpecialization != 'null' ">Specialization</th>
                                                <th *ngIf="technical.diplomaCourseType != '0' ">Course Type</th>
                                                <th *ngIf="technical.diplomaTotalMarks != '0' ">Total Marks</th>
                                                <th *ngIf="technical.diplomaObtainMarks != '0' ">Obtain Marks</th>
                                                <th *ngIf="technical.diplomaPercentage != '0' ">Percent</th>
                                                <th *ngIf="technical.diplomaDocument != null ">Document</th>
                                            </tr>
                                        </thead>

                                        <tbody *ngIf="nullDiploma">
                                            <tr>
                                                <!-- <td>{{technical.diplomaBranch}}</td>
                                                <td>{{technical.diplomaYear}}</td>
                                                <td>{{technical.diplomaInstitution}}</td>
                                                <td>{{technical.diplomaUniversity}}</td>
                                                <td>{{technical.diplomaSpecialization}}</td>
                                                <td>{{technical.diplomaTotalMarks}}</td>
                                                <td>{{technical.diplomaObtainMarks}}</td>
                                                <td>{{technical.diplomaPercentage}}%</td>
                                                <td>{{technical.diplomaPercentage}}</td> -->
                                                <td *ngIf="technical.diplomaBranch != '0' ">{{technical.diplomaBranch}}</td>
                                                <td *ngIf="technical.diplomaYear != '0' ">{{technical.diplomaYear}}</td>
                                                <td *ngIf="technical.diplomaUniversity != '0' ">{{technical.diplomaUniversity}}</td>
                                                <td *ngIf="technical.diplomaInstitution != 'null' ">{{technical.diplomaInstitution}}</td>
                                                <td *ngIf="technical.diplomaSpecialization != 'null' ">{{technical.diplomaSpecialization}}</td>
                                                <td *ngIf="technical.diplomaCourseType != '0' ">{{technical.diplomaCourseType}}</td>
                                                <td *ngIf="technical.diplomaTotalMarks != '0' ">{{technical.diplomaTotalMarks}}</td>
                                                <td *ngIf="technical.diplomaObtainMarks != '0' ">{{technical.diplomaObtainMarks}}</td>
                                                <td *ngIf="technical.diplomaPercentage != '0' ">{{technical.diplomaPercentage}}%</td>
                                                <td *ngIf="technical.diplomaCertificate != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{technical.diplomaCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{technical.diplomaCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row" *ngIf="nullDegree">

                                <u class="education">Degree</u>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <!-- <th>Degree</th>
                                                <th>Passed</th>
                                                <th>Institute</th>
                                                <th>University</th>
                                                <th>Special</th>
                                                <th>Total Marks</th>
                                                <th>Obtain Marks</th>
                                                <th>Percent</th>
                                                <th>Course</th>
                                                <th>Document</th> -->
                                                <th *ngIf="technical.degreeBranch != '0' ">Branch</th>
                                                <th *ngIf="technical.degreeYear != '0' ">Passing Year</th>
                                                <th *ngIf="technical.degreeUniversity != '0' ">University</th>
                                                <th *ngIf="technical.degreeInstitution != 'null' ">Institution</th>
                                                <th *ngIf="technical.degreeSpecialization != 'null' ">Specialization</th>
                                                <th *ngIf="technical.degreeCourseType != '0' ">Course Type</th>
                                                <th *ngIf="technical.degreeTotalMarks != '0' ">Total Marks</th>
                                                <th *ngIf="technical.degreeMarksObtain != '0' ">Obtain Marks</th>
                                                <th *ngIf="technical.degreePercentage != '0' ">Percent</th>
                                                <th *ngIf="technical.degreeCertificate != null ">Document</th>

                                            </tr>
                                        </thead>

                                        <tbody *ngIf="nullDegree">
                                            <tr>
                                                <!-- <td>{{technical.degreeBranch}}</td>
                                                <td>{{technical.degreeYear}}</td>
                                                <td>{{technical.degreeInstitution}}</td>
                                                <td>{{technical.degreeUniversity}}</td>
                                                <td>{{technical.degreeSpecialization}}</td>
                                                <td>{{technical.degreeTotalMarks}}</td>
                                                <td>{{technical.degreeMarksObtain}}</td>
                                                <td>{{technical.degreePercentage}}%</td>
                                                <td>{{technical.degreeCourseType}}</td> -->
                                                <td *ngIf="technical.degreeBranch != '0' ">{{technical.degreeBranch}}</td>
                                                <td *ngIf="technical.degreeYear != '0' ">{{technical.degreeYear}}</td>
                                                <td *ngIf="technical.degreeUniversity != '0' ">{{technical.degreeUniversity}}</td>
                                                <td *ngIf="technical.degreeInstitution != 'null' ">{{technical.degreeInstitution}}</td>
                                                <td *ngIf="technical.degreeSpecialization != 'null' ">{{technical.degreeSpecialization}}</td>
                                                <td *ngIf="technical.degreeCourseType != '0' ">{{technical.degreeCourseType}}</td>
                                                <td *ngIf="technical.degreeTotalMarks != '0' ">{{technical.degreeTotalMarks}}</td>
                                                <td *ngIf="technical.degreeMarksObtain != '0' ">{{technical.degreeMarksObtain}}</td>
                                                <td *ngIf="technical.degreePercentage != '0' ">{{technical.degreePercentage}}%</td>
                                                <td *ngIf="technical.degreeCertificate != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{technical.degreeCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{technical.degreeCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row" *ngIf="nullIti">

                                <u class="education">ITI</u>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th *ngIf="technical.itiBranch != '0' ">Branch</th>
                                                <th *ngIf="technical.itiYear != '0' ">Passing Year</th>
                                                <th *ngIf="technical.itiUniversity != '0' ">University</th>
                                                <th *ngIf="technical.itiInstitution != 'null' ">Institution</th>
                                                <th *ngIf="technical.itiSpecialization != 'null' ">Specialization</th>
                                                <th *ngIf="technical.itiCourseType != '0' ">Course Type</th>
                                                <th *ngIf="technical.itiTotalMarks != '0' ">Total Marks</th>
                                                <th *ngIf="technical.itiMarksObtain != '0' ">Obtain Marks</th>
                                                <th *ngIf="technical.itiPercentage != '0' ">Percent</th>
                                                <th *ngIf="technical.itiCertificate != null ">Document</th>
                                            </tr>
                                        </thead>

                                        <tbody *ngIf="nullIti">
                                            <tr>
                                                <!-- <td>{{technical.itiBranch}}</td>
                                                <td>{{technical.itiYear}}</td>
                                                <td>{{technical.itiInstitution}}</td>
                                                <td>{{technical.itiUniversity}}</td>
                                                <td>{{technical.itiSpecialization}}</td>
                                                <td>{{technical.itiTotalMarks}}</td>
                                                <td>{{technical.itiMarksObtain}}</td>
                                                <td>{{technical.itiPercentage}}%</td>
                                                <td>{{technical.itiCourseType}}</td> -->
                                                <td *ngIf="technical.itiBranch != '0' ">{{technical.itiBranch}}</td>
                                                <td *ngIf="technical.itiYear != '0' ">{{technical.itiYear}}</td>
                                                <td *ngIf="technical.itiUniversity != '0' ">{{technical.itiUniversity}}</td>
                                                <td *ngIf="technical.itiInstitution != 'null' ">{{technical.itiInstitution}}</td>
                                                <td *ngIf="technical.itiSpecialization != 'null' ">{{technical.itiSpecialization}}</td>
                                                <td *ngIf="technical.itiCourseType != '0' ">{{technical.itiCourseType}}</td>
                                                <td *ngIf="technical.itiTotalMarks != '0' ">{{technical.itiTotalMarks}}</td>
                                                <td *ngIf="technical.itiMarksObtain != '0' ">{{technical.itiMarksObtain}}</td>
                                                <td *ngIf="technical.itiPercentage != '0' ">{{technical.itiPercentage}}%</td>

                                                <td *ngIf="technical.itiCertificate != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{technical.itiCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{technical.itiCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="row" *ngIf="nullExperience">

                                <u class="education">Experience</u>

                                <div class="table-responsive" *ngIf="nullExperience">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th *ngIf="experience.companyName != 'null' ">Organization</th>
                                                <th *ngIf="experience.cinNumber != 'undefined' && experience.cinNumber === undefined ">CIN No.</th>
                                                <th *ngIf="experience.regtinNumber != 'undefined' && experience.regtinNumber === undefined ">Registration/Tin Number</th>
                                                <th *ngIf="experience.employmentFrom != 'null' ">Emp From</th>
                                                <th *ngIf="experience.employmentTo != 'null' ">Emp To</th>
                                                <th *ngIf="experience.workNature != 'null' ">Work Nature</th>
                                                <th *ngIf="experience.monthlySalary != '0' ">Salary</th>
                                                <th *ngIf="experience.temporaryPermanent != 'null' ">Per/Temp</th>
                                                <th *ngIf="experience.experienceCertificate != null ">Exp Doc</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td *ngIf="experience.companyName != 'null' ">{{experience.companyName}}</td>
                                                <td *ngIf="experience.cinNumber != 'undefined' && experience.cinNumber === undefined ">{{experience.cinNumber}}</td>
                                                <td *ngIf="experience.regtinNumber != 'undefined' && experience.regtinNumber === undefined ">{{experience.regtinNumber}}</td>
                                                <td *ngIf="experience.employmentFrom != 'null' ">{{experience.employmentFrom | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="experience.employmentTo != 'null' ">{{experience.employmentTo | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="experience.workNature != 'null' ">{{experience.workNature}}</td>
                                                <td *ngIf="experience.monthlySalary != '0' ">{{experience.monthlySalary}}</td>
                                                <td *ngIf="experience.temporaryPermanent != 'null' ">{{experience.temporaryPermanent}}</td>
                                                <td *ngIf="experience.experienceCertificate != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{experience.experienceCertificate}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{experience.experienceCertificate}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row" *ngIf="nullDriving">

                                <u class="education">Driving Licence</u>

                                <div class="table-responsive" *ngIf="nullDriving">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>DL NO.</th>
                                                <th>Issued</th>
                                                <th>Valid</th>
                                                <th>Auth</th>
                                                <th *ngIf="driving.uploadLicence != null">Driving Certificate</th>
                                                <th *ngIf="driving.drivingExperience != null">Exp Doc</th>
                                                <!-- <th>Upload DL</th> -->
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngIf="nullDrivingLmv">
                                                <th>LMV</th>
                                                <td *ngIf="driving.licenceNumberLmv !='undefined' && driving.licenceNumberLmv === undefined ">{{driving.licenceNumberLmv}}</td>
                                                <td *ngIf="driving.issueDateLmv !='null' ">{{driving.issueDateLmv | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="driving.validUptoLmv !='null' ">{{driving.validUptoLmv | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="driving.issuingAuthorityLmv !='null' ">{{driving.issuingAuthorityLmv}}</td>
                                                <!-- <td>{{popupvalues.driving.}}</td> -->
                                                <td *ngIf="driving.uploadLicence != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.uploadLicence}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.uploadLicence}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>

                                                <td *ngIf="driving.drivingExperience != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.drivingExperience}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.drivingExperience}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr *ngIf="nullDrivinghmv">
                                                <th>HMV</th>
                                                <td *ngIf="driving.licenceNumberHgmv !='null' ">{{driving.licenceNumberHgmv}}</td>
                                                <td *ngIf="driving.issueDateHgmv !='null' ">{{driving.issueDateHgmv | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="driving.validUptoHgmv !='null' ">{{driving.validUptoHgmv | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="driving.issuingAuthorityHlmv !='null' ">{{driving.issuingAuthorityHlmv}}</td>
                                                <!-- <td>Upload Succesfully</td> -->
                                                <td *ngIf="driving.uploadLicence != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.uploadLicence}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.uploadLicence}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                                <td *ngIf="driving.drivingExperience != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.drivingExperience}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.drivingExperience}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr *ngIf="nullDrivingRoad">
                                                <th>RoadRoller</th>
                                                <td *ngIf="driving.licenceNumberRoad !='null' ">{{driving.licenceNumberRoad}}</td>
                                                <td *ngIf="driving.issueDateRoad !='null' ">{{driving.issueDateRoad | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="driving.validUptoRoad !='null' ">{{driving.validUptoRoad | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="driving.issuingAuthorityRoad !='null' ">{{driving.issuingAuthorityRoad}}</td>
                                                <!-- <td>Upload Succesfully</td> -->
                                                <td *ngIf="driving.uploadLicence != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.uploadLicence}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.uploadLicence}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                                <td *ngIf="driving.drivingExperience != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.drivingExperience}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.drivingExperience}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr *ngIf="nullDrivingOeg">
                                                <th>Loader/Excavator</th>
                                                <td *ngIf="driving.licenceNumberOeg !='null' ">{{driving.licenceNumberOeg}}</td>
                                                <td *ngIf="driving.issueDateOeg !='null' ">{{driving.issueDateOeg | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="driving.validUptoOeg !='null' ">{{driving.validUptoOeg | date:'dd-MM-yyyy'}}</td>
                                                <td *ngIf="driving.issuingAuthorityOeg !='null' ">{{driving.issuingAuthorityOeg}}</td>
                                                <!-- <td>Upload Succesfully</td> -->
                                                <td *ngIf="driving.uploadLicence != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.uploadLicence}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.uploadLicence}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                                <td *ngIf="driving.drivingExperience != null ">
                                                    <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.drivingExperience}}" data-toggle="tooltip"
                                                        title="Open">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="../../../assets/images/{{popupvalues.registrationId}}/{{driving.drivingExperience}}" download data-toggle="tooltip"
                                                        title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hideModal()">Close</button>
            </div>
        </div>
    </div>
</div>