
h4[_ngcontent-c1] {
    margin-left: -47px;
    font-family: fantasy;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-family: fantasy;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.428571;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 13px;
    font-stretch: condensed;
}

.modal-header {
    padding: 10px;
    border-bottom: 0px solid #7f7f7f;
    border: 1px solid #080808;
    background-color: cornflowerblue;
}


.modal-body {
    position: relative;
    padding: 15px;
    border: 1px solid #080808;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    border: 1px solid #080808;
    background-color: cornflowerblue;
}

.btn-default {
    color: #080808;
    background-color: #0f9dd0;
    border-color: #0f9dd0;
    margin-right: 425px;
}


u.education{
    margin-left: 2px;
}


.row {
    margin-right: -10px;
    margin-left: -10px;
}
