<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-justified">
        <li>
          <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Post</a>
        </li>
        <li>
          <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate List</a>
        </li>
        <li>
          <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Report</a>
        </li>
        <li>
          <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Physical Test Report</a>
        </li>
        <li>
          <a routerLink="/admin/create/center" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Center</a>
        </li>
        <li>
          <a routerLink="/admin/job/marks" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Candidate Marks </a>
        </li>
        <li>
          <a routerLink="/admin/candidate/scanner" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Scanner</a>
        </li>
        <li>
          <a (click)="logout()" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row-fluid" *ngIf="!successField && !authenticationError">
    <div class="col-sm-12 border">
      <div class="font">
      
         ADD POST CRITERIA
        </div>
        <br>

      
      <form class="form-horizontal" name="myform" (ngSubmit)="myForm.form.valid && saveJobFields()" #myForm="ngForm" nonvalidate>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

        <div class="form-group">
          <label class="inputsm col-xs-2">Post Name:</label>

          <div class="col-sm-6">
            <label class="control-label" style="margin-left: -16px;">{{jobs.jobTitle}}</label>
          </div>

        </div>
        <div class="form-group">
          <label class="inputsm col-xs-2">Post Description: </label>
          <div class="col-sm-6">
            <label class="control-label" style="margin-left: -16px;">{{jobs.jobDesc}} </label>

          </div>
        </div>
        <hr class="horizontal_row" />
        <div class="form-group">
          <label class="inputsm col-xs-2" for="post_name">
            Apply Online Date:
          </label>
          <div class="col-sm-6 form-inline" style="margin-left: -6px;">

            <label>From:</label>
            <input type="text" class="form-control" size="7" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" name="start" #start="ngModel"
              [minDate]="minDateRegFrom" [maxDate]="maxDateRegFrom" [(ngModel)]="admin.activeDate" bsDatepicker #dp="bsDatepicker"
              required>

            <div *ngIf="start.invalid && myForm.submitted" class="help-block">
              <div *ngIf="start.errors.required">
                Please Enter Apply Date.
              </div>
            </div>

            <label>To:</label>
            <input type="text" class="form-control" size="7" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" name="last" #last="ngModel"
              [minDate]="minDateRegTo" [maxDate]="maxDateRegTo" [(ngModel)]="admin.expiryDate" bsDatepicker #dp="bsDatepicker"
              required>


            <div *ngIf="last.invalid && myForm.submitted" class="help-block">
              <div *ngIf="last.errors.required">
                Please Enter Form Submission last Date.
              </div>
            </div>

            <div class="help-block" *ngIf="invalidagecalFlag">
              {{invalidagemsg}}
            </div>

          </div>

          <div class="help-block" *ngIf="applydateFlag" style="text-align:center;">
            {{applyinvalidmsg}}
          </div>
        </div>
        <hr class="horizontal_row" />
        <div class="form-group">
          <label class="inputsm col-xs-2" for="gen">Add Recruitment Zone :</label>
          <div class="col-sm-6">
            <label class="checkbox-inline">
              <input type="checkbox" name="zone" #zone="ngModel" [(ngModel)]="admin.rishikeshZone" required>Rishikesh
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="zone" #zone="ngModel" [(ngModel)]="admin.tezpurZone" required>Tezpur
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="zone" #zone="ngModel" [(ngModel)]="admin.puneZone" required>Gref center pune
            </label> &nbsp;&nbsp;

            <div *ngIf="zone.invalid && myForm.submitted" class="help-block">
              <div *ngIf="zone.errors.required">
                Please Select Zone .
              </div>
            </div>
          </div>
        </div>


        <hr class="horizontal_row" />

        <div class="form-group">
          <label class="inputsm col-xs-2" for="post_name">Last Date Of Fee Submission:

          </label>
          <div class="col-sm-6 form-inline">
            <label>From:</label>
            <input type="text" class="form-control" size="7" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" name="fstart" #fstart="ngModel"
              [minDate]="minDateFeeFrom" [maxDate]="maxDateFeeFrom" [(ngModel)]="admin.feeSubmitDate" bsDatepicker #dp="bsDatepicker"
              required>
            <div *ngIf="fstart.invalid && myForm.submitted" class="help-block">
              <div *ngIf="fstart.errors.required">
                Please Enter Date.
              </div>
            </div>
            <label>To:</label>
            <input type="text" class="form-control" size="7" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" name="flast" #flast="ngModel"
              [maxDate]="maxDateFeeFrom" [maxDate]="maxDateFeeTO" [(ngModel)]="admin.feeSubmitLastDate" bsDatepicker #dp="bsDatepicker"
              required>
            <div *ngIf="flast.invalid && myForm.submitted" class="help-block">
              <div *ngIf="flast.errors.required">
                Please Enter Fee Submission Last Date.
              </div>
            </div>

          </div>

          <div class="help-block" *ngIf="feedateFlag" style="text-align:center;">
            {{feeinvalidmsg}}
          </div>
        </div>

        <hr class="horizontal_row" />
        <div class="form-group">
          <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered">
              <thead>
                <tr>
                  <th style="width:1%;">Caste</th>
                  <th style="width:1%;">No. Of Post</th>
                  <th style="width:1%;">Fee</th>
                  <th style="width:1%;">Min Age</th>
                  <th style="width:1%;">Max Age</th>
                  <th style="width:1%;">Age Relaxation</th>
                  <th style="width:0%;">Per Relaxation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let job of jobAmountDetails let i = index; let first = first; let last = last;">
                  <td>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="{{i}}" name="nameCheck{{i}}" (change)="changeCheck($event, i)">{{job.categoryName}}
                    </label>
                  </td>
                  <td>
                    <input type="text" style="width:100px;" class="form-control input-sm" name="urpost{{i}}" [(ngModel)]="job.postNumber" #urpost="ngModel"
                      minlength="1" maxlength="5" (keypress)="restrictNumeric($event)">
                  </td>

                  <td>
                    <input type="text" style="width:100px;" class="form-control input-sm" name="urfee{{i}}" [(ngModel)]="job.amount" #urfee="ngModel"
                      minlength="1" maxlength="5" (keypress)="restrictNumeric($event)">
                  </td>

                  <td>
                    <input type="text" style="width:100px;" class="form-control input-sm" name="urmin{{i}}" [(ngModel)]="job.minAge" #urmin="ngModel"
                      minlength="1" maxlength="2" (keypress)="restrictNumeric($event)">
                  </td>
                  <td>
                    <input type="text" style="width:100px;" class="form-control input-sm" name="urmax{{i}}" [(ngModel)]="job.maxAge" #urmax="ngModel"
                      minlength="1" maxlength="2" (keypress)="restrictNumeric($event)">
                  </td>

                  <td>
                    <input type="text" style="width:100px;" class="form-control input-sm" name="ageRelax{{i}}" [(ngModel)]="job.ageRelaxation"
                      #ageRelax="ngModel" minlength="1" maxlength="2" (keypress)="restrictNumeric($event)">
                  </td>
                  <td>
                    <input type="text" style="width:100px;" class="form-control input-sm" name="percentRelax{{i}}" #percentRelax="ngModel" [(ngModel)]="job.percentageRelaxation"
                      minlength="1" maxlength="3" (keypress)="restrictNumeric($event)">
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <hr class="horizontal_row" />
        <div class="form-group">
          <div class="col-sm-12">
            <label class="inputsm col-xs-2" for="gen">Essential Qualification:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="essential" #essential="ngModel" [value]='true' [checked]="false" (change)="essentialChange(true)" [(ngModel)]="admin.essentialQualificationForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="essential" #essential="ngModel" [value]='false' [checked]="false" (change)="essentialChange(false)" [(ngModel)]="admin.essentialQualificationForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="essential.invalid && myForm.submitted" class="help-block">
                <div *ngIf="essential.errors.required">
                  Please Select Essential Qualification.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12" *ngIf="essentialCheck">
            <label class="inputsm col-xs-1" for="gen">High School:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="high" #high="ngModel" [value]='true' [checked]="false" (change)="highChange(true)" [(ngModel)]="admin.highSchoolForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="high" #high="ngModel" [value]='false' [checked]="false" (change)="highChange(false)" [(ngModel)]="admin.highSchoolForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="admin.essentialQualificationForm == true">
                <div *ngIf="high.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="high.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-inline" *ngIf="highCheck && essentialCheck">

              <div class="row"  style="margin-left:1px;"> 

           
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highYear" [(ngModel)]="admin.highYearView">Year Of Passing
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highYear" [(ngModel)]="admin.highInstitutionView">Institution
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highspec" [(ngModel)]="admin.highSpecializationView">Specialization
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highgrade" [(ngModel)]="admin.highGradeView">Grade
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highBoard" #highBoard="ngModel" [(ngModel)]="admin.highBoardView" required>Board
                  <div *ngIf="admin.highForm == true">
                    <div *ngIf="highBoard.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="highBoard.errors.required">
                        Please Select Board.
                      </div>
                    </div>
                  </div>
                </label>
              </div>
             
             
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highcourse" [(ngModel)]="admin.highCourseTypeView">Course Type
                </label>
              </div>
            </div>
            <div class="row" style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highTotal" [(ngModel)]="admin.highTotalMarksView">Total Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highObtain" [(ngModel)]="admin.highObtainarksView">Obtain Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highPercentage" [(ngModel)]="admin.highPercentageView">Percentage
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="highUpload" [(ngModel)]="admin.highCertificateView">Upload Certificate
                </label>
              </div>
             
             
              <label class="inputsm col-xs-2">Minimum Percentage:</label>
              <div class="col-sm-2">
                <input type="text" size="1" class="form-control" name="highmin" minlength="2" maxlength="2" [(ngModel)]="admin.highMinPercent">
              </div>

            </div>
          </div>
        

          <div class="col-sm-12" *ngIf="essentialCheck">
            <label class="inputsm col-xs-1" for="gen">Intermediate: </label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="inter" #inter="ngModel" [value]='true' [checked]="false" (change)="interChange(true)" [(ngModel)]="admin.intermediateForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="inter" #inter="ngModel" [value]='false' [checked]="false" (change)="interChange(false)" [(ngModel)]="admin.intermediateForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="admin.essentialQualificationForm == true">
                <div *ngIf="inter.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="inter.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-inline" *ngIf="interCheck && essentialCheck">

            <div class="row"  style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interyear" [(ngModel)]="admin.interYearView">Year Of Passing
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interboard" #interboard="ngModel" [(ngModel)]="admin.interBoardView" required>Board

                  <div *ngIf="admin.intermediateForm == true">
                    <div *ngIf="interboard.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="interboard.errors.required">
                        Please Select Board.
                      </div>
                    </div>
                  </div>
                </label>
              </div>

             
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interschool" [(ngModel)]="admin.interInstitutionView">Institution
                </label>
              </div>


              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interspec" [(ngModel)]="admin.interSpecializationView">Specialization
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="intercourse" [(ngModel)]="admin.interCourseTypeView">Course Type
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interboard" [(ngModel)]="admin.interBoardView">Board
                </label>
              </div>
              
            </div>

            <div class="row"  style="margin-left:1px;">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interobtain" [(ngModel)]="admin.interObtainarksView">Obtain Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="intertotal" [(ngModel)]="admin.interTotalMarksView">Total Marks
                </label>
              </div>



              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interpercent" [(ngModel)]="admin.interPercentageView">Percentage
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interupload" [(ngModel)]="admin.interCertificateView">Upload Certificate
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="intergrade" [(ngModel)]="admin.interGradeView">Grade
                </label>
              </div>
              <div class="col-sm-3">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interadditional" [(ngModel)]="admin.additionalCertificateView">Additional Certificate
                </label>
              </div>
            </div>
            <div class="row"  style="margin-left:1px;">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="interfirstaid" [(ngModel)]="admin.firstaidCertificateView">First Aid Course Certificate
                </label>
              </div>
              <label class="inputsm col-xs-1">Minimum Percentage:</label>
              <div class="col-sm-2">
                <input type="text" size="2" class="form-control" name="intermin" minlength="2" maxlength="2" [(ngModel)]="admin.interMinPercent">
              </div>

            </div>
          </div>
          <div class="help-block" style="padding-left:80px;" *ngIf="essentialQualiMsgis">
            {{essentialQualiMsg}}
          </div>
        </div>

       



        <hr class="horizontal_row" />
        <div class="form-group">
          <div class="col-sm-12">
            <label class="inputsm col-xs-1" for="gen">Typing:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="Typing" #Typing="ngModel" [value]='true' [checked]="false" (change)="typingChange(true)" [(ngModel)]="admin.typingForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="Typing" #Typing="ngModel" [value]='false' [checked]="false" (change)="typingChange(false)" [(ngModel)]="admin.typingForm"
                  required>&nbsp;No
              </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <div *ngIf="Typing.invalid && myForm.submitted" class="help-block">
                <div *ngIf="Typing.errors.required">
                  Please Select Typing 
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-12 form-inline" *ngIf="typingCheck">

            <div class="row"  style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="typecheck" #typecheck="ngModel" [(ngModel)]="admin.hindiTypingForm" required>Hindi Typing
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline" style="margin-left: 0px;">
                
                  <input type="checkbox" name="typecheck" #typecheck="ngModel" [(ngModel)]="admin.englishTypingForm" required>English Typing
                  <div *ngIf="admin.typingForm == true">
                    <div *ngIf="typecheck.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="typecheck.errors.required">
                        Please Select.
                      </div>
                    </div>
                  </div>
                </label>
              </div>

            </div>


          </div> -->

        </div>

        <hr class="horizontal_row" />
        <div class="form-group">
          <div class="col-sm-12">
            <label class="inputsm col-xs-1" for="gen">Stenographer:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="stenographer" #stenographer="ngModel" [value]='true' [checked]="false" (change)="stenoChange(true)"
                  [(ngModel)]="admin.stenographyForm" required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="stenographer" #stenographer="ngModel" [value]='false' [checked]="false" (change)="stenoChange(false)"
                  [(ngModel)]="admin.stenographyForm" required>&nbsp;No
              </label>

              <div *ngIf="stenographer.invalid && myForm.submitted" class="help-block">
                <div *ngIf="stenographer.errors.required">
                  Please Select Stenographer.
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-12 form-inline" *ngIf="stenographyCheck">
            <div class="row"  style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="stenocheck" #stenocheck="ngModel" [(ngModel)]="admin.hindiStenographyForm" required>Hindi Stenographer
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline"  style="margin-left:0px;">
                  <input type="checkbox" name="stenocheck" #stenocheck="ngModel" [(ngModel)]="admin.englishStenographyForm" required>English Stenographer
                  <div *ngIf="admin.stenographyForm == true">
                    <div *ngIf="stenocheck.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="stenocheck.errors.required">
                        Please Select.
                      </div>
                    </div>
                  </div>
                </label>
              </div>

            </div>

           

          </div> -->

        </div>

        <hr class="horizontal_row" />
        <div class="form-group">
          <div class="col-sm-12">
            <label class="inputsm col-xs-1" for="gen">Experience :</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="experience" #experience="ngModel" [value]='true' [checked]="false" (change)="experienceChange(true)"
                  [(ngModel)]="admin.experienceForm" required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="experience" #experience="ngModel" [value]='false' [checked]="false" (change)="experienceChange(false)"
                  [(ngModel)]="admin.experienceForm" required>&nbsp;No
              </label>
              <div *ngIf="experience.invalid && myForm.submitted" class="help-block">
                <div *ngIf="experience.errors.required">
                  Please Select Experience.
                </div>
              </div>
            </div>
          </div>


          <div class="col-sm-12 form-inline" *ngIf="experienceCheck">

            <div class="row"  style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="experienceComapnyName" #experienceComapnyName="ngModel" required [(ngModel)]="admin.companyNameForm">Name of the Organization
                  <div *ngIf="admin.experienceForm == true">
                    <div *ngIf="experienceComapnyName.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="experienceComapnyName.errors.required">
                        Please Enter Comapny Name.
                      </div>
                    </div>
                  </div>
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="experienceCertificate" [(ngModel)]="admin.experienceCertificateForm">Upload Experience Certificate
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="experienceCinNumber" [(ngModel)]="admin.cinNumberForm">Company's CIN Number
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="experienceRegNumber" [(ngModel)]="admin.regtinNumberForm"> Registration/Tin Number
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="experiencePeriod" [(ngModel)]="admin.employmentPeriodForm">Period of Employment
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="experienceWorkNature" [(ngModel)]="admin.workNatureForm">Nature of Work done
                </label>
              </div>
            </div>
            <div class="row"  style="margin-left:1px;">
            <div class="col-sm-2">
              <label class="checkbox-inline">
                <input type="checkbox" name="experienceMonthlySalary" [(ngModel)]="admin.monthlySalaryForm">Monthly Salary drawn (In Rupees)
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox-inline">
                <input type="checkbox" name="experiencePerTem" [(ngModel)]="admin.temporaryPermanentForm">Whether Permanent/Temporary
              </label>
            </div>
            </div>

          </div>


          <!-- <label class="checkbox-inline">
              <input type="checkbox" name="experienceComapnyName" #experienceComapnyName="ngModel" required [(ngModel)]="admin.companyNameForm">Name of the Organization
            </label> &nbsp;&nbsp;
            <div *ngIf="admin.experienceForm == true">
              <div *ngIf="experienceComapnyName.invalid && myForm.submitted" class="help-block">
                <div *ngIf="experienceComapnyName.errors.required">
                  Please Enter Comapny Name.
                </div>
              </div>
            </div>
            <label class="checkbox-inline">
              <input type="checkbox" name="experienceCertificate" [(ngModel)]="admin.experienceCertificateForm">Upload Experience Certificate
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="experienceCinNumber" [(ngModel)]="admin.cinNumberForm">Company's CIN Number
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="experienceRegNumber" [(ngModel)]="admin.regtinNumberForm"> Registration/Tin Number
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="experiencePeriod" [(ngModel)]="admin.employmentPeriodForm">Period of Employment
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="experienceWorkNature" [(ngModel)]="admin.workNatureForm">Nature of Work done
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="experienceMonthlySalary" [(ngModel)]="admin.monthlySalaryForm">Monthly Salary drawn (In Rupees)
            </label>&nbsp;&nbsp;
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" name="experiencePerTem" [(ngModel)]="admin.temporaryPermanentForm">Whether Permanent/Temporary
            </label> -->

        </div>

        <hr class="horizontal_row" />

        <div class="form-group">
          <div class="col-sm-12">
            <label class="inputsm col-xs-2" for="gen">Other Qualification:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="other" #other="ngModel" [value]='true' [checked]="false" (change)="otherChange(true)" [(ngModel)]="admin.otherQualificationForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="other" #other="ngModel" [value]='false' [checked]="false" (change)="otherChange(false)" [(ngModel)]="admin.otherQualificationForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="other.invalid && myForm.submitted" class="help-block">
                <div *ngIf="other.errors.required">
                  Please Select Other Qualification.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12" *ngIf="otherCheck">
            <label class="inputsm col-xs-1" for="gen">Graduation:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="grad" #grad="ngModel" [value]='true' [checked]="false" (change)="gradChange(true)" [(ngModel)]="admin.graduationForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="grad" #grad="ngModel" [value]='false' [checked]="false" (change)="gradChange(tfalserue)" [(ngModel)]="admin.graduationForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="admin.otherQualificationForm == true">
                <div *ngIf="grad.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="grad.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-inline" *ngIf="gradCheck && otherCheck">

              <div class="row"  style="margin-left:1px;"> 

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradCourse" [(ngModel)]="admin.ugCourseView">Select Course
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradYear" [(ngModel)]="admin.ugYearView">Year Of Passing
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradInstitution" #gradInstitution="ngModel" [(ngModel)]="admin.ugInstitutionView" required>Institution
                  <div *ngIf="admin.graduationForm == true">
                    <div *ngIf="gradInstitution.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="gradInstitution.errors.required">
                        Please Enter Institution.
                      </div>
                    </div>
                  </div>
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradUniversity" [(ngModel)]="admin.ugUniversityView">University
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradSpecialization" [(ngModel)]="admin.ugSpecializationView">Specialization
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradCourseType" [(ngModel)]="admin.ugCourseTypeView">Course Type
                </label>
              </div>
            </div>
            <div class="row" style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradTotal" [(ngModel)]="admin.ugTotalMarksView">Total Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradObtain" [(ngModel)]="admin.ugObtainarksView">Obtain Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradPercentage" [(ngModel)]="admin.ugPercentageView">Percentage
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="gradUpload" [(ngModel)]="admin.ugCertificateView">Upload Certificate
                </label>
              </div>
              <label class="inputsm col-xs-1">Minimum Percentage:</label>
              <div class="col-sm-2">
                <input type="text" size="2" class="form-control" name="ugmin" minlength="2" maxlength="2" [(ngModel)]="admin.ugMinPercent">
              </div>

            </div>
          </div>
          
          <!-- <label class="checkbox-inline">
              <input type="checkbox" name="gradCourse" [(ngModel)]="admin.ugCourseView">Select Course
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="gradYear" [(ngModel)]="admin.ugYearView">Year Of Passing
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="gradInstitution" #gradInstitution="ngModel" [(ngModel)]="admin.ugInstitutionView" required>Institution
            </label>&nbsp;&nbsp;
            <div *ngIf="admin.graduationForm == true">
              <div *ngIf="gradInstitution.invalid && myForm.submitted" class="help-block">
                <div *ngIf="gradInstitution.errors.required">
                  Please Enter Institution.
                </div>
              </div>
            </div>
            <label class="checkbox-inline">
              <input type="checkbox" name="gradUniversity" [(ngModel)]="admin.ugUniversityView">University
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="gradSpecialization" [(ngModel)]="admin.ugSpecializationView">Specialization
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="gradCourseType" [(ngModel)]="admin.ugCourseTypeView">Course Type
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="gradTotal" [(ngModel)]="admin.ugTotalMarksView">Total Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="gradObtain" [(ngModel)]="admin.ugObtainarksView">Obtain Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="gradPercentage" [(ngModel)]="admin.ugPercentageView">Percentage
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="gradUpload" [(ngModel)]="admin.ugCertificateView">Upload Certificate
            </label>
            <br>
            <label>Minimum Percentage:</label>
            <input type="text" size="2" class="form-control" name="ugmin" minlength="2" maxlength="2" [(ngModel)]="admin.ugMinPercent"> -->




          <div class="col-sm-12" *ngIf="otherCheck">
            <label class="inputsm col-xs-1" for="gen">Post Graduation: </label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="postGrad" #postGrad="ngModel" [value]='true' [checked]="false" (change)="postGradChange(true)"
                  [(ngModel)]="admin.postGraduationForm" required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="postGrad" #postGrad="ngModel" [value]='false' [checked]="false" (change)="postGradChange(false)"
                  [(ngModel)]="admin.postGraduationForm" required>&nbsp;No
              </label>
              <div *ngIf="admin.otherQualificationForm == true">
                <div *ngIf="postGrad.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="postGrad.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 form-inline" *ngIf="postgradCheck && otherCheck">

            <div class="row" style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradCourse" [(ngModel)]="admin.pgCourseView">Select Course
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradYear" [(ngModel)]="admin.pgYearView">Year Of Passing
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradInstitution" #postgradInstitution="ngModel" required [(ngModel)]="admin.pgInstitutionView">Institution
                  <div *ngIf="admin.postGraduationForm == true">
                    <div *ngIf="postgradInstitution.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="postgradInstitution.errors.required">
                        Please Enter Institution.
                      </div>
                    </div>
                  </div>
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradUniversity" [(ngModel)]="admin.pgUniversityView">University
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradSpecialization" [(ngModel)]="admin.pgSpecializationView">Specialization
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradCourseType" [(ngModel)]="admin.pgCourseTypeView">Course Type
                </label>
              </div>
            </div>
            <div class="row" style="margin-left:1px;">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradTotal" [(ngModel)]="admin.pgTotalMarksView">Total Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradObtain" [(ngModel)]="admin.pgObtainarksView">Obtain Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradPercentage" [(ngModel)]="admin.pgPercentageView">Percentage
                </label>
              </div>

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="postgradUpload" [(ngModel)]="admin.pgCertificateView">Upload Certificate
                </label>
              </div>
              <label class="inputsm col-xs-1">Minimum Percentage:</label>
              <div class="col-sm-2">
                <input type="text" size="2" class="form-control" name="pgmin" minlength="2" maxlength="2" [(ngModel)]="admin.pgMinPercent">
              </div>
            </div>
          </div>

          <!-- <label class="checkbox-inline">
              <input type="checkbox" name="postgradCourse" [(ngModel)]="admin.pgCourseView">Select Course
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="postgradYear" [(ngModel)]="admin.pgYearView">Year Of Passing
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="postgradInstitution" #postgradInstitution="ngModel" required [(ngModel)]="admin.pgInstitutionView">Institution
            </label>&nbsp;&nbsp;
            <div *ngIf="admin.postGraduationForm == true">
              <div *ngIf="postgradInstitution.invalid && myForm.submitted" class="help-block">
                <div *ngIf="postgradInstitution.errors.required">
                  Please Enter Institution.
                </div>
              </div>
            </div>
            <label class="checkbox-inline">
              <input type="checkbox" name="postgradUniversity" [(ngModel)]="admin.pgUniversityView">University
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="postgradSpecialization" [(ngModel)]="admin.pgSpecializationView">Specialization
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="postgradCourseType" [(ngModel)]="admin.pgCourseTypeView">Course Type
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="postgradTotal" [(ngModel)]="admin.pgTotalMarksView">Total Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="postgradObtain" [(ngModel)]="admin.pgObtainarksView">Obtain Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="postgradPercentage" [(ngModel)]="admin.pgPercentageView">Percentage
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="postgradUpload" [(ngModel)]="admin.pgCertificateView">Upload Certificate
            </label>
            <br>
            <label>Minimum Percentage:</label>
            <input type="text" size="2" class="form-control" name="pgmin" minlength="2" maxlength="2" [(ngModel)]="admin.pgMinPercent"> -->
          <div class="help-block" style="padding-left:80px;" *ngIf="otherQualiMsgis">
            {{otherQualiMsg}}
          </div>

        </div>

        <hr class="horizontal_row" />

        <!------------------------------ Technical---------------------------------------- -->
        <div class="form-group">
          <div class="col-sm-12">
            <label class="inputsm col-xs-2" for="gen">Technical Qualification:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="technical" #technical="ngModel" [value]='true' [checked]="false" (change)="technicalChange(true)"
                  [(ngModel)]="admin.technicalForm" required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="technical" #technical="ngModel" [value]='false' [checked]="false" (change)="technicalChange(false)"
                  [(ngModel)]="admin.technicalForm" required>&nbsp;No
              </label>
              <div *ngIf="technical.invalid && myForm.submitted" class="help-block">
                <div *ngIf="technical.errors.required">
                  Please Select Technical Qualification.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12" *ngIf="technicalCheck">

            <label class="inputsm col-xs-1" for="gen">Degree:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="degree" #degree="ngModel" [value]='true' [checked]="false" (change)="degreeChange(true)" [(ngModel)]="admin.degreeForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="degree" #degree="ngModel" [value]='false' [checked]="false" (change)="degreeChange(false)" [(ngModel)]="admin.degreeForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="admin.technicalForm == true">
                <div *ngIf="degree.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="degree.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 form-inline" *ngIf="degreeCheck && technicalCheck">

            <div class="row" style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreeBranch" [(ngModel)]="admin.degreeBranchView">Degree Branch
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreeYear" [(ngModel)]="admin.degreeYearView">Year Of Passing
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreeInstitution" [(ngModel)]="admin.degreeInstitutionView">Institution
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreeUniversity" [(ngModel)]="admin.degreeUniversityView">University
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreeSpecialization" #degreeSpecialization="ngModel" required [(ngModel)]="admin.degreeSpecializationView">Specialization
                  <div *ngIf="admin.degreeForm == true">
                    <div *ngIf="degreeSpecialization.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="degreeSpecialization.errors.required">
                        Please Enter Specialization.
                      </div>
                    </div>
                  </div>
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreeTotal" [(ngModel)]="admin.degreeTotalMarksView">Total Marks
                </label>
              </div>
            </div>
            <div class="row" style="margin-left:1px;">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreeObtain" [(ngModel)]="admin.degreeObtainarksView">Obtain Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreePercentage" [(ngModel)]="admin.degreePercentageView">Percentage
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreeCourse" [(ngModel)]="admin.degreeCourseTypeView">Course Type
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="degreeUpload" [(ngModel)]="admin.degreeCertificateView">Upload Certificate
                </label>
              </div>
              <label class="inputsm col-xs-1">Minimum Percentage:</label>
              <div class="col-sm-2">
                <input type="text" size="2" class="form-control" name="degreeMin" minlength="2" maxlength="2" [(ngModel)]="admin.degreeMinPercent">
              </div>
            </div>

          </div>

          <!-- <label class="checkbox-inline">
              <input type="checkbox" name="degreeBranch" [(ngModel)]="admin.degreeBranchView">Degree Branch
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="degreeYear" [(ngModel)]="admin.degreeYearView">Year Of Passing
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="degreeInstitution" [(ngModel)]="admin.degreeInstitutionView">Institution
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="degreeUniversity" [(ngModel)]="admin.degreeUniversityView">University
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="degreeSpecialization" #degreeSpecialization="ngModel" required [(ngModel)]="admin.degreeSpecializationView">Specialization
            </label>&nbsp;&nbsp;
            <div *ngIf="admin.degreeForm == true">
              <div *ngIf="degreeSpecialization.invalid && myForm.submitted" class="help-block">
                <div *ngIf="degreeSpecialization.errors.required">
                  Please Enter Specialization.
                </div>
              </div>
            </div>
            <label class="checkbox-inline">
              <input type="checkbox" name="degreeTotal" [(ngModel)]="admin.degreeTotalMarksView">Total Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="degreeObtain" [(ngModel)]="admin.degreeObtainarksView">Obtain Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="degreePercentage" [(ngModel)]="admin.degreePercentageView">Percentage
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="degreeCourse" [(ngModel)]="admin.degreeCourseTypeView">Course Type
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="degreeUpload" [(ngModel)]="admin.degreeCertificateView">Upload Certificate
            </label>
            <br>
            <label>Minimum Percentage:</label>
            <input type="text" size="2" class="form-control" name="degreeMin" minlength="2" maxlength="2" [(ngModel)]="admin.degreeMinPercent"> -->



          <!-- Diploma -->
          <div class="col-sm-12" *ngIf="technicalCheck">
            <label class="inputsm col-xs-1" for="gen">Diploma: </label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="diploma" #diploma="ngModel" [value]='true' [checked]="false" (change)="diplomaChange(true)" [(ngModel)]="admin.diplomaForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="diploma" #diploma="ngModel" [value]='false' [checked]="false" (change)="diplomaChange(false)" [(ngModel)]="admin.diplomaForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="admin.technicalForm == true">
                <div *ngIf="diploma.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="diploma.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-inline" *ngIf="diplomaCheck && technicalCheck">

            <div class="row" style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaBranch" [(ngModel)]="admin.diplomaBranchView">Diploma Branch
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaYear" [(ngModel)]="admin.diplomaYearView">Year Of Passing
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaInstitute" [(ngModel)]="admin.diplomaInstitutionView">Institution
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaUniversity" [(ngModel)]="admin.diplomaUniversityView">University
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaSpecialization" #diplomaSpecialization="ngModel" required [(ngModel)]="admin.diplomaSpecializationView">Specialization
                  <div *ngIf="admin.diplomaForm == true">
                    <div *ngIf="diplomaSpecialization.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="diplomaSpecialization.errors.required">
                        Please Enter Specialization.
                      </div>
                    </div>
                  </div>
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaTotalMark" [(ngModel)]="admin.diplomaTotalMarksView">Total Marks
                </label>
              </div>
            </div>
            <div class="row" style="margin-left:1px;">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaObtain" [(ngModel)]="admin.diplomaObtainarksView">Obtain Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaPercentage" [(ngModel)]="admin.diplomaPercentageView">Percentage
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaCourse" [(ngModel)]="admin.diplomaCourseTypeView">Course Type
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="diplomaCertificate" [(ngModel)]="admin.diplomaCertificateView">Upload Certificate
                </label>
              </div>
              <label class="inputsm col-xs-1">Minimum Percentage:</label>
              <div class="col-sm-2">
                <input type="text" size="2" class="form-control" name="diplomaMin" minlength="2" maxlength="2" [(ngModel)]="admin.diplomaMinPercent">
              </div>

            </div>
          </div>

          <!-- <label class="checkbox-inline">
              <input type="checkbox" name="diplomaBranch" [(ngModel)]="admin.diplomaBranchView">Diploma Branch
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="diplomaYear" [(ngModel)]="admin.diplomaYearView">Year Of Passing
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="diplomaInstitute" [(ngModel)]="admin.diplomaInstitutionView">Institution
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="diplomaUniversity" [(ngModel)]="admin.diplomaUniversityView">University
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="diplomaSpecialization" #diplomaSpecialization="ngModel" required [(ngModel)]="admin.diplomaSpecializationView">Specialization
            </label>&nbsp;&nbsp;
            <div *ngIf="admin.diplomaForm == true">
              <div *ngIf="diplomaSpecialization.invalid && myForm.submitted" class="help-block">
                <div *ngIf="diplomaSpecialization.errors.required">
                  Please Enter Specialization.
                </div>
              </div>
            </div>
            <label class="checkbox-inline">
              <input type="checkbox" name="diplomaTotalMark" [(ngModel)]="admin.diplomaTotalMarksView">Total Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="diplomaObtain" [(ngModel)]="admin.diplomaObtainarksView">Obtain Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="diplomaPercentage" [(ngModel)]="admin.diplomaPercentageView">Percentage
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="diplomaCourse" [(ngModel)]="admin.diplomaCourseTypeView">Course Type
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="diplomaCertificate" [(ngModel)]="admin.diplomaCertificateView">Upload Certificate
            </label>
            <br>
            <label>Minimum Percentage:</label>
            <input type="text" size="2" class="form-control" name="diplomaMin" minlength="2" maxlength="2" [(ngModel)]="admin.diplomaMinPercent"> -->


          <!----------------------- ITI----------------------------- -->
          <div class="col-sm-12" *ngIf="technicalCheck">

            <label class="inputsm col-xs-1" for="gen">ITI :</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="iti" #iti="ngModel" [value]='true' [checked]="false" (change)="itiChange(true)" [(ngModel)]="admin.itiForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="iti" #iti="ngModel" [value]='false' [checked]="false" (change)="itiChange(false)" [(ngModel)]="admin.itiForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="admin.technicalForm == true">
                <div *ngIf="iti.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="iti.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 form-inline" *ngIf="itiCheck && technicalCheck">


            <div class="row" style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiBranch" [(ngModel)]="admin.itiBranchView">Iti Branch
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiYear" [(ngModel)]="admin.itiYearView">Year Of Passing
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiInstitution" [(ngModel)]="admin.itiInstitutionView">Institution
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiUniversity" [(ngModel)]="admin.itiUniversityView">University
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiSpecialization" #itiSpecialization="ngModel" required [(ngModel)]="admin.itiSpecializationView">Specialization
                  <div *ngIf="admin.itiForm == true">
                    <div *ngIf="itiSpecialization.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="itiSpecialization.errors.required">
                        Please Enter Specialization.
                      </div>
                    </div>
                  </div>
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiTotal" [(ngModel)]="admin.itiTotalMarksView">Total Marks
                </label>
              </div>
            </div>
            <div class="row" style="margin-left:1px;">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiObtain" [(ngModel)]="admin.itiObtainarksView">Obtain Marks
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiPercentage" [(ngModel)]="admin.itiPercentageView">Percentage
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiCourse" [(ngModel)]="admin.itiCourseTypeView">Course Type
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="itiUpload" [(ngModel)]="admin.itiCertificateView">Upload Certificate
                </label>
              </div>
              <label class="inputsm col-xs-1">Minimum Percentage:</label>
              <div class="col-sm-2">
                <input type="text" size="2" class="form-control" name="itiMin" minlength="2" maxlength="2" [(ngModel)]="admin.itiMinPercent">
              </div>
            </div>
          </div>
          <!-- 
            <label class="checkbox-inline">
              <input type="checkbox" name="itiBranch" [(ngModel)]="admin.itiBranchView">Iti Branch
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="itiYear" [(ngModel)]="admin.itiYearView">Year Of Passing
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="itiInstitution" [(ngModel)]="admin.itiInstitutionView">Institution
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="itiUniversity" [(ngModel)]="admin.itiUniversityView">University
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="itiSpecialization" #itiSpecialization="ngModel" required [(ngModel)]="admin.itiSpecializationView">Specialization
            </label>&nbsp;&nbsp;
            <div *ngIf="admin.itiForm == true">
              <div *ngIf="itiSpecialization.invalid && myForm.submitted" class="help-block">
                <div *ngIf="itiSpecialization.errors.required">
                  Please Enter Specialization.
                </div>
              </div>
            </div>
            <label class="checkbox-inline">
              <input type="checkbox" name="itiTotal" [(ngModel)]="admin.itiTotalMarksView">Total Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="itiObtain" [(ngModel)]="admin.itiObtainarksView">Obtain Marks
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="itiPercentage" [(ngModel)]="admin.itiPercentageView">Percentage
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="itiCourse" [(ngModel)]="admin.itiCourseTypeView">Course Type
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="itiUpload" [(ngModel)]="admin.itiCertificateView">Upload Certificate
            </label>
            <br>
            <label>Minimum Percentage:</label>
            <input type="text" size="2" class="form-control" name="itiMin" minlength="2" maxlength="2" [(ngModel)]="admin.itiMinPercent"> -->

          <div class="help-block" style="padding-left:80px;" *ngIf="technicalQualiMsgis">
            {{technicalQualiMsg}}
          </div>
        </div>



        <hr class="horizontal_row" />

        <div class="form-group">
          <div class="col-sm-12">
            <label class="inputsm col-xs-2" for="gen">Driving Licence: </label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="licence" #licence="ngModel" [value]='true' [checked]="false" (change)="licenceChange(true)" [(ngModel)]="admin.drivingLicenseForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="licence" #licence="ngModel" [value]='false' [checked]="false" (change)="licenceChange(false)" [(ngModel)]="admin.drivingLicenseForm"
                  required>&nbsp;No
              </label>

              <div *ngIf="licence.invalid && myForm.submitted" class="help-block">
                <div *ngIf="licence.errors.required">
                  Please Select Driving Licence.
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-12 form-inline" *ngIf="licenceCheck" style="text-align:center">
            <div class="row">

              <div class="col-sm-2" style="margin-left:1px;">
                <label class="checkbox-inline">
                  <input type="checkbox" name="drivingUpload" [(ngModel)]="admin.drivingUploadView">Upload Driving Licence
                </label>
              </div> &nbsp;
              <div class="col-sm-2" style="margin-left:0px;"> 
                <label class="checkbox-inline">
                  <input type="checkbox" name="drivingExperience" [(ngModel)]="admin.drivingExpUploadView">Upload Certificate
                </label>
              </div>

            </div>
            <!-- <label class="checkbox-inline">
              <input type="checkbox" name="drivingUpload" [(ngModel)]="admin.drivingUploadView">Upload Driving Licence
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="drivingExperience" [(ngModel)]="admin.drivingExpUploadView">Upload Experience Certificate
            </label> -->
          </div>

          <div class="col-sm-12" *ngIf="licenceCheck">
            <label class="inputsm col-xs-1" for="gen">LMV:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="lmv" #lmv="ngModel" [value]='true' [checked]="false" (change)="lmvChange(true)" [(ngModel)]="admin.drivingLicenseLmvForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="lmv" #lmv="ngModel" [value]='false' [checked]="false" (change)="lmvChange(false)" [(ngModel)]="admin.drivingLicenseLmvForm"
                  required>&nbsp;No
              </label>

              <div *ngIf="admin.drivingLicenseForm == true">
                <div *ngIf="lmv.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="lmv.errors.required">
                    Please Select .
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-inline" *ngIf="lmvCheck && licenceCheck">

            <div class="row" style="margin-left:1px;">


              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="licenceno" [(ngModel)]="admin.licenceNumberLmvView">Licence No
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="licencedate" [(ngModel)]="admin.issueDateLmvView">Date of Issue
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="validityto" [(ngModel)]="admin.validUptoLmvView">Validity Upto
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="issueauthority" #issueauthority="ngModel" required [(ngModel)]="admin.issuingAuthorityLmvView">Issuing Authority
                  <div *ngIf="admin.drivingLicenseLmvForm == true">
                    <div *ngIf="issueauthority.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="issueauthority.errors.required">
                        Please Enter Issuing Authority.
                      </div>
                    </div>
                  </div>
                </label>
              </div>

            </div>

            <!-- <label class="checkbox-inline">
              <input type="checkbox" name="licenceno" [(ngModel)]="admin.licenceNumberLmvView">Licence No
            </label> &nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="licencedate" [(ngModel)]="admin.issueDateLmvView">Date of Issue
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="validityto" [(ngModel)]="admin.validUptoLmvView">Validity Upto
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="issueauthority" #issueauthority="ngModel" required [(ngModel)]="admin.issuingAuthorityLmvView">Issuing Authority
            </label> &nbsp;&nbsp;
            <div *ngIf="admin.drivingLicenseLmvForm == true">
              <div *ngIf="issueauthority.invalid && myForm.submitted" class="help-block">
                <div *ngIf="issueauthority.errors.required">
                  Please Enter Issuing Authority.
                </div>
              </div>
            </div> -->
          </div>


          <div class="col-sm-12" *ngIf="licenceCheck">
            <label class="inputsm col-xs-1" for="gen">HGMV:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="hgmv" #hgmv="ngModel" [value]='true' [checked]="false" (change)="hgmvChange(true)" [(ngModel)]="admin.drivingLicenseHgmvForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="hgmv" #hgmv="ngModel" [value]='false' [checked]="false" (change)="hgmvChange(false)" [(ngModel)]="admin.drivingLicenseHgmvForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="admin.drivingLicenseForm == true">
                <div *ngIf="hgmv.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="hgmv.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-inline" *ngIf="hgmvCheck && licenceCheck">

            <div class="row" style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="hlicenceno" [(ngModel)]="admin.licenceNumberHgmvView">Licence No
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="hdateissue" [(ngModel)]="admin.issueDateHgmvView">Date of Issue
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="hvalidity" [(ngModel)]="admin.validUptoHgmvView">Validity Upto
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="hissuename" #hissuename="ngModel" required [(ngModel)]="admin.issuingAuthorityHgmvView">Issuing Authority
                  <div *ngIf="admin.drivingLicenseHgmvForm == true">
                    <div *ngIf="hissuename.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="hissuename.errors.required">
                        Please Enter Issuing Authority.
                      </div>
                    </div>
                  </div>
                </label>
              </div>

            </div>

            <!-- <label class="checkbox-inline">
              <input type="checkbox" name="hlicenceno" [(ngModel)]="admin.licenceNumberHgmvView">Licence No
            </label> &nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="hdateissue" [(ngModel)]="admin.issueDateHgmvView">Date of Issue
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="hvalidity" [(ngModel)]="admin.validUptoHgmvView">Validity Upto
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="hissuename" #hissuename="ngModel" required [(ngModel)]="admin.issuingAuthorityHgmvView">Issuing Authority
            </label> &nbsp;&nbsp;
            <div *ngIf="admin.drivingLicenseHgmvForm == true">
              <div *ngIf="hissuename.invalid && myForm.submitted" class="help-block">
                <div *ngIf="hissuename.errors.required">
                  Please Enter Issuing Authority.
                </div>
              </div>
            </div> -->

          </div>

          <div class="col-sm-12" *ngIf="licenceCheck">

            <label class="inputsm col-xs-1" for="gen">Road Roller:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="road" #road="ngModel" [value]='true' [checked]="false" (change)="roadChange(true)" [(ngModel)]="admin.drivingLicenceRoadForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="road" #road="ngModel" [value]='false' [checked]="false" (change)="roadChange(false)" [(ngModel)]="admin.drivingLicenceRoadForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="admin.drivingLicenseForm == true">
                <div *ngIf="road.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="road.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-inline" *ngIf="rrCheck && licenceCheck">

            <div class="row" style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="rlicenceno" [(ngModel)]="admin.licenceNumberRoadView">Licence No
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="rlicencedate" [(ngModel)]="admin.issueDateRoadView">Date of Issue
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="rvalidityto" [(ngModel)]="admin.validUptoRoadView">Validity Upto
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="rissueauthority" #rissueauthority="ngModel" required [(ngModel)]="admin.issuingAuthorityRoadView">Issuing Authority
                  <div *ngIf="admin.drivingLicenceRoadForm == true">
                    <div *ngIf="rissueauthority.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="rissueauthority.errors.required">
                        Please Enter Issuing Authority.
                      </div>
                    </div>
                  </div>
                </label>
              </div>

            </div>
            <!-- <label class="checkbox-inline">
              <input type="checkbox" name="rlicenceno" [(ngModel)]="admin.licenceNumberRoadView">Licence No
            </label> &nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="rlicencedate" [(ngModel)]="admin.issueDateRoadView">Date of Issue
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="rvalidityto" [(ngModel)]="admin.validUptoRoadView">Validity Upto
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="rissueauthority" #rissueauthority="ngModel" required [(ngModel)]="admin.issuingAuthorityRoadView">Issuing Authority
            </label> &nbsp;&nbsp;
            <div *ngIf="admin.drivingLicenceRoadForm == true">
              <div *ngIf="rissueauthority.invalid && myForm.submitted" class="help-block">
                <div *ngIf="rissueauthority.errors.required">
                  Please Enter Issuing Authority.
                </div>
              </div>
            </div>
             -->
          </div>
          <br>
          <div class="col-sm-12" *ngIf="licenceCheck">
            <label class="inputsm col-xs-1" for="gen">Loader/Excavator:</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type='radio' name="oeg" #oeg="ngModel" [value]='true' [checked]="false" (change)="oegChange(true)" [(ngModel)]="admin.drivingLicenceOegForm"
                  required>&nbsp;Yes
              </label>
              <label class="radio-inline">
                <input type='radio' name="oeg" #oeg="ngModel" [value]='false' [checked]="false" (change)="oegChange(false)" [(ngModel)]="admin.drivingLicenceOegForm"
                  required>&nbsp;No
              </label>
              <div *ngIf="admin.drivingLicenseForm == true">
                <div *ngIf="oeg.invalid && myForm.submitted" class="help-block">
                  <div *ngIf="oeg.errors.required">
                    Please Select.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-inline" *ngIf="oegCheck && licenceCheck">

            <div class="row" style="margin-left:1px;">

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="oeglicenceno" [(ngModel)]="admin.licenceNumberOegView">Licence No
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="oeglicencedate" [(ngModel)]="admin.issueDateOegView">Date of Issue
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="oegvalidityto" [(ngModel)]="admin.validUptoOegView">Validity Upto
                </label>
              </div>
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" name="oegissueauthority" #oegissueauthority="ngModel" required [(ngModel)]="admin.issuingAuthorityOegView">Issuing Authority
                  <div *ngIf="admin.drivingLicenceOegForm == true">
                    <div *ngIf="oegissueauthority.invalid && myForm.submitted" class="help-block">
                      <div *ngIf="oegissueauthority.errors.required">
                        Please Enter Issuing Authority.
                      </div>
                    </div>
                  </div>
                </label>
              </div>

            </div>

            <!-- <label class="checkbox-inline">
              <input type="checkbox" name="oeglicenceno" [(ngModel)]="admin.licenceNumberOegView">Licence No
            </label> &nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="oeglicencedate" [(ngModel)]="admin.issueDateOegView">Date of Issue
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="oegvalidityto" [(ngModel)]="admin.validUptoOegView">Validity Upto
            </label>&nbsp;&nbsp;
            <label class="checkbox-inline">
              <input type="checkbox" name="oegissueauthority" #oegissueauthority="ngModel" required [(ngModel)]="admin.issuingAuthorityOegView">Issuing Authority
            </label> &nbsp;&nbsp;
            <div *ngIf="admin.drivingLicenceOegForm == true">
              <div *ngIf="oegissueauthority.invalid && myForm.submitted" class="help-block">
                <div *ngIf="oegissueauthority.errors.required">
                  Please Enter Issuing Authority.
                </div>
              </div>
            </div> -->

          </div>

          <div class="help-block" style="padding-left:80px;" *ngIf="drivingLicenseMsgis">
            {{drivingLicenseMsg}}
          </div>

        </div>

        <hr class="horizontal_row" />

        <div class="form-group" style="text-align:center;">
          <div class="col-sm-12">
            <button class="btn btn-success" style="margin-bottom:10px;">ADD POST&nbsp;&nbsp;
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>

      </form>

    </div>
  </div>



  <!-- <div class=" alert alert-success" style="text-align: center;" *ngIf="successField && !successDoc">
    <p>
      <strong>Job fields created successfully! Please Upload Document!</strong>
    </p> -->
  <div style="text-align: center;" *ngIf="successField && !successDoc">
    <h3 class="successmsg">
      Job fields created successfully! Please Upload Document!
    </h3>
    <form class="form-horizontal" name="myform" (ngSubmit)="uploadDocument()" #uploadForm="ngForm" nonvalidate>
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="form-group">
        <label class="control-label col-sm-4" for="post_name">Upload Advertisement (विज्ञापन अपलोड करें) :
          <span class="req" style="color: Red">*</span>
        </label>
        <div class="col-sm-8 form-inline">
          <input type="file" class="form-control" name="categoryfile" (change)="documentChange($event)">
          <div *ngIf="uploadForm.submitted && !documentRequired" class="help-block">Upload PDF Doc</div>
          <div *ngIf="documentType" class="help-block">Only PDF allowed</div>
          <div *ngIf="documentSize" class="help-block">Size should be between 250kb to 300kb</div>

        </div>
      </div>

      <hr class="horizontal_row" />

      <div class="form-group" style="text-align:center;">
        <div class="col-sm-12">
          <button class="btn btn-success" style="margin-bottom:10px;">UPLOAD&nbsp;&nbsp;
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </div>
      <div style="text-align: center;" *ngIf="authenticationError">
        <h3 class="errormsg">Something went wrong. Please try again!</h3>
      </div>
    </form>
  </div>


  <div style="text-align: center;" *ngIf="successDoc && !authenticationError">
    <h3 class="successmsg">
      Document Uploaded successfully !
    </h3>
  </div>


  <div style="text-align: center;" *ngIf="authenticationError">
    <h3 class="errormsg">
      Error while Uploading! Please Try again.!
    </h3>
  </div>
</div>