label{
    font-size: 13px;
    margin-top: 7px;
    font-stretch: condensed;
    
}

.input-sm {
    color: black;
    font-weight: 600;
    height: 28px;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 28px;
}

.form-inline[_ngcontent-c0] .form-control[_ngcontent-c0] {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 28px;
    margin-top: 10px;
}
.font{
    font-family: initial;
    border-bottom:1px solid FireBrick;
    font-style: initial;
    font-weight: bold;
    font-size:1.3em;
    padding-left: 20px;
    margin-top:10px;
}
.border{
    border:1px solid #ccc !important;
    border-radius: 25px;
    margin-top:10px;

}


