<div class="container">

    <hr style="border: 2px solid DarkRed" />​
    <br>
    <br>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center">
                        <b>Forget Registration No. or Password</b>
                    </h3>
                </div>
                <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                    <strong>Email address isn't registered!</strong> Please check and try again.
                </div>

                <!-- <div class="alert alert-warning" *ngIf="!success">
                <p>Enter the email address you used to register.</p>
            </div> -->

                <div class="alert alert-success" *ngIf="success === 'OK'">
                    <p>Check your emails for details on how to reset your password.</p>
                </div>

                <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                    <div class="form-group" style="margin-left:80px;">
                        <label class="control-label col-sm-2" for="email"><b>Email:</b></label>
                        <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your email" [(ngModel)]="resetAccount.email"
                            minlength=5 maxlength=120 #emailInput="ngModel" email required>
                        <div *ngIf="emailInput.dirty && emailInput.invalid">
                            <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                                Your email is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="emailInput.errors.email">
                                Your email is invalid.
                            </small>
                            <small class="form-text text-danger" *ngIf="emailInput.errors.minlength">
                                Your email is required to be at least 5 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength">
                                Your email cannot be longer than 100 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
               
                <div class="form-group">                 
                    <div class="col-xs-offset-4" style="margin-left:220px;" >
                        <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-danger">Reset</button>
                    </div>
                </div>
                    
                </form>

            </div>
        </div>
    </div>
</div>