.notContent{
  padding-top : "20px";
  padding-bottom : "20px";
  text-align: center;
 
}

table, th, td {
  font-size: 13px;
  margin-top: 7px;
  font-stretch: condensed;
  
}

label{
  font-size: 13px;
  font-stretch: condensed;
  margin-top: 27px;
  margin-left: 17px;

}

select.input-sm {
  height: 26px;
  line-height: 30px;
}

select.input-sm[_ngcontent-c0] {
  height: 26px;
  line-height: 28px;
  font-weight: 100;
}

.input-sm {
  color: black;
  font-weight: 600;
  height: 28px;
} 

.font{
  font-family: initial;
  border-bottom:1px solid FireBrick;
  font-style: initial;
  font-weight: bold;
  font-size:1.3em;
  padding-left: 20px;
  margin-top:10px;
}
.border{
  border:1px solid #ccc !important;
  border-radius: 25px;
  margin-top:10px;

}


