<div class="container">
        
            <hr style="border: 2px solid DarkRed" />​
            <br>
            <br>
        
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
        
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" align="center">
                            <b>Reset password</b>
                        </h3>
                    </div>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-success" *ngIf="!success && !keyMissing">
                <p style="text-align:center;">Choose a new password</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Your password has been reset.</strong> Please </span>
                <a class="alert-link" (click)="login()">sign in</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                  <div class="form-group" style="text-align:right;">
                        <label class="control-label col-sm-5" for="password">New password:</label>
                        <div class="col-sm-6" >
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="New password"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=20 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                Your password is required.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                                Your password is required to be at least 4 characters.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                                Your password cannot be longer than 50 characters.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>
                </div>
                <br>
                      
                <div class="form-group" style="text-align:right;">
                    <label class="control-label col-sm-5" for="confirmPassword">New password confirmation:</label>
                        <div class="col-sm-6">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirm the new password"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=20 required>
                            <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                <small class="form-text text-danger"
                                *ngIf="confirmPasswordInput.errors.required">
                                    Your password confirmation is required.
                                </small>
                                <small class="form-text text-danger"
                                *ngIf="confirmPasswordInput.errors.minlength">
                                    Your password confirmation is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger"
                                *ngIf="confirmPasswordInput.errors.maxlength">
                                    Your password confirmation cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                </div>

                <br>
                <br>
                <br>
                <br>  
                <div class="form-group" style="text-align:center;">
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-danger">Reset Password</button>
                </div>  
                   
                </form>
            </div>

        </div>
    </div>
</div>
</div>
