<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <li>
                    <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Post</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate List</a>
                </li>
                <li>
                    <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Report</a>
                </li>
                <li>
                    <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Physical Test Report</a>
                </li>
                <li>
                    <a routerLink="/admin/create/center" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Create Center</a>
                </li>
                <li>
                    <a routerLink="/admin/job/marks" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Candidate Marks </a>
                </li>
                <li>
                        <a routerLink="/admin/candidate/scanner" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Scanner</a>
                    </li>
                <li>
                    <a (click)="logout()" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Logout</a>
                </li>
            </ul>
        </div>
    </div>



    <div class="row-fluid">
        <div class="col-sm-12 border">
            <div class="font">
                
                    CREATE POST
                
                <br>
            </div>
            <form class="form-horizontal" (ngSubmit)="myForm.form.valid && saveJob()" #myForm="ngForm" nonvalidate>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                <div class="row">
                    <div style="text-align: center;" *ngIf="successField">
                        <h3 class="successmsg">
                            Job created successfully!
                        </h3>
                    </div>
                    <div style="text-align: center;" *ngIf="authenticationError">
                        <h3 class="errormsg">Something went wrong. Please try again!</h3>
                    </div>
                    <div class="table-responsive">

                        <table class="table table-striped">

                            <thead>
                                <tr class="row">
                                    <th class="inputsm col-xs-2">Post Name</th>
                                    <th class="inputsm col-xs-2">Post Description</th>
                                    <th class="col-sm-1">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="row" *ngFor="let ad of admin; let i = index; let first = first; let last = last;" >
                                    <td class="inputsm col-xs-5">
                                        <div class="col-sm-10"  [ngClass]="{ 'has-error': myForm.submitted && !postName.valid }"   style=" margin-left: -19px;" >
                                        
                                            <input type="text" class="form-control input-sm" placeholder="Enter Post Name" name="postName{{i}}" maxlength="50" [(ngModel)]="ad.jobTitle"
                                                #postName="ngModel" required>
                                            <div *ngIf="postName.invalid && myForm.submitted" class="help-block">
                                                <div *ngIf="postName.errors.required">
                                                    Please Enter Post Name.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="inputsm col-xs-5">
                                        <div class="col-sm-10" [ngClass]="{ 'has-error': myForm.submitted && !postDesc.valid }" style=" margin-left: -19px;">
                                            <input type="text" class="form-control input-sm" placeholder="Enter Post Description" name="postDesc{{i}}" maxlength="50" [(ngModel)]="ad.jobDesc"
                                                #postDesc="ngModel" required>
                                            <div *ngIf="postDesc.invalid && myForm.submitted" class="help-block">
                                                <div *ngIf="postDesc.errors.required">
                                                    Please Enter Post Description.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-1">
                                        <a class="glyphicon glyphicon-plus clickPoint" data-toggle="tooltip" title="Add" style="color:green" (click)="addPost()"
                                            *ngIf="last && i < 9"></a> &nbsp;
                                        <a class="glyphicon glyphicon-trash clickPoint" data-toggle="tooltip" title="Delete" style="color:red" (click)="removePost(i)"
                                            *ngIf="!first"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group" style="text-align:center;">
                    <div class="col-sm-12">
                        <button class="btn btnc btnc btn-success" style="margin-bottom:10px;">Save
                        </button>

                    </div>

                </div>
            </form>
            <hr class="horizontal_row" />
            <br/>
            <div style="text-align:center;" *ngIf="deleteField">

                <h3 class="successmsg">Job Deleted successfully!</h3>

            </div>
            <form class="form-horizontal">
                <div class="row">

                    <div class="row" *ngIf="noJobsCreated">

                        <div class="col-sm-offset-4 col-sm-4 ">


                            <img src="../../../assets/images/DataNotFound.jpg" />
                        </div>
                    </div>

                    <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 table-responsive">

                        <table class="table table-sm table-striped table-bordered table-hover"  *ngIf="!noJobsCreated">

                            <thead>
                                <tr class="row">
                                    <th>S No.</th>
                                    <th>Post Name</th>
                                    <th>Post Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>


                            <tbody>
                                <tr class="row " *ngFor="let job of jobList | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td> 
                                        {{job.jobTitle}}
                                    </td>
                                    <td>
                                        {{job.jobDesc}}
                                    </td>
                                    <td>
                                        <a class="glyphicon glyphicon-pencil clickPoint" data-toggle="tooltip" title="edit" style="color:green" (click)="editPost(template, job)"></a> &nbsp;
                                        <a class="glyphicon glyphicon-trash clickPoint" data-toggle="tooltip" title="Delete" style="color:red" (click)="removeJob(job)"></a> &nbsp;
                                        <button class="btn btn-xs btn-primary" title="Add Job Field" style="margin-bottom:10px"
                                            (click)="addJobFields(job)">Add fields </button>
                                        <!-- <a class="glyphicon glyphicon-plus clickPoint" data-toggle="tooltip" title="Add Job Field" style="color:green" (click)="addJobFields(job)"></a> -->
                                    </td>
                                </tr>



                            </tbody>
                        </table>


                    </div>

                    <div class="form-group  col-sm-12"  style="text-align:center" *ngIf="!noJobsCreated">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title" >
           Job Update 
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row modal-body">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="form-group">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th *ngIf="!successEdit" style="font-size: 13px;font-stretch: condensed;text-align: center;">Add Post Name</th>
                            <th *ngIf="!successEdit" style="font-size: 13px;font-stretch: condensed;text-align: center;">Add Post Description</th>


                        </tr>
                    </thead>
                    <td class="col-sm-offset-2 col-sm-4" *ngIf="!successEdit">
                        <input type="text" class="form-control" placeholder="Add Post Name" name="postName{{i}}" maxlength="50" [(ngModel)]="jobName.jobTitle">
                    </td>

                    <td class="col-sm-4" *ngIf="!successEdit">
                        <input type="text" class="form-control" placeholder="Add Post Description" name="postName{{i}}" maxlength="50" [(ngModel)]="jobName.jobDesc">
                    </td>
                    <div *ngIf="successEdit" style="text-align:center;">
                        <h3 class="successmsg">Job updated successfully !</h3>
                    </div>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="successEdit" (click)="saveEditPost()">Save</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
    </div>

</ng-template>