.input-sm {
    color: black;
    font-weight: 600;
    height: 28px;
}



.modal-header {
  
    
    font-size:1.3em; 
    
    font-family: initial;
    text-align: center;
    
}


.modal-body {
    position: relative;
    padding: 15px;
   
}


.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}



.form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.font{
    font-family: initial;
    border-bottom:1px solid FireBrick;
    font-style: initial;
    font-weight: bold;
    font-size:1.3em;
    padding-left: 20px;
    margin-top:10px;
}
.border{
    border:1px solid #ccc !important;
    border-radius: 25px;
    margin-top:10px;

}