<div class="container">
    <hr style="border: 1px solid FireBrick" />​

    
    <div class="row" class="text-center">
            <a routerLink="/admin/register" data-toggle="tooltip" data-placement="top" title="Registration" style="color:green">
                <h5>New Registration Here<span class="glyphicon glyphicon-user"></span></h5> 
            </a>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12" style="margin-bottom:15px;text-align:center;">
            <form class="form-inline" #adminForm="ngForm" (ngSubmit)="adminForm.form.valid && loginAdmin()" novalidate>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                <div class="form-group" [ngClass]="{ 'has-error': adminForm.submitted && !adminname.valid }">
                    <div class="input-group">
                        <span class="input-group-addon addon-color">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control input-sm" name="adminname" placeholder="Enter user id" maxLength="50" [(ngModel)]="admin.username"
                            #adminname="ngModel" required>
                    </div>

                    <!-- <div *ngIf="adminForm.controls.userControl.invalid && (adminForm.controls.userControl.dirty || !adminForm.controls.userControl.touched)">
                      <div class="help-block" *ngIf="adminForm.controls.userControl.errors.required && !submitted">Required</div>
                  </div> -->
                    <div *ngIf="adminForm.submitted && !adminname.valid" class="help-block">User id is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': adminForm.submitted && !password.valid }">
                    <div class="input-group">
                        <span class="input-group-addon addon-color">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input type="password" class="form-control input-sm" name="password" placeholder="Enter password" maxLength="20" [(ngModel)]="admin.password"
                            #password="ngModel" required>
                        <!-- <div *ngIf="adminForm.controls.passwordControl.invalid && (adminForm.controls.passwordControl.dirty || !adminForm.controls.passwordControl.touched)">
                      <div class="help-block" *ngIf="adminForm.controls.passwordControl.errors.required && !submitted">Required</div>
                      <div class="help-block" *ngIf="adminForm.controls.passwordControl.errors.minlength && !submitted">minimum 6 character</div>
                  </div> -->
                    </div>
                    <div *ngIf="adminForm.submitted && !password.valid" class="help-block">Passsword is required</div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-log-in"></i> Log in
                </button>

               
                <div class="errormsg" *ngIf=authenticationError>
                    <p style="padding-right:50px;">Username or password is incorrect.</p>
                </div>
            </form>
        </div>
    </div>
  

    <carousel>
        <slide>
            <img src="../../assets/images/border1.jpg" alt="First slide">
        </slide>
        <slide>
            <img src="../../assets/images/border2.jpg" alt="Second slide">
        </slide>
        <slide>
            <img src="../../assets/images/border3.jpg" alt="Third slide">
        </slide>
        <slide>
            <img src="../../assets/images/border4.jpg" alt="Second slide">
        </slide>
        <slide>
            <img src="../../assets/images/border5.jpg" alt="Third slide">
        </slide>
    </carousel>
    <div class="navbar navbar-primary navbar-fixed-bottom">
        <div class="container">
            <h5 align="center">
                <a href="http://www.ysssolutions.net" style="font-family: initial; color:red"> Border Roads Organization</a>&copy; {{date}}-{{date1}}
        </h5>
        </div>
    </div>
</div>