<div class="container">
    <hr style="border: 2px solid DarkRed" />​
  
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-success">
          <div class="panel-heading" align="center">
            <p class="panel-title">
              New Candidate Registration
              <Br> Please give the information below(कृपया नीचे पूछी गई जानकारी दीजिए)</p>
          </div>
  
          <div class="panel-body">
            <!-- <div *ngIf="createSuccess">
              <h5 style="text-align:center;color:green;">
                Registration Successfully!
              </h5>
            </div> -->
             <div *ngIf="createError">
              <h5 style="text-align:center;color: red"><strong>Something went wrong. Please try again!</strong></h5>
            </div>
            <form name="form-login" #userForm="ngForm" (ngSubmit)="userForm.form.valid && newCandidateRegister()" novalidate>
              <div class="form-group row" style="margin-left: 0%;">
                <label for="email">Candidate Name:
                  <span class="req" style="color: Red">*</span>
                </label>
                <div class="form-group form-inline">
                  <input class="form-control input-sm" type="text" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" placeholder="Enter FirstName"
                    required>
                  <input class="form-control input-sm" type="text" name="middleName" [(ngModel)]="user.middleName" #middleName="ngModel" placeholder="Enter MiddleName"
                    required>
                  <input class="form-control input-sm" type="text" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" placeholder="Enter LastName"
                    required>
                  <div *ngIf="userForm.submitted && !firstName.valid" class="help-block validation_require">Please Enter First Name</div>
                </div>
  
              </div>
              <div class="col-sm-4">
                <div class="form-group row">
                  <label for="email">Date Of Birth:
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="form-group form-inline">
                    <input type="text" class="form-control input-sm" [bsConfig]="bsConfig" style="width:150px;" placeholder="mm/dd/yyyy" name="dob"
                      #dob="ngModel" [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="user.dateOfBirth" (ngModelChange)="getAge(user.dateOfBirth)"
                      bsDatepicker #dp="bsDatepicker" required>
                    <div *ngIf="userForm.submitted && !dob.valid" class="help-block validation_require">Please Enter dob </div>
                  </div>
  
                </div>
  
                <div class="form-group row">
                  <label for="email">Age as on(Date):
                  </label>
                  <div class="form-group form-inline">
                    <input type="text" maxlength="4" class="form-control input-sm" [(ngModel)]="user.age" name="age" #age="ngModel" [disabled]="true"
                      placeholder=" Age " style="width:150px;">
                  </div>
                </div>
  
                <div class="form-group row">
                  <label for="email">Nationality:
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="form-group form-inline">
                    <div [ngClass]="{ 'has-error': userForm.submitted && user.nationality == 0 }">
                      <select [(ngModel)]="user.nationality" name="nation" class="form-control input-sm" #nation="ngModel" style="width:150px;"
                        (change)="checkNation()" required>
                        <option [disabled]="true" [value]="0">Select</option>
                        <option *ngFor="let nation of nationalities" [value]="nation.name">{{nation.name}}</option>
                      </select>
                      <div *ngIf="user.nationality == 0">
                        <div *ngIf="userForm.submitted" class="help-block">Please Select Nationality.</div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="form-group row">
                  <label for="email">Upload:
                  </label>
                  <div class="form-group form-inline">
                    <!-- <input type="file" class="form-control input-sm" name="nationfile" (change)="nationfileChange($event)" [disabled]="nationcheck">
                    <div *ngIf="!nationcheck">
                      <div *ngIf="nationFileType" class="help-block">Only jpg/jpeg allowed</div>
                      <div *ngIf="nationFileSize" class="help-block">Size should be between 25kb to 30kb</div>
                      <div *ngIf="personalForm.submitted && !nationRequired" class="help-block">Please Upload Nationality Certificate.</div>
                    </div> -->
                  </div>
                </div>
  
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
                <div class="form-group row">
                  <label for="email">Email ID:
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="form-group form-inline">
                    <div [ngClass]="{ 'has-error': userForm.submitted && !emailadd.valid }">
                      <input type="email" maxlength="30" class="form-control input-sm" placeholder="Enter Email" name="emailadd" #emailadd="ngModel"
                        [(ngModel)]="user.emailAddress" pattern="[a-z0-9!#$%&'*+=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                        (change)="emailCheck(user.emailAddress)" required/>
                      <div *ngIf="emailadd.invalid && userForm.submitted" class="help-block">
                        <div *ngIf="emailadd.errors.required">
                          Please Enter Valid Email.
                        </div>
                        <div *ngIf="emailadd.errors.pattern && !emailadd.errors.minlength">
                          Invalid Email.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="form-group row">
                  <label for="email">Father Name:
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="form-group form-inline">
                    <input type="text" maxlength="30" class="form-control input-sm" name="fatherName" #fatherName="ngModel" [(ngModel)]="user.fatherName"
                      placeholder="Enter Father Name" pattern="^[a-zA-Z ]*$" required>
                    <div *ngIf="userForm.submitted && !fatherName.valid" class="help-block validation_require">an valid Father Name is required</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email">Gender:
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="form-group form-inline">
                    <div [ngClass]="{ 'has-error': userForm.submitted && user.gender == 0}">
                      <select [(ngModel)]="user.gender" name="gender" class="form-control input-sm" #gender="ngModel" required>
                        <option [disabled]="true" [value]="0">Select</option>
                        <option *ngFor="let gender of genders" [value]="gender.value">{{gender.name}}</option>
                      </select>
                      <div *ngIf="user.gender == 0">
                        <div *ngIf="userForm.submitted" class="help-block">Please Select Gender.</div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="form-group row">
                  <label for="email">Mobile Number:
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="form-group form-inline">
                    <div [ngClass]="{ 'has-error': userForm.submitted && !mob.valid }">
                      <input type="text" class="form-control input-sm" placeholder="Enter Mobile number" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" name="mob"
                        #mob="ngModel" [(ngModel)]="user.mobileNumber" maxlength="10" minlength="10" (keypress)="restrictNumeric($event)"
                        required/>
                      <div *ngIf="mob.invalid && userForm.submitted" class="help-block">
                        <div *ngIf="mob.errors.required">
                          Please Enter Mobile Number.
                        </div>
                        <div *ngIf="mob.errors.pattern && !mob.errors.minlength">
                          Invalid Number.
                        </div>
                        <div *ngIf="mob.errors.minlength">
                          Minimum 10 numbers.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
              <div class="col-sm-12">
                <div class="form-group row" style="text-align: center">
                  <input type="submit" class="btn btn-primary btn-sm" value="Save">
                  <input type="reset" class="btn btn-danger btn-sm" value="Reset">
                  <a routerLink="/home" class="btn btn-primary btn-sm">Back</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>